/* disclosure.st.css */
@namespace "Disclosure";
@st-import Button from "../Button/button.st.css";

.root {
  -st-states: isOpen;
}

.trigger {
  -st-extends: Button;
  -st-states: isOpen;
  /* background: none;
  border: none;
  padding: 0;
  width: 100%; */
  width: 100%;
}

.trigger:hover {
  cursor: pointer;
}

.triggerIcon {}

.transition {
  transition: opacity 250ms, margin-top 250ms, height 250ms;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.root:isOpen::transition {
  opacity: 1;
}

.transition .content {}
