/* disclosure.st.css */
@namespace "Disclosure";

:import {
  -st-from: "../Text/text.st.css";
  -st-default: Text;
}

.root {
  -st-states: isOpen;
}

.title {
  -st-extends: Text;
}

.trigger {
  background: none;
  border: none;
  padding: 0;
}

.trigger:hover {
  cursor: pointer;
}

.triggerIcon {}

.hiddenContent {
  transition: opacity 250ms, margin-top 250ms, height 250ms;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.root:isOpen::hiddenContent {
  opacity: 1;
}

.content {}
