/* disclosure.st.css */
@namespace "Disclosure";
@st-import Button from "../Button/button.st.css";

.root {
  -st-states: isExpanded;
}

.trigger {
  -st-extends: Button;
  width: 100%;
}

.trigger:hover {
  cursor: pointer;
}

.triggerIcon {}

.transition {
  transition: opacity 250ms, margin-top 250ms, height 250ms;
  overflow: hidden;
  display: block;
  opacity: 0;
}

.root:isExpanded::transition {
  opacity: 1;
}

.content {}
