/** inputSelection.st.css */
.root {
  -st-states: checked, disabled, error;
}

.inputContainer {}

.inputField {}

.radio {}

.checkbox {}

.toggle {}


/* Variants */

.variant1 {}

.variant2 {}

.variant3 {}

.variant4 {}

.variant5 {}

.variant6 {}


/* Volume */

.vol1 {}

.vol2 {}

.vol3 {}

.vol4 {}

.vol5 {}

.vol6 {}
