/**
 * = PSEUDO FOCUS - mixins/focus.st.css
 * 
 * ========================================================================= */

/* = Default project vars. */
:import {
  -st-from: "../../default/project.st.css";
  -st-named:
    --spacing-unit,
    --color-focus;
}

/* = pseudoFocus mixin. */
.pseudoFocus {
  display: block;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  opacity: 0;
  transition: opacity 120ms;
  box-shadow: 0 0 1px 2px var(--color-focus);
}

.pseudoFocusVisible {
  opacity: 1
}
