/**
 * = Pseudo focus shared styles.
 */
.pseudoFocus {
  display: block;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  /*= Give us that 'glow' effect for the focused state.*/
  /* box-shadow: 0 0 1px 2px value(--color-focus-default);
  box-shadow: 0 0 1px 2px var(--color-focus, value(--color-focus-default)); */
  opacity: 0;
  /* transition: opacity 0.2s; */
  transition: opacity 120ms;
}

.pseudoFocusVisible {
  opacity: 1
}
