/**
 * = Formatting
 *
 * Formatting - might need it's own file eventually.
 */

:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    --spacing-unit,
}

.formatted > p + p,
.formatted > p + h4,
.formatted > p + h5,
.formatted > h2 + p,
.formatted > h3 + p,
.formatted > h4 + p,
.formatted > h5 + p,
.formatted > h6 + p,
.formatted > h4 + h5 {
  margin-top: calc(var(--spacing-unit) * 2);
}

.formatted > blockquote {
  margin-top: calc(var(--spacing-unit) * 4);
  margin-bottom: calc(var(--spacing-unit) * 5);
  /* margin-bottom: 0; */
}

.formatted > p + div {
  /* margin-top: calc(var(--spacing-unit) * 2); */
}

.formatted > blockquote + Text {
  margin-top: calc(var(--spacing-unit) * 6);
}

.formatted > p + h2 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.formatted > p + Text.vol4 {
  margin-top: calc(var(--spacing-unit) * 8);
}

.formatted > p + h3,
.formatted > h2 + h3 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.formatted > p + h6 {
  margin-top: calc(var(--spacing-unit) * 2);
}
