/* = Default project vars. */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    --spacing-unit,
    --color-focus;
}

.menuList {
  outline: none;
  box-shadow: 0 0 1px 2px var(--color-focus);
  border: solid 1px transparent;
  padding: 0.25rem 0;
  font-size: 87%;
  margin-top: 4px;
  margin-bottom: 4px;
  white-space: nowrap;
  /* background: var(--color-background-1); */
}

/* .menuList .label {
  padding: 0.2rem var(--spacing-unit) 0.4rem;
  display: inline-block;
  font-size: 90%;
  letter-spacing: .3em;
  font-weight: 600;
  opacity: 0.7;
} */

.menuItem {
  display: grid;
  grid-template-columns: calc(var(--spacing-unit) / 2) auto 1fr 24px auto auto calc(var(--spacing-unit) / 2);
  grid-template-areas:
    ". . . . . . ."
      ".icon text checkmark end keyboard."
      ".icon description checkmark end keyboard."
      ". . . . . . .";
  grid-template-rows: calc(var(--spacing-unit) / 2) 1fr auto calc(var(--spacing-unit) / 2);
  user-select: none;
  color: inherit;
  font: inherit;
  outline: none;
  border-left: 2px solid transparent;
}

.menuItemFocusVisible {
  border-color: var(--color-focus);
}

.menuItemDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.menuItemText {
  grid-area: text;
}

.menuItemSelectedIcon {
  grid-area: checkmark;
  place-self: center end;
  font-size: 11px;
  color: var(--color-focus);
}
