/* = menuList.st.css. */
@st-import [
  --spacing-unit,
  --color-focus,
  --field-focus-color
] from "../project.st.css";

.menuList {
  outline: none;
  padding: 0.25rem 0;
  font-size: 87%;
  margin-top: 4px;
  margin-bottom: 4px;
  white-space: nowrap;
  min-width: 160px;
}

.menuItem {
  display: grid;
  grid-template-columns: calc(var(--spacing-unit) / 2) auto 1fr 24px auto auto calc(var(--spacing-unit) / 2);
  grid-template-areas:
    ". . . . . . ."
      ".icon text checkmark end keyboard."
      ".icon description checkmark end keyboard."
      ". . . . . . .";
  grid-template-rows: calc(var(--spacing-unit) / 2) 1fr auto calc(var(--spacing-unit) / 2);
  user-select: none;
  color: inherit;
  font: inherit;
  outline: none;
  border-left: 2px solid transparent;
}

.menuItemFocusVisible {
  border-color: var(--color-focus);
}

.menuItemDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.menuItemText {
  grid-area: text;
}

.menuItemSelectedIcon {
  grid-area: checkmark;
  place-self: center end;
  font-size: 11px;
  color: var(--color-focus);
}
