/** propsDemo.st.css */

:import {
  -st-from: "../../components/InputRow/inputRow.st.css";
  -st-default: InputRow;
}

:import {
  -st-from: "../../components/Label/label.st.css";
  -st-default: Label;
  -st-named: labelTextContainer, labelText, radioCheckInput;
}

:import {
  -st-from: "../../components/TextInput/textInput.st.css";
  -st-default: TextInput;
  -st-named: input;
}

:import {
  -st-from: "../../components/RadioCheckInput/radioCheckInput.st.css";
  -st-default: RadioCheckInput;
}

.root {}

.propsPlayground {}

.propInputs {}


.root {
  padding: 64px;
  padding-top: 54px;
  border: 1px dashed rgba(255, 255, 255, 0.13);
  margin: 48px 0;
  grid-column: outset-start / outset-end;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 5.1vw;
  grid-row-gap: 54px
}

.propsPlayground {
  grid-row: 1 / span 2;
  position: relative;
}

.codeExample {
  grid-row: 1;
  grid-column: 2;
}

.example {
  grid-column: 2;
  grid-row: 2;
}

.codeExample>div {
  margin-top: 0;
  height: 100%;
  margin-bottom: 0;
  border-radius: 0;
}

.propsHeading {
  /* margin: -44px 0 26px;
  text-align: right;
  text-align: end; */
  position: absolute;
  /* right: 0; */
  top: -70px;
}

.propsHint {
  color: #a9a9a9;
  margin-bottom: 24px;
}

.tsExtends {
  color: #a9a9a9;
  margin-top: 16px
}

.tsLogo {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1em;
  padding-top: 1em;
  width: 1.9em;
  text-align: end;
  font-family: Arial;
  letter-spacing: .05em;
  padding: .22em;
  padding-top: .9em;
  letter-spacing: -0.5px;
  background: #037acc;
  margin-right: 12px
}


.exampleHeading {
  margin-bottom: 24px
}

.propsHeading span {
  background: #181b24;
  display: inline-block;
  padding: 0 4px;
}

.propInputs {
  /* width: 50%; */
  display: grid;
  grid-row-gap: 1px;
  /* margin-bottom: 48px */
}


.root .propInputs InputRow {
  margin-bottom: 0;
  background: rgba(255, 255, 255, 0.04);
  /* background: rgba(160, 160, 160, 0.06); */
  /* rgba(255, 255, 255, 0.04) */
}

.root .propInputs InputRow Label {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.root .propInputs InputRow TextInput,
.root .propInputs InputRow Label::radioCheckInput {
  background: rgba(0, 0, 0, 0.07058823529411765);
}

.root .propInputs InputRow Label::radioCheckInput {
  border-left: 1px solid #33d25f45;
}



.root .propInputs InputRow.text,
.root .propInputs InputRow.textarea,
.root .propInputs InputRow.number,
.root .propInputs InputRow.checkbox Label {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 16px;
}

.root .propInputs InputRow.text Label,
.root .propInputs InputRow.textarea Label,
.root .propInputs InputRow.number Label,
.root .propInputs InputRow.checkbox Label::labelTextContainer {
  justify-content: center;
  align-items: flex-end;
}

.root .propInputs InputRow.checkbox Label {
  display: grid
}

.root .propInputs InputRow.checkbox Label RadioCheckInput {
  padding: 0
}

.root .propInputs InputRow.checkbox Label::labelTextContainer {
  display: inline-flex;
  flex-direction: column;
}

.root .propInputs InputRow TextInput input {
  /* padding-top: 0.4em;
  padding-bottom: 0.4em; */
}

.demo {
  /* background-size: 16px 16px;
  background-image: linear-gradient(45deg, #262a35 25%, transparent 25%), linear-gradient(-45deg, #262a35 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #262a35 75%), linear-gradient(-45deg, transparent 75%, #262a35 75%);
  background-position: 0 0, 0 8px, 8px -8px, -8px 0; */
}
