/** propsDemo.st.css */

:import {
  -st-from: "../../components/InputRow/inputRow.st.css";
  -st-default: InputRow;
}

:import {
  -st-from: "../../components/Label/label.st.css";
  -st-default: Label;
  -st-named: labelTextContainer, labelText, radioCheckInput;
}

:import {
  -st-from: "../../components/RadioCheckInput/radioCheckInput.st.css";
  -st-default: RadioCheckInput;
}

:import {
  -st-from: "../../components/TextInput/textInput.st.css";
  -st-default: TextInput;
  -st-named: input, textAreaWrap;
}

.root {}

.gridOverflow {}

.internalGrid {}

.propsPlayground {}

.codeExample {}

.demoExample {}

.exampleHeading {}

.propsHeading {}

.propsHint {}

.propInputs {}

.tsExtends {}

.tsLogo {}

.tsLogo {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1em;
  padding-top: 1em;
  width: 1.9em;
  text-align: end;
  font-family: Arial;
  letter-spacing: .05em;
  padding: .22em;
  padding-top: .9em;
  letter-spacing: -0.5px;
  background: #037acc;
  margin-right: 12px
}
