/** blcokquote.st.css */

/* Useful if you want some quote chars via the content property https://css-tricks.com/css-content/ */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    spacing-unit,
    --color-accent-1-default,
    --color-background-2-default;
}

@st-global-custom-property --color-accent-1,
--color-background-2;

:import {
  -st-from: "../../../components/Blockquote/blockquote.st.css";
  -st-default: Blockquote;
  -st-named:
    cite,
    content,
    footer,
}

:import {
  -st-from: "../../../components/Text/text.st.css";
  -st-default: Text;
}

@st-scope Default {

  /* Base styles. */
  Blockquote {}

  Blockquote::content {
    display: grid;
    grid-row-gap: 0.8rem;
    font-style: italic;
  }

  Blockquote::cite {
    font-style: normal;
  }

  Blockquote::cite a {}

  Blockquote::footer {
    margin-top: value(spacing-unit)
  }

  /**
   * =Variant 1 - Informal - 'chat'
   *
   * A useful style to get across a chat/conversation of some kind.
   * @todo: should be able to alternate the styles for a chat? 
   * Maybe we need a chat wrapper? Maybe in that format they should not be blockquotes...
   */

  /* @todo: Same time as upgrade switch to 'state' helpers as I much prefer this syntax: Blockquote:variant(1)::content { */
  Blockquote:variant(1)::content {
    background: var(--color-background-2, value(--color-background-2-default));
    background: rgba(255, 255, 255, 0.04);
    background: rgba(64, 121, 230, 0.87);
    /* background: var(--accent); */
    padding: 16px 36px;
    margin: 0 0 40px;
    max-width: 600px;
    border-radius: 4px;
    position: relative;
  }

  Blockquote:variant(1)::content::before {
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-background-2, value(--color-background-2-default));
    border-top: 20px solid rgba(255, 255, 255, 0.04);
    border-top-color: rgba(64, 121, 230, 0.87);
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
  }

  /**
   * = Variant 2 - 'academic'
   *
   * A typical main body style for proper quotes.
   */

  Blockquote:variant(2) {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-radius: 4px;
    position: relative;
    width: 100%;
    font-size: 92.5%;
  }

  Blockquote:variant(2)::content {
    position: relative;
  }

  Blockquote:variant(2)::content Text:first-child::before {
    display: none;
  }

  Blockquote:variant(2)::content::before {
    content: "";
    display: inline-block;
    position: absolute;
    opacity: 0.3;
    left: -1.5rem;
    border: 1px solid var(--color-accent-1);
    border-width: 1px 0 1px 1px;
    width: 18px;
    top: 0;
    bottom: 0
  }
}
