/** blcokquote.st.css */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    spacing-unit,
    --color-ui-default,
    --color-status-warn-default,
    --color-accent-1-default,
    --color-accent-2-default,
    --color-accent-3-default,
    --color-background-2-default;
}

:import {
  -st-from: "../../../components/Blockquote/blockquote.st.css";
  -st-default: Blockquote;
  -st-named:
    cite,
    content,
    footer,
    variant1,
    variant2
}

:import {
  -st-from: "../../../components/Text/text.st.css";
  -st-default: Text;
  -st-named: vol1, vol2, vol4;
}

@st-scope Default {

  /* Base styles. */
  Blockquote {
    /* local style values for variants. */
    --accent: var(--color-accent-1);
  }

  Blockquote::content {
    display: grid;
    grid-row-gap: 0.8rem;
    font-style: italic;
  }

  Blockquote::cite {
    font-style: normal;
    color: var(--accent);
  }

  Blockquote::cite a {
    color: var(--accent);
  }

  Blockquote::footer {
    margin-top: value(spacing-unit)
  }

  Blockquote::content Text:first-child::before {
    /* content: '"'; */
    content: open-quote;
    /* 
      \2018 – Left Single Smart Quote
      \2019 – Right Single Smart Quote
      \00A9 – Copyright
      \2713 – Checkmark
      \2192 – Right arrow
      \2190 – Left arrow
      https://css-tricks.com/css-content/
     */
    content: "\0022 ";
    display: inline-block;
    font-family: Tahoma;
    font-size: 1.6em;
    margin-left: -0.3em;
    margin-right: 0.2em;
    opacity: 0.8;
  }


  /**
   * Variant 1 - Informal - 'chat'
   * A useful style to get across a chat/conversation of some kind.
   * @todo: should be able to alternate the styles for a chat? 
   * Maybe we need a chat wrapper? Maybe in that format they should not be blockquotes...
   */

  Blockquote.variant1::content Text:first-child::before {
    /* display: none; */
    color: var(--accent);
  }

  /* 
  I much prefer this format: Blockquote:variant(1)::content { */
  Blockquote.variant1::content {
    background: var(--color-background-2, value(--color-background-2-default));
    background: rgba(255, 255, 255, 0.04);
    background: rgba(64, 121, 230, 0.87);
    /* background: var(--accent); */
    padding: 16px 36px;
    margin: 0 0 40px;
    max-width: 600px;
    border-radius: 4px;
    position: relative;
  }

  Blockquote.variant1::content::before {
    border-right: 20px solid transparent;
    border-top: 20px solid var(--color-background-2, value(--color-background-2-default));
    border-top: 20px solid rgba(255, 255, 255, 0.04);
    border-top-color: rgba(64, 121, 230, 0.87);
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
  }

  /* rgba(64, 121, 230, 0.87) */
  /* rgba(20, 85, 210, 0.87) */


  /**
   * Variant 1 - 'academic'
   * A typical main body style for proper quotes.
   */

  /* Blockquote.accent1::cite a,
  Blockquote.accent1::content::before,
  Blockquote.accent1::content Text:first-child::before
   */
  Blockquote.variant2 {
    /* background: rgba(0, 0, 0, 0.4); */
    /* background: var(--color-background-2, value(--color-background-2-default)); */
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    /* background: rgba(255, 255, 255, 0.04); */
    border-radius: 4px;
    position: relative;
    width: 100%;
    font-size: 92.5%;
  }

  Blockquote.variant2::content {
    position: relative;
  }

  Blockquote.variant2::content Text:first-child::before {
    display: none;
  }

  Blockquote.variant2::content::before {
    /* content: '"'; */
    /* content: open-quote; */
    content: "";
    display: inline-block;
    position: absolute;

    opacity: 0.3;
    left: -1.5rem;
    /* line-height: 1rem; */
    /* color: var(--accent); */
    border: 1px solid var(--accent);
    border-width: 1px 0 1px 1px;
    width: 18px;
    /* height: 56px; */
    top: 0;
    bottom: 0
  }


  Blockquote.variant2::content::before {
    /* top: -1.1rem;
    left: -1.5rem; */
  }


  Blockquote.variant2::content::after {
    /* bottom: -1.1rem;
    right: -1.5rem;
    border-width: 0 2px 2px 0; */
  }

  /* content: " ";
    display: inline-block;
    position: absolute;
    top: -1.1rem;
    left: -1.5rem;
    font-family: Tahoma;
    font-size: 5rem;
    opacity: 0.8;
    line-height: 1rem;
    color: var(--accent);
    width: 41px;
    height: 56px;
    border: 1px solid #d685ea7a;
    border-width: 2px 0 0 2px; */


  /* Accent colors */

  /* accent1 */
  Blockquote.accent1 {
    --accent: var(--color-accent-1);
  }

  /* accent2 */
  Blockquote.accent2 {
    --accent: var(--color-accent-2);
  }

  /* accent3 */
  Blockquote.accent3 {
    --accent: var(--color-accent-3);
  }


}
