/**
 * = BUTTON - button.st.css
 *
 * We only have one, so far so good. YOu should have enough sizes and hooks
 * but you can always add your own custome classes for whatever you need or 
 * wrap this button up inside other buttons pre configured for your usecases.
 * 
 * ========================================================================= */


/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    spacing-unit,
    --color-ui-default,
    --color-ui-inverse-default,
    --color-accent-1-default,
    --color-accent-2-default,
    --color-accent-3-default,
    --color-accent-4-default;
}

:import {
  -st-from: "../../../components/Button/button.st.css";
  -st-default: Button;
}

:import {
  -st-from: './utils.st.css';
  -st-named:
    peudoFocus,
    peudoFocusVisible;
}

:import {
  -st-from: "../../../components/Icon/icon.st.css";
  -st-default: Icon;
}

:import {
  -st-from: './mixins/formElements.st.css';
  -st-named:
    hideWebkitAppearance;
}

:import {
  -st-from: './mixins/text.st.css';
  -st-named:
    textVol;
}

:import {
  -st-from: "../formatters/common";
  -st-named: respScale;
}

:import {
  -st-from: '../../../components/mixins/visuallyHidden.st.css';
  -st-named: visuallyHidden;
}


/* This is how we can scope the styles in Stylable. */
@st-scope Default {

  /* = The base <button> element. */
  Button {
    /* = Removes system styles. */
    -st-mixin: hideWebkitAppearance;
    /* = Local variables values which are manipulated by other selectors. */
    --accent: transparent;
    --bg-color: transparent;
    --border-color: transparent;
    --text-color: inherit;
    /* = Set the like for like property: var; Accent is special, we use 
    it to store the colour index. */
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--border-color);
    /* = Vertical content alignment - kicks in when heights are 'known'. */
    align-items: center;
    /* = Persist border to maintain alignment should you be using borders as 
    part of additonal visual states. */
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    /**
     * = Opininated: Some disagree with setting cursor: pointer (the hand) on 
     * interactive elements arguing system controls don't do this. Meh, for 
     * us it offers an additional cue to interaction which we feel asserts 
     * confidence. Many sites do this so perhaps it's expected by many users. 
     */
    cursor: pointer;
    /* = Explicitly set font-family else it will default to system style. */
    font-family: inherit;
    /* = Weight choice will likely factor the font-smoothing used. */
    font-weight: 400;
    /* = Horizontal alignment. */
    justify-content: center;
    /* = Spaced out the characters a little as they are a little squashed in 
    uppercase land. */
    letter-spacing: .034em;
    /* Using em values allowing the button to 'grow' insync with font-size. */
    padding: .2em 1em;
    /* = Caters postioned children, e.g focus pseudo element. Also 
    'activates' z-index should you need it. */
    position: relative;
    /* = Effects - 'all' --maybe-- IS too much... project var perhaps. */
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    /* = Material defo popularised uppercase buttons, we like it but readability 
    takes a hit and be careful in some langauges such as Greek. */
    text-transform: uppercase;
    /* = Really really opinionated, only do this if you are willing to provide 
    a suitable replacement. We are control freaks. */
    outline: none;
  }

  /* = Inner <span> */
  Button::inner {
    /*= Put the padding on top so an icon can grow a little without affecting 
    the height.*/
    padding-top: 0.58em;
    padding-bottom: 0.55em;
  }

  /* = Divider - <span> rendered with Icon only, rename perhaps?*/
  Button::divider {
    display: inline-block;
    width: 1em;
    line-height: 0;
  }

  /* = Targets an Icon component if present. */
  Button Icon {
    /* = Not ideal as we get a little rounding issues on the svgs when they / 2 
    due to the respScale. */
    font-size: calc(1em + 2px);
  }

  Button:hover {
    opacity: 0.7;
  }

  Button::after {
    -st-mixin: peudoFocus border-radius: 4px;
  }

  Button:focus::after {
    -st-mixin: peudoFocusVisible;
  }


  /* Button CSS STATES PSEUDO */
  /* Disabled */
  Button:disabled,
  Button:disabled:hover,
  Button:disabled:focus,
  Button:disabled:active,
  Button:disabled:active:hover {
    opacity: 0.5
  }

  /* ACTIVE */
  Button:active,
  Button:active:hover {}

  /*==== VOLUMES ====*/

  /* Volume 1 */
  Button.vol1 {
    -st-mixin:
      textVol(scale respScale(0.625em, 0.75em),
        max 0.75em, lineHeight 1.5);
  }


  /* Volume 2 */
  Button.vol2 {
    -st-mixin:
      textVol(scale respScale(0.75em, 0.875em),
        max 0.875em, lineHeight 1.5);
  }

  /* Volume 3 */
  Button.vol3 {
    -st-mixin:
      textVol(scale respScale(0.875em, 1em),
        max 1em, lineHeight 1.5);
  }

  /* Volume 4 */
  Button.vol4 {
    -st-mixin:
      textVol(scale respScale(1em, 1.125em),
        max 1.125em, lineHeight 1.5);
  }

  /* Volume 5 */
  Button.vol5 {
    -st-mixin:
      textVol(scale respScale(1.125em, 1.25em),
        max 1.25em, lineHeight 1.5);
  }

  /* Volume 6 */
  Button.vol6 {
    font-size: respScale(1.25em, 1.375em);
    -st-mixin:
      textVol(scale respScale(1.25em, 1.375),
        max 1.375em, lineHeight 1.5);
  }


  /* Button COLOURS */

  Button.tone1 {
    --accent: var(--color-accent-1);
  }

  Button.tone2 {
    --accent: var(--color-accent-2);
  }

  Button.tone3 {
    --accent: var(--color-accent-3);
  }

  Button.tone4 {
    --accent: var(--color-accent-4);
  }


  /* DEFAULT */
  Button.variant1 {
    --text-color: var(--color-ui-inverse);
    --bg-color: var(--accent);
  }

  Button.variant2 {
    --border-color: var(--accent);
    -webkit-font-smoothing: antialiased;
  }

  /*= Variant 3 - FAB */
  Button.variant3 {
    --text-color: var(--color-ui-inverse);
    --bg-color: var(--accent);
    padding: 0;
    border-radius: 999px;
    justify-content: center;
  }

  Button.variant3::divider {
    display: none;
  }

  Button.variant3::inner {
    -st-mixin: visuallyHidden;
  }

  Button.variant3::after {
    border-radius: 999px;
  }

  /*= FAB are all about the icons so we don't want rounding issues on these. Set with values that / 2. */

  /*= FAB - Volume 1 */
  Button.variant3.vol1 {
    width: 32px;
    height: 32px;
  }

  Button.variant3.vol1 Icon {
    font-size: 16px;
  }

  /*= FAB - Volume 2 */
  Button.variant3.vol2 {
    width: 40px;
    height: 40px;
  }

  Button.variant3.vol2 Icon {
    font-size: 18px;
  }

  /*= FAB - Volume 3 */
  Button.variant3.vol3 {
    width: 48px;
    height: 48px;
  }

  Button.variant3.vol3 Icon {
    font-size: 18px;
  }

  /*= FAB - Volume 4 */
  Button.variant3.vol4 {
    width: 56px;
    height: 56px;
  }

  Button.variant3.vol4 Icon {
    font-size: 20px;
  }

  /*= FAB - Volume 5 */
  Button.variant3.vol5 {
    width: 64px;
    height: 64px;
  }

  Button.variant3.vol5 Icon {
    font-size: 22px;
  }

  /*= FAB - Volume 6 */
  Button.variant3.vol6 {
    width: 72px;
    height: 72px;
  }

  Button.variant3.vol6 Icon {
    font-size: 24px;
  }
}
