/** codeSample.st.css */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    --color-ui-default,
    --color-accent-1-default,
    --color-accent-2-default,
    --color-accent-3-default,
    --color-text-4-default,
    --color-background-3-default;
}


:import {
  -st-from: "../../../components_site/CodeSample/codeSample.st.css";
  -st-default: CodeSample;
}

CodeSample {
  background-color: value(--color-background-3-default);
  background-color: var(--color-background-3, value(--color-background-3-default));
}

CodeSample code :global(.prop b),
CodeSample code :global(.prop)::after,
CodeSample code :global(.st-modifier)::before,
CodeSample code :global(.class-name) {
  color: #4eea9d;
}

/* ff51a9 */
CodeSample code :global(.operator.token) {
  /* color: #ff51a9; */
}

CodeSample code :global(.attr-name),
CodeSample code :global(.constant),
CodeSample code :global(.maybe-class-name),
CodeSample code :global(.tag),
CodeSample code :global(.selector) {
  color: value(--color-accent-1-default);
  color: var(--color-accent-1, value(--color-accent-1-default));
}

CodeSample code :global(.punctuation) {
  color: grey
}

CodeSample code :global(.keyword),
CodeSample code :global(.number) {
  color: value(--color-accent-3-default);
  color: var(--color-accent-3, value(--color-accent-3-default));
}

CodeSample code :global(.string),
CodeSample code :global(.attr-value) {
  color: value(--color-text-4-default);
  color: var(--color-text-4, value(--color-text-4-default));
  /* color: #ce9734; */
  /* #ce9734 */
}

CodeSample code :global(.comment) {
  /* d = color: #28a265 */
  /* l = color: #19815A */
  color: #29a065
    /* 2ea96c, 29a065 */
}
