/* formElements.st.css  */

/**
 * Now we've been around the block a few times... whilst it is nice to live in 
 * the magical labd of React sometime we have to use shit we don't much care for
 * and that usually involves us having to use someone elses input fields. Booo!!
 * 
 * Most often than not it's forms... you might need to integrate a newsletter widget
 * or perhaps a media selection widget. 
 * 
 * We already know we will be doing this so we are making sure that our form styles 
 * as much as possible can be recycled and composed and used for a other things 
 * without being locked-in our main form components.
 *
 * This actually makes sense anyway for us as we will want to be using our own 
 * styles for across similar components.
 *
 */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-named:
    --spacing-unit,
    --text-vol-5-scale,
    --text-vol-5-max,
    --text-vol-6-scale,
    --text-vol-6-max,
}

:import {
  -st-from: "../mixins/multiply";
  -st-named: respScale;
}

:import {
  -st-from: './textVolume.st.css';
  -st-named:
    textVol3,
    textVol4,
    textVol5,
    textVol6;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: InputLabel;
}

:import {
  -st-from: "../../../components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: SelectionControl;
}


.hideWebkitAppearance {
  /* Hide the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.textInput {
  display: block;
  width: 100%;
  margin: 0;
  /* padding: calc(0.2rem + 0.2em) value(--spacing-unit); */
  padding-top: calc(0.2rem + 0.2em);
  padding-bottom: calc(0.2rem + 0.2em);
  border: none;
  font: inherit;
  line-height: 1.5;
  color: currentColor;
  background: none;
  resize: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}


/*==== INPUT VOLUMES ====*/

/* Volume 1 */
.inputVol1 {
  font-size: 1em;
}

.inputLabelVol1,
.inputVol1 InputLabel {
  font-size: .95em;
}

.selectionControlVol1,
.inputVol1 SelectionControl {
  font-size: 16px;
}

/* Volume 2 */
.inputVol2 {
  font-size: respScale(1em, 1.25em);
}

@media screen and (min-width: 1800px) {
  .inputVol2 {
    font-size: 1.125em;
  }
}

.inputLabelVol2,
.inputVol2 InputLabel {
  font-size: .9em;
}

.selectionControlVol2,
.inputVol2 SelectionControl {
  font-size: 20px;
}

/* Volume 3 */
.inputVol3 {
  -st-mixin: textVol3
}

.inputLabelVol3,
.inputVol3 InputLabel {
  font-size: .85em;
}

.selectionControlVol3,
.inputVol3 SelectionControl {
  font-size: 24px;
}

/* Volume 4 */
.inputVol4 {
  -st-mixin: textVol4
}

.inputLabelVol4,
.inputVol4 InputLabel {
  font-size: .8em;
}

.selectionControlVol4,
.inputVol4 SelectionControl {
  font-size: 28px;
}

/* Volume 5 */
.inputVol5 {
  font-size: calc(value(--text-vol-5-scale) - 0.15rem);
}

@media screen and (min-width: 1800px) {
  .inputVol5 {
    font-size: calc(value(--text-vol-5-max) - 0.15rem);
  }
}

.inputLabelVol5,
.inputVol5 InputLabel {
  font-size: .75em;
}

.selectionControlVol5,
.inputVol5 SelectionControl {
  font-size: 32px;
}


/* Volume 6 */
.inputVol6 {
  font-size: calc(value(--text-vol-6-scale) - 0.15rem);
}

@media screen and (min-width: 1800px) {
  .inputVol6 {
    font-size: calc(value(--text-vol-6-max) - 0.15rem);
  }
}

.inputLabelVol6,
.inputVol6 InputLabel {
  font-size: .7em;
}

.selectionControlVol6,
.inputVol6 SelectionControl {
  font-size: 36px;
}


.errorMessage {}
