/** errorText.st.css */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
}

:import {
  -st-from: "../../../components/HintText/hintText.st.css";
  -st-default: Hint;
}

@st-scope Default {
  Hint {
    display: flex;
    /* font-size: .75rem; */
    font-weight: 400;
    opacity: 0.7;
    -webkit-font-smoothing: antialiased;
  }

  /* @media screen and (min-width: 600px) {
    Hint {
      font-size: .625rem;
    }
  } */
}
