:import {
  -st-from: "../../../components/InputText/inputText.st.css";
  -st-default: InputText;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: InputLabel;
}

InputText {
  /* background: pink !important; */
}

InputText InputLabel {
  /* background: green !important; */
}

InputText::fieldContainer {
  /* background: yellow !important; */
}

/* .select InputEleme */
