:import {
  -st-from: "../project.st.css";
  -st-default: Default;
}

:import {
  -st-from: "../../../components/InputSelect/inputSelect.st.css";
  -st-default: InputSelect;
}

:import {
  -st-from: './mixins/formElements.st.css';
  -st-named:
    selectFieldContainer,
    selectFieldInput;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: InputLabel;
}

@st-scope Default {

  InputSelect {}

  InputSelect InputLabel {}

  InputSelect::fieldContainer {
    -st-mixin: selectFieldContainer;
  }

  InputSelect::fieldContainer::after {
    display: block;
  }

  InputSelect::fieldInput {
    -st-mixin: selectFieldInput;
  }
}
