/* = inputText.st.css */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
}

/* = Root Component */
:import {
  -st-from: "../../../components/InputText/inputText.st.css";
  -st-default: InputText;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: InputLabel;
}

@st-scope Default {

  /* = Base styles taken care of by InputBase. */
  InputText {}

  InputText InputLabel {}

  InputText::fieldContainer {}
}
