/** inputSelection.st.css */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named: spacing-unit;
}

:import {
  -st-from: "../../../components/InputSelection/inputSelection.st.css";
  -st-default: InputSelection;
}

:import {
  -st-from: "../../../components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: SelectionControl;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: InputLabel;
}

:import {
  -st-from: "../../../components/HintText/hintText.st.css";
  -st-default: HintText;
}

:import {
  -st-from: "../../../components/ErrorText/errorText.st.css";
  -st-default: ErrorText;
}

:import {
  -st-from: "../../../components/Icon/icon.st.css";
  -st-default: Icon;
}

:import {
  -st-from: "../formatters/common";
  -st-named: respScale;
}

:import {
  -st-from: './mixins/formElements.st.css';
  -st-named:
    hideWebkitAppearance,
    inputVol1,
    inputVol2,
    inputVol3,
    inputVol4,
    inputVol5,
    inputVol6;
}

@st-scope Default {
  InputSelection.radio {}

  InputSelection {
    /* display: grid;
  grid-template-rows: auto auto auto [error-message]; */
    display: inline-flex;
    flex-direction: column-reverse;
  }

  InputSelection InputLabel {
    cursor: pointer
  }

  InputSelection:disabled InputLabel {
    cursor: not-allowed;
  }

  /*==== VOLUMES ====*/

  /* Volume 1 */
  InputSelection.vol1 {
    -st-mixin: inputVol1
  }

  /* Volume 2 */
  InputSelection.vol2 {
    -st-mixin: inputVol2;
  }

  /* Volume 3 */
  InputSelection.vol3 {
    -st-mixin: inputVol3
  }

  /* Volume 4 */
  InputSelection.vol4 {
    -st-mixin: inputVol4
  }

  /* Volume 5 */
  InputSelection.vol5 {
    -st-mixin: inputVol5
  }

  /* Volume 6 */
  InputSelection.vol6 {
    -st-mixin: inputVol6
  }

  InputSelection ErrorText {
    /* Send the error message which is first in the source order to appear under the form input. */
    /* grid-row: error-message; */
  }

  /*==== VARIANTS ====*/

  /* Variant 1 */

  InputSelection Icon {
    font-size: 2em;
  }

  InputSelection.variant1 InputLabel:inputPos(top)::textContainer {
    padding-top: calc(value(spacing-unit) / 2 + 0.2em);
  }

  InputSelection.variant1 InputLabel:inputPos(end)::textContainer {
    /* rtl padding-left: value(spacing-unit); */
    padding-right: value(spacing-unit);
  }

  InputSelection.variant1 InputLabel:inputPos(bottom)::textContainer {
    padding-bottom: calc(value(spacing-unit) / 2 + 0.2em);
  }

  InputSelection.variant1 InputLabel:inputPos(start)::textContainer {
    padding-left: value(spacing-unit);
    /* rtl padding-right: value(spacing-unit); */
  }



  /* Variant 2 */
  InputSelection.variant2 {
    display: flex;
  }

  InputSelection.variant2 InputLabel.hasInput {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 18px;
  }

  InputSelection.variant2 {
    background: rgba(255, 255, 255, 0.04);
  }

  InputSelection.variant2 InputLabel::labelText {
    justify-content: flex-end;
  }

  InputSelection.variant2 SelectionControl {
    border-left: 1px solid rgb(119, 140, 157);
    padding: value(spacing-unit);
  }

  InputSelection.variant2 ErrorText {
    border-left-width: 1px;
    padding: 4px value(spacing-unit) 8px;
    /* 12px is from 18px / 3 * 2 */
    margin-left: calc(100% / 3 + 12px);
  }
}
