/** label.st.css */

/* project and vars */
:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    --spacing-unit,
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: Label;
  -st-named:
    labelTextContainer,
    labelText,
    hasInput;
}

:import {
  -st-from: "../../../components/HintText/hintText.st.css";
  -st-default: HintText;
}

:import {
  -st-from: "../../../components/Icon/icon.st.css";
  -st-default: Icon;
}

@st-scope Default {
  Label {
    /* Stops the text from getting selecting whne clicking on labels. */
    user-select: none;
  }


  /* Note we are setting the fonts here:
- After much dicking around Shelley has come to the conclusion that labels should 
generally always be the same size regardless of any size associated with the input
accept maybe when a selection control is being used. Checkbox/Radio/Switch labels
maybe different as they take more of a 'content' look in general. 
- uppercase can give the labels an extra dimension but invariably other font properties
will need to be overridden. Should this be a setting we expose? Maybe not, maybe it's 
simply part of a variant style.... Or maybe you are using the headings like we are...
for tech text we are using uppercase but for articles we are not planning too. If we 
use a form we might want it to match our copy style so perhaps all labels need to 
have this ability and it's valid...

*/

  Label {
    font-size: .8rem;
    line-height: 1.15;
  }

  @media screen and (min-width: 600px) {

    Label {
      font-size: .7rem;
    }
  }

  Label Icon {
    font-size: 1.75em;
  }

  /* If the Label includes an inline assume we want a basic checkbox/radio layout. */
  Label.hasInput {
    display: inline-flex;
    /* Reserve the direction as we provide the label first as per logical source order. I must read before I know what to do.*/
    flex-direction: row-reverse;
    /* Vertically align the items. */
    align-items: center;
    /* Align to the end which as we have reversed the direction is now left in ltr languages.*/
    justify-content: flex-end;
  }

  Label::labelTextContainer {
    display: block;
    color: #eaeaea
  }

  Label::labelText {
    display: flex;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (min-width: 600px) {

    Label::labelText {
      /* - uppercase */
      /* font-size: .9em; */
    }
  }


  /*==== Input Position ====*/

  /* top */
  Label:inputPos(top).hasInput {
    flex-direction: column-reverse;
  }

  Label:inputPos(top)::labelText,
  Label:inputPos(top) HintText {
    justify-content: center;
  }


  /* end / right */
  Label:inputPos(end).hasInput {
    flex-direction: row;
  }

  Label:inputPos(end)::labelText,
  Label:inputPos(end) HintText {
    justify-content: flex-end;
  }


  /* bottom */
  Label:inputPos(bottom).hasInput {
    flex-direction: column;
  }

  Label:inputPos(bottom)::labelText,
  Label:inputPos(bottom) HintText {
    justify-content: center;
  }


  /* start / left */

}
