/** logo.st.css WIP */

:import {
  -st-from: "../../../components_site/Logo/logo.st.css";
  -st-default: Logo;
}

:import {
  -st-from: "../project.st.css";
  -st-default: Default;
  -st-named:
    --color-accent-1-default,
    --color-ui-default,
    --color-background-1-default;
}

:import {
  -st-from: "../../../components/Text/text.st.css";
  -st-default: Text;
}

/* https://www.sacredgeometryshop.com/sacred-geometry/vesica-piscis-sacred-geometry/ */
@keyframes headTilt {
  0% {
    transform: rotate(4deg);
  }

  1% {
    transform: rotate(-4deg);
  }

  33% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  66% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(-4deg);
  }
}

@st-scope Default {



  Logo {
    display: inline-flex;
    /* transform-origin: 100% 120%; */
    transform-origin: 50% 70%;
    /* transform: rotate(-716deg); */
    transform: rotate(4deg) translateZ(0);
    align-items: center;
    transition-property: transform;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    transition-delay: .5s;
  }

  Logo:hover {
    transform: rotate(-4deg);
    /* animation-duration: 20s;
    animation-name: headTilt; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
  }




  Logo::before,
  Logo::after {
    content: "";
    display: flex;
    /* height: 94px;
    width: 94px; */
    height: 6em;
    width: 6em;
    /* border: 3px solid var(--color-ui, value(--color-ui-default)); */
    border: 0.1875em solid var(--color-ui, value(--color-ui-default));
    border: 0.158em solid var(--color-ui, value(--color-ui-default));
    border: 0.115em solid var(--color-ui, value(--color-ui-default));
    /* 0.115em */
    /* margin-top: 2px; */
    border-radius: 500px
  }

  Logo::before {
    box-shadow: 2px 0px 3px #1acaff;
    box-shadow: 0.125em 0px 0.1875em #1acaff;
  }

  Logo::logoInner {
    /* height: 94px; */
    height: 6em;
    height: 5.85em;
    margin-left: -2.9375em;
    margin-right: -2.9375em;
    position: relative;
    display: flex;
    /* width: 47px; */
    width: 2.9375em;
    background: var(--color-background-1, value(--color-background-1-default))
  }

  Logo::after {
    box-shadow: -2px 0px 3px #1acaff;
    box-shadow: -0.125em 0px 0.1875em #1acaff;
  }
}
