@namespace "PageTitle";

:import {
  -st-from: "../../projects/default/project.st.css";
  -st-default: Default;
  -st-named: --color-background-4-default;
}

:import {
  -st-from: "../../components/Text/text.st.css";
  -st-default: Text;
}

.root {
  /*= Main background including fallback. */
  background-color: value(--color-background-4-default);
  background-color: var(--color-background-4, value(--color-background-4-default));

  /* background: rgba(11, 13, 18, 0.3411764705882353); */
  min-height: 12rem;
  margin-bottom: 56px;
  align-items: center;
  grid-row-gap: 8px;
}

.root .linkText {
  align-self: flex-end
}

.root Text.title,
.root Text {
  /* grid-column: mid */
}
