@namespace "PageTitle";


/* = Shelley project scope and vars. */
:import {
  -st-from: "../../styles/shelley/project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-background-4-default,
    /* = CSS3 Switcher vars. */
    --color-background-4;
}


:import {
  -st-from: "../../components/Text/text.st.css";
  -st-default: Text;
}

@st-scope Shelley {
  .root {
    /*= Main background including fallback. */
    background-color: value(--color-background-4-default);
    background-color: var(--color-background-4, value(--color-background-4-default));
    min-height: 12rem;
    margin-bottom: 56px;
    align-items: center;
    grid-row-gap: 8px;
  }

  .root .linkText {
    align-self: flex-end
  }
}
