@st-import [--spacing-unit] from "../styles/default/project.st.css";
@namespace "SpeedDial";

.root {
  -st-states:
    speedDialOpen(string);
  display: flex;
}

.root > .buttonGroup {
  margin-left: var(--spacing-unit);
}

.root:speedDialOpen(false) > .addButton > button {
  transform: rotate(0);
  transition: transform 0.5s ease;
}

.root:speedDialOpen(true) > .addButton > button {
  transform: rotate(45deg);
  transition: transform 0.5s ease;
}

.root:speedDialOpen(false) > .buttonGroup {
  opacity: 0;
  animation: slide-out 1s backwards;
  animation-fill-mode: backwards; 
}

.root:speedDialOpen(true) > .buttonGroup {
  opacity: 1;
  animation: slide-in 1s forwards; 
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
