@st-namespace "switch";

@st-import InputLabel from "../Label/label.st.css";

.root {
  -st-states:
    isDisabled,
    isFocusVisible,
    size(number);
}

.inputLabel {
  -st-extends: InputLabel;
}

.inputContainer {}

.input {}
