:vars {
  color1: green;
  minValue: 0;
  maxValue: 0;
  transitionWidthUp: "112.5";
  transitionWidthDown: "20";
  unit: "px";
}

.respScale {
  background: value(color1);
  font-size: calc(value(minValue) + (value(maxValue) - value(minValue)) * (100vw - value(transitionWidthDown)) / (value(transitionWidthUp) - value(transitionWidthDown)));
}
