/* button.st.css */
@namespace "Button";

.root {
  -st-states: iconPos(enum(top, end, bottom, start));
  display: inline-flex;
  justify-content: space-between;
}

/*==== Input Positions ====*/

/* top */
.root:iconPos(top) {
  flex-direction: column-reverse;
}

/* end / right */
.root:iconPos(end) {
  flex-direction: row-reverse;
}

/* bottom */
.root:iconPos(bottom) {
  flex-direction: column;
}

/* start / left */
.root:iconPos(start) {
  flex-direction: row;
}

/* The 'inner' button. */
.inner {}

/* The divider which is rendered with an icon only. */
.divider {}

/* The infotip element for inline tooltip style on focus/hover. */
.tip {}

/* Tones */

.tone1 {}

.tone2 {}

.tone3 {}

.tone4 {}

.tone5 {}

.tone6 {}


/* Variants */

.variant1 {}

.variant2 {}

.variant3 {}

.variant4 {}

.variant5 {}

.variant6 {}


/* Volume */

.vol1 {}

.vol2 {}

.vol3 {}

.vol4 {}

.vol5 {}

.vol6 {}
