/* button.st.css */
.root {}

/* Sizes */
.xs {}

.sm {}

.md {}

.lg {}

.xl {}

/* Colors */
.c1 {}

.c2 {}

.c3 {}

.c4 {}

.c5 {}

.c6 {}

/* Variants */
.v1 {}

.v2 {}

.v3 {}

.v4 {}

.v5 {}

.v6 {}

/* The 'inner' button. */
.inner {}

/* The tip element got for inline tool-tips on focus/hover. */
.tip {}
