/** text.st.css */

.root {
  -st-states: truncate;
}

/* Volume */

.vol1 {}

.vol2 {}

.vol3 {}

.vol4 {}

.vol5 {}

.vol6 {}

.vol7 {}

.vol8 {}

.vol9 {}

.vol10 {}

.vol11 {}

.vol12 {}

/* Extras */

.uppercase {}

.underline {}

.bold {}

/* State selectors */

.root:truncate {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
