/** text.st.css */
@namespace "Text";

.root {
  -st-states:
    truncate,
    weight(enum(1, 2, 3, 4, 5, 6, 7, 8));
}

/* Volume */

.vol1 {}

.vol2 {}

.vol3 {}

.vol4 {}

.vol5 {}

.vol6 {}

.vol7 {}

.vol8 {}

.vol9 {}

.vol10 {}

.vol11 {}

.vol12 {}

/* Extras */

.uppercase {}

.underline {}

.bold {}

.root:truncate {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
