/** text.st.css */
@namespace "Text";

.root {
  -st-states:
    truncate,
    weight(number),
    uppercase,
    vol(number);
}

/* Extras */

.root:truncate {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
