/* menuItem.st.css CSS API */

.root {
  display: block;
  user-select: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  text-decoration: initial;
}

/* pseudo pseudo selector */
.root[data-selected] {}

.root[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
