@st-namespace "tableView";
@st-import Checkbox from "../Checkbox/checkbox.st.css";

.root {
  -st-states:
    isHeaderSticky,
    isResponsive,
    vol(number),
    density(enum(compact, spacious));
}

.table {}

.caption {}

.thead {}

.headerRow {}

.column {
  -st-states:
    hasCheckbox,
    isFocusVisible,
    align(enum(start, center, end, justify));
}

.sorter {}

.columnCheckbox {
  -st-extends: Checkbox;
}

.tbody {}

.row {
  -st-states:
    isFocusVisible,
    isPressed,
    isHovered,
    isSelected,
    isDisabled;
}

.cell {
  -st-states:
    hasCheckbox,
    isFocusVisible,
    align(enum(start, center, end, justify));
}

.cellCheckbox {
  -st-extends: Checkbox;
}
