/**
 * = ActionButton - actionButton.st.css
 *
 * Base theme styles for a Shelley ActionButton.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/ActionButton/actionButton.st.css
 * 
 */
@st-import Default, [--border-radius-button] from "./project.st.css";
@st-import ActionButton from "../../ActionButton/actionButton.st.css";
@st-import Icon from "../../Icon/icon.st.css";
@st-import [respScale] from "../formatters/common";
@st-import [hideWebkitAppearance] from "./mixins/formElements.st.css";
@st-import [textVol] from "./mixins/textVol.st.css";
@st-import [pseudoFocus, pseudoFocusVisible] from "./mixins/focus.st.css";

/* This is how we can scope the styles in Stylable. */
@st-scope Default {

  /* = The base <button> element. */
  ActionButton {
    -st-mixin: hideWebkitAppearance;
    position: relative;
    transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    /* = opinionated, only do if you are willing to provide replacement. */
    outline: none;
    cursor: pointer;
    font-weight: 400;
    padding: 0 .6em;
    height: 32px;
    border-radius: var(--border-radius-button);
  }

  ActionButton {
    -st-mixin:
      textVol(minValue 0.85em,
        maxValue .88em,
        lineHeight 1.1);
  }

  ActionButton:isQuiet {
    border-color: transparent;
  }

  /* = Inner <span> */
  ActionButton::inner {
    padding-top: 0.1em;
  }

  /* = Divider - <span> rendered with Icon only, rename perhaps?*/
  ActionButton::divider {
    display: inline-block;
    width: .5em;
    line-height: 0;
  }

  ActionButton Icon {
    /* = Correct rounding issues on the svgs when they / 2 due to the respScale. */
    font-size: calc(1em + 2px);
  }

  ActionButton::after {
    -st-mixin: pseudoFocus;
    border-radius: var(--border-radius-button);
  }

  ActionButton:isFocusVisible::after {
    -st-mixin: pseudoFocusVisible;
  }

  /* = Disabled */
  ActionButton:isDisabled,
  ActionButton:isDisabled:hover,
  ActionButton:isDisabled:focus,
  ActionButton:isDisabled:active,
  ActionButton:isDisabled:active:hover {
    opacity: 0.5
  }

}
