@st-namespace "DefaultActionButton";
/**
 * = ActionButton - actionButton.st.css
 *
 * Base theme styles for a Shelley ActionButton.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/ActionButton/actionButton.st.css
 * 
 */
@st-import Default, [--border-radius-button] from "./project.st.css";
@st-import ActionButton from "../../Button/actionButton.st.css";
@st-import Icon from "../../Icon/icon.st.css";
@st-import [respScale] from "../formatters/common";
@st-import [hideWebkitAppearance] from "./mixins/formElements.st.css";
@st-import [textVol] from "./mixins/textVol.st.css";
@st-import [pseudoFocus, pseudoFocusVisible] from "./mixins/focus.st.css";

/* This is how we can scope the styles in Stylable. */
@st-scope Default {

  ActionButton {
    font-weight: 400;
    padding: 0 .6em;
    height: 32px;
    border-radius: 0;
  }

  ActionButton::after {
    border-radius: 0;
  }

  /* = Inner <span> */
  ActionButton::inner {
    padding-top: 0.1em;
  }

  /* = Divider - <span> ?*/
  ActionButton::divider {
    width: .5em;
  }

  /* = Disabled */
  ActionButton:isDisabled,
  ActionButton:isDisabled:hover,
  ActionButton:isDisabled:focus,
  ActionButton:isDisabled:active,
  ActionButton:isDisabled:active:hover {
    opacity: 0.5
  }

}
