/**
 * = GLOBALS - allGlobal.st.css
 *
 * Some globals, mostly resets.
 * 
 * ========================================================================= */



/* 
    General purpose CSS reset
 */
:global(html),
:global(body) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:global(*),
:global(*:before),
:global(*:after) {
  box-sizing: inherit;
}


:global([hidden]) {
  display: none;
}

:global([hidden]+*) {
  margin-top: 0 !important;
}

:global(svg:not(:root)) {
  overflow: hidden;
}

:global(body) {
  margin: 0;
  padding: 0;
}

:global(a:visited) {
  color: inherit
}

:global(footer),
:global(header),
:global(main),
:global(nav) {
  display: block;
}

/* We are resetting these so when we use the <Text vol={false}> we don't end up with the defaults. */
:global(h1),
:global(h2),
:global(h3),
:global(h4),
:global(h5),
:global(h6),
:global(p) {
  /* font-size: 1em; */
  margin: 0;
}
