/**
 * = Blockquote - blockquote.st.css
 * 
 * ========================================================================= */


/* Default project scope and vars. */
@st-import Default, [--spacing-unit] from "./project.st.css";
/* Component API. */
@st-import Blockquote from "../../components/Blockquote/blockquote.st.css";

@st-scope Default {

  /* Base styles. */
  Blockquote {}

  Blockquote::content {
    display: grid;
    grid-row-gap: 0.8rem;
    font-style: italic;
  }

  Blockquote::desc {
    font-style: normal;
    margin-top: var(--spacing-unit)
  }

}
