/* buttonGroup.st.css */

/* = buttonGroup.st.css */
@st-import Default, [--spacing-unit] from "./project.st.css";
@st-import ButtonGroup from "../../ButtonGroup/buttonGroup.st.css";

@st-scope Default {
  ButtonGroup {
    gap: var(--spacing-unit);
  }

  ButtonGroup:splitButton {
    gap: 0;
  }
}
