@st-namespace "DefaultButtonGroup";
/**
 * = ButtonGroup - buttonGroup.st.css
 *
 * Base theme styles for a Shelley ButtonGroup.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/Button/buttonGroup.st.css
 * 
 */
@st-import Default, [--spacing-unit] from "./project.st.css";
@st-import ButtonGroup from "../../Button/buttonGroup.st.css";

@st-scope Default {
  ButtonGroup {
    gap: var(--spacing-unit);
  }

  ButtonGroup:splitButton {
    gap: 0;
  }
}
