@st-namespace "DefaultButton";
/**
 * = Button - button.st.css
 *
 * Base theme styles for a Shelley Button.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/Button/button.st.css
 * 
 */
@st-import Default from "./project.st.css";
@st-import Button from "../../Button/button.st.css";

@st-scope Default {

  Button {
    padding: .2em 1em;
  }

  Button::inner {
    /* padding on top of inner as opposed to the button itself 
     * so an adjacent icon can grow a little into the space created
     * without affecting the height of the button. */
    padding-top: 0.58em;
    padding-bottom: 0.55em;
  }

  Button:vol(1) {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }

  Button:vol(2) {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
  }
}
