/**
 * = BUTTON GROUP - buttonGroup.st.css
 *
 * ========================================================================= */


/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
  -st-named:
    --spacing-unit;
}

/* = Root Component */
:import {
  -st-from: "../../components/ButtonGroup/buttonGroup.st.css";
  -st-default: ButtonGroup;
}

/* = Child components */
:import {
  -st-from: "../../components/Button/button.st.css";
  -st-default: Button;
}

/* This is how we can scope the styles in Stylable. */
@st-scope Default {

  /* = The base element. */
  /* ButtonGroup {}

  ButtonGroup:orientation(horizontal) {}

  ButtonGroup:orientation(vertical) {} */
}
