@st-namespace "DefaultComboBoxMultiSelect";
/**
 * = ComboBoxMultiSelect - comboBoxMultiSelect.st.css
 *
 * Base theme styles for a Shelley ComboBoxMultiSelect.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/ComboBoxMultiSelect/menuItem.st.css
 * 
 */
@st-import Default, [--spacing-unit] from "./project.st.css";
@st-import ComboBoxMultiSelect, [list] from "../../ComboBoxMultiSelect/comboBoxMultiSelect.st.css";
@st-import [
    menuList
] from "./mixins/menuList.st.css";

@st-scope Default {
  ComboBoxMultiSelect {}

  ComboBoxMultiSelect::trigger {
    margin-right: -6px;
    margin-left: 2px;
    font-size: 1em;
  }

  ComboBoxMultiSelect::endAdornment {
    /* Reset the font-size for the Button icon */
    font-size: 1em;
    opacity: 1;
  }


  ComboBoxMultiSelect::loader {
    margin-left: 2px;
    align-self: center;
  }

  .list {
    -st-mixin: menuList;
  }

  @st-scope [dir=rtl] Default {

    ComboBoxMultiSelect::trigger {
      margin-left: -8px;
      margin-right: 2px;
    }

    ComboBoxMultiSelect::loader {
      margin-left: 0;
      margin-right: 2px;
    }

  }
}
