/**
 * = Dark
 *
 * Most of this is done as per the default in project.
 * Somehthing interesting to follow... @todo
 */
@namespace "dark";

:import {
  -st-from: "./project.st.css";
  -st-named:
    /* = Build time colours - whatever we need for this file. */
    --color-ui-default,
    --color-background-1-default,
    --color-accent-2-default,
    /* = CSS - runtime version of the vars, used globally. */
    /* ... */
}

:import {
  -st-from: "../../components/Text/text.st.css";
  -st-default: Text;
}

.root {}

.root :global(body) {
  /* = Set CSS vars for switcher to utilise, fallbacks are in project.st.css */
  color: var(--color-ui, value(--color-ui-default));
  background-color: var(--color-background-1, value(--color-background-1-default));
}

/* 
 * = Theme differences
 * 
 * While all sounds well with "just change the colors" it is never that 
 * simple, ever. So here we can tweak styles for the theme specifically.
 * 
 */

/* = Override our uppercase headings.*/
.root :global(h2)Text:uppercase,
.root :global(h3)Text:uppercase,
.root :global(h4)Text:uppercase {
  color: value(--color-accent-2-default);
  color: var(--color-accent-2, value(--color-accent-2-default));
}

/* 
 * :global(h2)Text:uppercase {...}
 *
 * = Handy use of :global() if you want to style based on a tag.
 * Useful where a component, like our 'Text' can output a number
 * of tags as its root element. 
 */
