/* = Project and vars */
@st-import Default, [
  --spacing-unit,
  --background-color-dialog,
  --color-dialog] from "./project.st.css";
/* = Component API */
@st-import Dialog from "../../Dialog/dialog.st.css";

@st-scope Default {

  Dialog {
    background-color: var(--background-color-dialog);
    color: var(--color-dialog);
  }

  Dialog::content {
    margin-top: var(--spacing-unit);
    margin-bottom: calc(var(--spacing-unit) * 2);
  }
}
