/* disclosure.st.css */
@st-import Default, [
  --spacing-unit,
] from "./project.st.css";
@st-import Disclosure from "../../DisclosureGroup/disclosure.st.css";
@st-import Icon from "../../Icon/icon.st.css";

@st-scope Default {
  Disclosure::content {
    padding: var(--spacing-unit);
  }

  Disclosure::trigger {
    justify-content: start;
    /* text-transform: initial; */
    font-weight: 400;
  }

  Disclosure::trigger > Icon {
    transition: transform 190ms;
    transform-origin: 50% 50%;
  }

  Disclosure:isOpen::trigger > Icon {
    transform: rotate(-180deg);
  }

  Disclosure::trigger::inner {
    flex-grow: 1;
    text-align: start;
  }
}
