/**
 * = Error Text - errorText.st.css
 *
 * Could have been a class only but we have a component and here is it's style.
 * 
 * ========================================================================= */


/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
}

/* = Root Component */
:import {
  -st-from: "../../components/ErrorText/errorText.st.css";
  -st-default: Error;
}

@st-scope Default {

  /* = Root */
  Error {
    display: block;
    position: relative;
    font-size: .8rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  /* = Error indicator bar. */
  Error::before {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 1px;
    transition: background-color 0.3s;
    opacity: 0.5;
  }
}

@media screen and (min-width: 600px) {
  @st-scope Default {
    Error {
      font-size: .625rem;
    }
  }
}
