/* = Project and vars */
@st-import Default, [--color-error] from "./project.st.css";
/* = Component API */
@st-import HelpText from "../../components/HelpText/helpText.st.css";

@st-scope Default {

  HelpText {
    transition: color 0.2s;
  }

  HelpText:isErrorMessage {
    color: var(--color-error);
  }
}
