@st-namespace "DefaultIconButton";
/**
 * = IconButton - iconButton.st.css
 *
 * Base theme styles for a Shelley IconButton.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/IconButton/iconButton.st.css
 * 
 */

@st-import Default from "./project.st.css";
@st-import IconButton from "../../IconButton/iconButton.st.css";
@st-import Icon from "../../Icon/icon.st.css";
@st-import [respScale] from "../formatters/common";
@st-import [visuallyHidden] from "../mixins/visuallyHidden.st.css";
@st-import [hideWebkitAppearance] from "./mixins/formElements.st.css";
@st-import [textVol] from "./mixins/textVol.st.css";

@st-scope Default {

  IconButton {
    padding: 6px;
  }

  IconButton Icon {
    font-size: calc(1em + 6px);
  }

  IconButton:hover {
    opacity: 0.7;
  }

  IconButton::after {
    border-radius: 999px;
  }

  /*= Volumes */

  IconButton:vol(1) Icon {
    font-size: 16px;
  }

  IconButton:vol(2) Icon {
    font-size: 18px;
  }

  IconButton:vol(3) Icon {
    font-size: 18px;
  }

  IconButton:vol(4) Icon {
    font-size: 20px;
  }

  IconButton:vol(5) Icon {
    font-size: 22px;
  }

  IconButton:vol(6) Icon {
    font-size: 24px;
  }
}
