@namespace "DefaultLabel";
/**
 * = Label - label.st.css
 *
 * Base theme styles for a Shelley Label.
 *
 * Keep it basic, no positional stuff here like padding, margin as 
 * this will effect the feild labelposition="over". If you do 
 * need/want to set these here then ensure rests are in place
 * where needed.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/Label/label.st.css
 * 
 */
@st-import Default from "./project.st.css";
@st-import Label from "../../Label/label.st.css";
@st-import Icon from "../../Icon/icon.st.css";

@st-scope Default {
  Label {
    /* = Stops the text from getting selecting when clicking on labels. */
    user-select: none;
    pointer-events: auto;
  }

  Label::text {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  Label Icon {
    font-size: 1.75em;
  }
}
