/**
 * = LABEL - label.st.css
 * 
 * ========================================================================= */

@namespace "Label";

/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
}

/* = Root Component */
:import {
  -st-from: "../../components/Label/label.st.css";
  -st-default: Label;
}

:import {
  -st-from: "../../components/Icon/icon.st.css";
  -st-default: Icon;
}

@st-scope Default {
  Label {
    /* = Stops the text from getting selecting when clicking on labels. */
    user-select: none;
    pointer-events: auto;
    /* Ideally no positional stuff here like padding, margin as 
     * this will effect the feild labelposition="over". If you do 
     * need/want to set these here then ensure rests are in place
     * where needed.*/
  }

  Label::text {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  /*==== Icon ====*/
  Label Icon {
    font-size: 1.75em;
  }
}
