@st-namespace "DefaultListBoxOption";
/**
 * = ListBoxOption - listBoxOption.st.css
 *
 * Base theme styles for a Shelley ListBoxOption.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/ListBoxOption/listBoxOption.st.css
 * 
 */

@st-import [
  --option-item-bg-hover
] from "./project.st.css";
@st-import ListBoxOption from "../../ListBox/listBoxOption.st.css";
@st-import [
    menuItem,
    menuItemDisabled,
    menuItemFocusVisible,
    menuItemText,
    menuItemHover,
    menuItemSelectedIcon
] from "./mixins/menuList.st.css";

@st-scope body {
  ListBoxOption {
    -st-mixin: menuItem;
  }

  ListBoxOption:isDisabled {
    -st-mixin: menuItemDisabled;
  }

  ListBoxOption::text {
    -st-mixin: menuItemText;
  }

  ListBoxOption::selectedIcon {
    -st-mixin: menuItemSelectedIcon;
  }

  ListBoxOption:isHovered {
    -st-mixin: menuItemHover;
  }

  ListBoxOption:isFocusVisible {
    -st-mixin: menuItemFocusVisible;
  }

  ListBoxOption:isFocused {
    -st-mixin: menuItemHover;
  }
}
