/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
}

/* = Component CSS API */
:import {
  -st-from: "../../ListBox/listBox.st.css";
  -st-default: ListBox;
}

:import {
  -st-from: "./mixins/menu.st.css";
  -st-default: MenuMixin;
  -st-named: menuList;
}

@st-scope Default {
  ListBox {
    -st-mixin: menuList;
  }

  ListBox::item {}
}
