/**
 * = ListBoxOption - listBoxOption.st.css
 *
 * Base theme styles for a Shelley ListBoxOption.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/ListBoxOption/listBoxOption.st.css
 * 
 */
@st-import Default from "./project.st.css";
@st-import ListBoxOption from "../../ListBoxOption/listBoxOption.st.css";
@st-import [
    menuItem,
    menuItemDisabled,
    menuItemFocusVisible,
    menuItemText,
    menuItemSelectedIcon
] from "./mixins/menuList.st.css";

@st-scope Default {
  ListBoxOption {
    -st-mixin: menuItem;
  }

  ListBoxOption:isDisabled {
    -st-mixin: menuItemDisabled;
  }

  ListBoxOption:isFocusVisible {
    -st-mixin: menuItemFocusVisible;
  }

  ListBoxOption::text {
    -st-mixin: menuItemText;
  }

  ListBoxOption::selectedIcon {
    -st-mixin: menuItemSelectedIcon;
  }
}
