/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
  -st-named:
    --color-focus,
    --spacing-unit;
}

/* = Component CSS API */
:import {
  -st-from: "../../components/MenuItem/menuItem.st.css";
  -st-default: MenuItem;
}

:import {
  -st-from: "./mixins/menu.st.css";
  -st-default: MenuMixin;
  -st-named:
    menuItem,
    menuItemDisabled,
    menuItemFocusVisible,
    menuItemText,
    menuItemSelectedIcon;
}

@st-scope Default {
  MenuItem {
    -st-mixin: menuItem;
  }

  MenuItem:isDisabled {
    -st-mixin: menuItemDisabled;
  }

  MenuItem:isFocusVisible {
    -st-mixin: menuItemFocusVisible;
  }

  MenuItem::text {
    -st-mixin: menuItemText;
  }

  MenuItem::selectedIcon {
    -st-mixin: menuItemSelectedIcon;
  }
}
