/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
}

/* = Component CSS API */
:import {
  -st-from: "../../Menu/menu.st.css";
  -st-default: Menu;
}

:import {
  -st-from: "./mixins/menu.st.css";
  -st-default: MenuMixin;
  -st-named: menuList;
}

@st-scope Default {
  Menu {
    -st-mixin: menuList;
  }

  Menu::item {}
}
