/**
 * = Menu - menu.st.css
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
  -st-named:
    --spacing-unit,
    --color-focus;
}

/* = Components */
:import {
  -st-from: "../../components/Text/text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "../../components/Menu/menuList.st.css";
  -st-default: MenuList;
}

:import {
  -st-from: "../../components/Menu/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope Default {
  MenuList {
    outline: none;
    box-shadow: 0 0 1px 2px var(--color-focus);
    border: solid 1px transparent;
    padding: 0.25rem 0;
    font-size: 87%;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  /* = Quick label style as a intro. */
  MenuList :global(label)Text {
    padding: 0.2rem var(--spacing-unit) 0.4rem;
    display: inline-block;
    font-size: 90%;
    letter-spacing: .3em;
    font-weight: 600;
    opacity: 0.7;
  }

  MenuItem {
    padding: 0.4rem var(--spacing-unit);
  }

  MenuItem[data-selected] {
    outline: none;
  }

}
