/**
 * = Notification - notification.st.css
 *
 * Base theme styles for a Shelley Notification.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/Notification/notification.st.css
 * 
 */
@st-import Default, [
   --spacing-unit,
  ] from "./project.st.css";
@st-import Notification from "../../Notification/notification.st.css";

@st-scope Default {
  Notification {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 3rem;
  }

  Notification::title {
    margin: 0 0.25rem 0 0;
  }

  Notification::before {
    content: "";
    display: block;
    width: 1rem;
    height: 100%;
    background-color: grey;
  }

  Notification::closeButton {
    position: absolute;
    right: 0;
  }

}