/* = Project and vars */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
  -st-named:
    --spacing-unit,
    --color-form-base-border,
    --color-error;
}

/* = Root style API. */
:import {
  -st-from: "../../components/Radio/radio.st.css";
  -st-default: Radio;
}

:import {
  -st-from: "../../components/Label/label.st.css";
  -st-default: InputLabel;
}

:import {
  -st-from: "../../components/Icon/icon.st.css";
  -st-default: Icon;
}

/* = Mixins */
:import {
  -st-from: './mixins/formElements.st.css';
  -st-named:
    SelectionControlRoot,
    SelectionControlFieldInput,
    RadioCheckboxCommon,
    RadioFieldInput,
    inputVol1,
    inputVol2,
    inputVol3,
    inputVol4,
    inputVol5,
    inputVol6,
    selectionControlVol1,
    selectionControlVol2,
    selectionControlVol3,
    selectionControlVol4,
    selectionControlVol5,
    selectionControlVol6;
}

@st-scope Default {

  Radio {}

  Radio {
    gap: calc(var(--spacing-unit) / 2);
    cursor: pointer;
  }

  Radio:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  Radio:validationState(invalid)::inputLabel::labelText {
    color: var(--color-error);
  }

  Radio:validationState(invalid)::input {
    border-color: var(--color-error);
  }

  Radio:validationState(invalid)::input::before {
    background-color: var(--color-error);
  }

  Radio::inputContainer {
    -st-mixin: SelectionControlRoot;
  }

  Radio::input {
    -st-mixin: SelectionControlFieldInput;
  }

  /* = Radio common styles. */
  Radio::input {
    -st-mixin: RadioCheckboxCommon;
  }

  Radio::input {
    -st-mixin: RadioFieldInput;
  }

  Radio:isFocusVisible::input::after {
    opacity: 1;
  }

  /* ==== VOLUMES ====*/

  /* = Volume 1 */
  Radio:vol(1) {
    -st-mixin: inputVol1
  }

  Radio:vol(1)::inputContainer {
    -st-mixin: selectionControlVol1
  }

  /* = Volume 2 */
  Radio:vol(2) {
    -st-mixin: inputVol2;
  }

  Radio:vol(2)::inputContainer {
    -st-mixin: selectionControlVol2;
  }

  /* = Volume 3 */
  Radio:vol(3) {
    -st-mixin: inputVol3
  }

  Radio:vol(3)::inputContainer {
    -st-mixin: selectionControlVol3
  }

  /* = Volume 4 */
  Radio:vol(4) {
    -st-mixin: inputVol4
  }

  Radio:vol(4)::inputContainer {
    -st-mixin: selectionControlVol4
  }

  /* = Volume 5 */
  Radio:vol(5) {
    -st-mixin: inputVol5
  }

  Radio:vol(5)::inputContainer {
    -st-mixin: selectionControlVol5
  }

  /* = Volume 6 */
  Radio:vol(6) {
    -st-mixin: inputVol6
  }

  Radio:vol(6)::inputContainer {
    -st-mixin: selectionControlVol6
  }

  Radio Icon {
    font-size: 2em;
  }
}
