/** select.st.css */

@st-import Default from "./project.st.css";
@st-import Select from "../../components/Select/select.st.css";
@st-import Icon from "../../components/Icon/icon.st.css";
/* = Mixins */
@st-import [selectFieldContainer, selectFieldInput] from "./mixins/formElements.st.css";

@st-scope Default {
  /**
   * The base styles taken care of by Field, here we are just adding the 
   * that we want for our <select> element.
   */

  /* = Apply selectFieldContainer to the base fieldContainer. */
  Select::fieldContainer {
    -st-mixin: selectFieldContainer;
  }

  /* = Display the right hand indicator on <select>'s to encase the arrow icon. */
  Select::fieldContainer::after {
    display: block;
  }

  /*= Applies the down arrow, aka --select-icon and associated styles. */
  Select::trigger {
    -st-mixin: selectFieldInput;
    letter-spacing: 0;
  }

  Select::trigger Icon {
    margin-right: -5px;
  }

  Select::trigger::inner {
    padding: 0;
  }

  Select:labelPosition(over)::placeholder {
    visibility: hidden;
  }

  Select::placeholder {
    opacity: .8;
    letter-spacing: 0.2px;
  }
}
