@st-namespace "DefaultSpacing";
/**
 * = spacing.st.css
 *
 * Helper with some spacing helper classes.
 * 
 */
@st-import Default, [--spacing-unit] from "./project.st.css";

/**
 * = Margins
 */
.mtGridGap {
  margin-top: 3vw;
}

.mbGridGap {
  margin-top: 3vw;
}

.mtAuto {
  margin-top: auto;
}

.mbAuto {
  margin-bottom: auto;
}

.mt1 {
  margin-top: var(--spacing-unit);
}

.mt2 {
  margin-top: calc(var(--spacing-unit) * 2);
}

.mt3 {
  margin-top: calc(var(--spacing-unit) * 3);
}

.mt4 {
  margin-top: calc(var(--spacing-unit) * 4);
}

.mt8 {
  margin-top: calc(var(--spacing-unit) * 8);
}

.mb1 {
  margin-bottom: var(--spacing-unit);
}

.mb2 {
  margin-bottom: calc(var(--spacing-unit) * 2);
}

.mb3 {
  margin-bottom: calc(var(--spacing-unit) * 3);
}

.mb4 {
  margin-bottom: calc(var(--spacing-unit) * 4);
}

.mb5 {
  margin-bottom: calc(var(--spacing-unit) * 5);
}

.mb6 {
  margin-bottom: calc(var(--spacing-unit) * 6);
}

.mb7 {
  margin-bottom: calc(var(--spacing-unit) * 6);
}

.mb8 {
  margin-bottom: calc(var(--spacing-unit) * 8);
}
