@st-namespace "DefaultText";
/**
 * = Text - text.st.css
 *
 * Base theme styles for a Shelley Text.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/Text/text.st.css
 * 
 */
@st-import Default from "./project.st.css";

@st-import Text from "../../Text/text.st.css";
@st-import Icon from "../../Icon/icon.st.css";
@st-import [ 
  textVol,
  textVol1,
  textVol2,
  textVol3,
  textVol4,
  textVol5,
  textVol6,
  textVol7,
  textVol8,
  textVol9,
  textVol10,
  textVol11,
] from "./mixins/textVol.st.css";

@st-scope Default {

  /* = Volumes */

  Text:vol(1) {
    -st-mixin: textVol1;
  }

  Text:vol(1) Icon {
    font-size: 14px;
  }

  Text:vol(2) {
    -st-mixin: textVol2;
  }

  Text:vol(2) Icon {
    font-size: 16px;
  }

  Text:vol(3) {
    -st-mixin: textVol3;
  }

  Text:vol(3) Icon {
    font-size: 18px;
  }

  Text:vol(4) {
    -st-mixin: textVol4;
  }

  Text:vol(4) Icon {
    font-size: 20px;
  }

  Text:vol(5) {
    -st-mixin: textVol5;
  }

  Text:vol(5) Icon {
    font-size: 22px;
  }

  Text:vol(6) {
    -st-mixin: textVol6;
  }

  Text:vol(6) Icon {
    font-size: 24px;
  }

  Text:vol(7) {
    -st-mixin: textVol7;
  }

  Text:vol(7) Icon {
    font-size: 28px;
  }

  Text:vol(8) {
    -st-mixin: textVol8;
  }

  Text:vol(8) Icon {
    font-size: 32px;
  }

  Text:vol(9) {
    -st-mixin: textVol9;
  }

  Text:vol(9) Icon {
    font-size: 44px;
  }

  Text:vol(10) {
    -st-mixin: textVol10;
    font-weight: 300;
  }

  Text:vol(10) Icon {
    font-size: 52px;
  }

  Text:vol(11) {
    -st-mixin: textVol11;
    font-weight: 300;
  }

  Text:vol(11) Icon {
    font-size: 88px;
  }


  /* = Weights */
  /** 
   * :not(any) is a specificity hack ensuring these are applied even if a 
   * theme has set defaults on them via the volumes. 
   */
  Text:weight(1):not(any) {
    font-weight: 100;
  }

  Text:weight(2):not(any) {
    font-weight: 200;
  }

  Text:weight(3):not(any) {
    font-weight: 300;
  }

  Text:weight(4):not(any) {
    font-weight: 400;
  }

  Text:weight(5):not(any) {
    font-weight: 500;
  }

  Text:weight(6):not(any) {
    font-weight: 600;
  }

  Text:weight(7):not(any) {
    font-weight: 700;
  }

  Text:weight(8):not(any) {
    font-weight: 800;
  }

  Text:weight(9):not(any) {
    font-weight: 900;
  }

}
