/* = textField.st.css */
:import {
  -st-from: "./project.st.css";
  -st-default: Default;
}

/* = Root Component */
:import {
  -st-from: "../../TextField/textField.st.css";
  -st-default: TextField;
}

:import {
  -st-from: "../../Label/label.st.css";
  -st-default: InputLabel;
}

@st-scope Default {

  /* = Base styles taken care of by Field. */
  TextField {}

  TextField InputLabel {}

  TextField::fieldContainer {}
}
