@st-import Default, [breakpoint-md-max, --border-radius-button] from "./project.st.css";
@st-import ToastRegion from "../../components/Toast/toastRegion.st.css";
@st-import [pseudoFocus, pseudoFocusVisible] from "./mixins/focus.st.css";


@st-scope Default {

  ToastRegion > :first-child::before {
    -st-mixin: pseudoFocus;
  }

  ToastRegion:isFocusVisible > :first-child::before {
    -st-mixin: pseudoFocusVisible;
    border-radius: var(--border-radius-button);
  }
}


@media value(breakpoint-md-max) {
  @st-scope Default {
    ToastRegion {
      align-items: center;
    }
  }
}
