@st-import Default, [--background-color-info, --background-color-success, --background-color-warning, --background-color-error] from "./project.st.css";

@st-import Toast from "../../components/Toast/toast.st.css";

@st-scope Default {
  Toast::toast:priority(info) {
    background: var(--background-color-info)
  }

  Toast::toast:priority(success) {
    background: var(--background-color-success)
  }

  Toast::toast:priority(warning) {
    background: var(--background-color-warning)
  }

  Toast::toast:priority(error) {
    background: var(--background-color-error)
  }
}
