@st-import Default, [breakpoint-sm] from "./project.st.css";

@st-import ToastRegion from "../../components/Toast/toastRegion.st.css";

@st-scope Default {
  ToastRegion {
    position: fixed;
    bottom: 16px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 9999;
  }
}

@media value(breakpoint-sm) {
  @st-scope Default {
    ToastRegion {
      width: unset;
      right: 16px;
      padding-right: 0;
      padding-left: 0;
    }
  }
}
