@namespace "Text";

.root {
  -st-states:
    truncate,
    lineClamp(number),
    weight(number),
    uppercase,
    vol(number);
}

/* Extras */

/* = Uppercase */
.root:uppercase {
  text-transform: uppercase;
}

/* = Truncation */
.root:truncate {
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.root:lineClamp(1) {
  -webkit-line-clamp: 1;
}

.root:lineClamp(2) {
  -webkit-line-clamp: 2;
}

.root:lineClamp(3) {
  -webkit-line-clamp: 3;
}

.root:lineClamp(4) {
  -webkit-line-clamp: 4;
}

.root:lineClamp(5) {
  -webkit-line-clamp: 5;
}

.root:lineClamp(6) {
  -webkit-line-clamp: 6;
}

.root:lineClamp(7) {
  -webkit-line-clamp: 7;
}

.root:lineClamp(8) {
  -webkit-line-clamp: 8;
}

.root:lineClamp(9) {
  -webkit-line-clamp: 9;
}

.root:lineClamp(10) {
  -webkit-line-clamp: 10;
}
