/**
 * Example theming file for the button. If you are not needing themes you can 
 * just style your components in the files adjacent to the component. But this
 * way you might be able more useful in the long run...
 */
:import {
  -st-from: "../../../components/Button/button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named: --base-font-size, --base-font-size-sm, --base-font-size-md, --base-font-size-lg;
}

/* This is how we can scope the styles but we loose CSS syntax sugar. There is a ticket for that on the stylable-intelligence. */
@st-scope Default {

  /*  Default styles */
  Button {
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.96em 35px;
    /* Border */
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    /* Font */
    /* font-family: value(--base-font-family); */
    font-size: value(--base-font-size);
    line-height: 1.15;
    /* Effects */
    transition: opacity 0.3s ease, color 0.3s ease;
  }

  /* Button size variations sm - lg */
  Button.sm {
    font-size: value(--base-font-size-sm);
  }

  Button.md {
    font-size: value(--base-font-size-md);
  }

  Button.lg {
    font-size: value(--base-font-size-lg);
  }

  Button::inner {}

  /* Button COLOURS */
  /* DEFAULT */
  Button.c1 {
    background-color: var(--color-accent-2, value(--color-accent-1-default));
    color: var(--color-ui, value(--color-ui-default))
  }

  Button:hover {
    opacity: 0.7;
  }

  /* Button CSS STATES PSEUDO */
  /* Disabled */
  Button:disabled,
  Button:disabled:hover,
  Button:disabled:focus,
  Button:disabled:active,
  Button:disabled:active:hover {
    opacity: 0.5
  }

  /* ACTIVE */
  Button:active,
  Button:active:hover {
    /* background-color: value(--dark-01); */
  }

  Button:active.link {
    background-color: transparent;
  }
}
