/** inputRow.st.css */

:import {
  -st-from: "../../../components/InputRow/inputRow.st.css";
  -st-default: InputRow;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: Label;
  -st-named:
    labelTextContainer,
    labelText,
    labelHintText,
    radioCheckInput;
}

:import {
  -st-from: "../../../components/TextInput/textInput.st.css";
  -st-default: TextInput;
  -st-named: input;
}

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named:
    --spacing-unit,
    --text-vol-2-scale,
    --text-vol-2-max,
    --text-vol-3-scale,
    --text-vol-3-max,
    --text-vol-4-scale,
    --text-vol-4-max,
    --text-vol-5-scale,
    --text-vol-5-max,

}

@st-scope Default {

  InputRow {
    /* Choosing to use grid for the moment but may switch to flex. */
    display: grid;
    /* 
      Showing the error before the field in question is the most logical but in 
      practice we want to render it below so as to avoid the field moving when
      it is in an eror state.

      The following provides some empty placeholder rows for our label and 
      potential input +1 whilst using a named grid line [error-message] to 
      reserve a place underneath for our error message.

      #bestOfBoth
      */
    grid-template-rows: auto auto auto [error-message];
  }



  InputRow.vol1 {
    font-size: value(--v1);
  }

  InputRow.vol2 {
    font-size: value(--v2);
  }

  /* Hmmm, class names which match css element selectors are confusing... */

  /* Volume 3 */


  /* InputRow.vol3 TextInput {
    font-size: value(--text-vol-3-scale);
  } */

  @media screen and (min-width: 1800px) {
    /* InputRow.vol3 Label {
      font-size: value(--text-vol-3-max);
    } */

    InputRow.vol3 TextInput {
      font-size: value(--text-vol-3-max);
      font-size: 18px;
    }
  }

  InputRow.vol4 TextInput {
    font-size: value(--text-vol-3-max);
    font-size: value(--text-vol-5-max);
  }


  /* Variant 1 - Body */
  InputRow.variant1 Label {
    margin-bottom: 8px;
    /* letter-spacing: .02em; */
    line-height: 1.15;
    /* font-size: .944444em */
  }

  InputRow.variant1 Label::labelHintText {
    opacity: .7;
  }

  InputRow.variant1 TextInput {
    /* background: #00000024; */
  }

  InputRow.variant1 TextInput::input {
    padding: calc(0.4rem + .2em) 16px;
  }


  /* InputRow TextInput::input */

  /* InputRow TextInput::input {
    background: pink !important
  }

  InputRow.vol3::textInput {
    background: yellow !important
  }

  InputRow.vol3 Label {
    background: green !important
  } */





  InputRow+InputRow {
    margin-top: calc(value(--spacing-unit) * 1)
  }


  InputRow.vol5 {
    font-size: value(--v5);
  }



  /* InputRow.checkbox Label,
  InputRow.radio Label,
  InputRow.switch Label {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  } */

  InputRow Label::labelText {
    /* font-weight: 400; */
    /* text-transform: uppercase; */

  }

  InputRow Label::labelTextContainer {
    /* display: block;
    opacity: .7;
    letter-spacing: .02em; */
  }


  InputRow::errorMessage {
    /* Send the error message which is first in the source order to appear under the form input. */
    grid-row: error-message;
    font-size: 16px;
    font-weight: 300;
    opacity: .7;
    letter-spacing: .02em;
    color: #ff9292;
    border-left: 1px solid #fb999d;
    padding-left: 16px;
    padding: 8px 16px 0 16px;
  }

  InputRow.vol4 Label {
    /* background: pink; */
    /* font-size: 12px */
  }

  InputRow:focus-within {}

}
