/** label.st.css */

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: Label;
  -st-named:
    labelTextContainer,
    labelText,
    labelHintText,
    hasInput;
}

@st-scope Default {
  Label {
    /* Stops the text from getting selecting whne clicking on labels. */
    user-select: none;
  }

  /* If the Label includes an inline assume we want a basic checkbox/radio layout. */
  Label.hasInput {
    display: flex;
    /* Reserve the direction as we provide the label first as per logical source order. I must read before I know what to do.*/
    flex-direction: row-reverse;
    /* Vertically align the items. */
    align-items: center;
    /* Align to the end which as we have reversed the direction is now left in ltr languages.*/
    justify-content: flex-end;
  }

  Label::labelTextContainer {
    display: block;
  }

  Label::labelText {
    display: block;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  Label::labelHintText {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

}
