/** label.st.css */

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
}

:import {
  -st-from: "../../../components/Label/label.st.css";
  -st-default: Label;
  -st-named:
    labelTextContainer,
    labelText,
    labelHintText,
    hasInput;
}

@st-scope Default {
  Label {
    /* Stops the text from getting selecting whne clicking on labels. */
    user-select: none;
  }


  /* Note we are setting the fonts here:
- After much dicking around Shelley has come to the conclusion that labels should 
generally always be the same size regardless of any size associated with the input
accept maybe when a selection control is being used. Checkbox/Radio/Switch labels
maybe different as they take more of a 'content' look in general. 
- uppercase can give the labels an extra dimension but invariably other font properties
will need to be overridden. Should this be a setting we expose? Maybe not, maybe it's 
simply part of a variant style.... Or maybe you are using the headings like we are...
for tech text we are using uppercase but for articles we are not planning too. If we 
use a form we might want it to match our copy style so perhaps all labels need to 
have this ability and it's valid...

*/

  Label {
    font-size: .8rem;
  }

  @media screen and (min-width: 600px) {

    Label {
      font-size: .625rem;
    }
  }

  /* If the Label includes an inline assume we want a basic checkbox/radio layout. */
  Label.hasInput {
    display: flex;
    /* Reserve the direction as we provide the label first as per logical source order. I must read before I know what to do.*/
    flex-direction: row-reverse;
    /* Vertically align the items. */
    align-items: center;
    /* Align to the end which as we have reversed the direction is now left in ltr languages.*/
    justify-content: flex-end;
  }

  Label::labelTextContainer {
    display: block;
  }

  Label::labelText {
    display: block;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

  @media screen and (min-width: 600px) {

    Label::labelText {
      /* - uppercase */
      /* font-size: .9em; */
    }
  }


  Label::labelHintText {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
  }

}
