:import {
  -st-from: "../variables.st.css";
  -st-named:
    --font-plain,
    --spacing-unit,
    --text-vol-1-min, --text-vol-1-max, --text-vol-1-scale,
    --text-vol-2-min, --text-vol-2-max, --text-vol-2-scale,
    --text-vol-3-min, --text-vol-3-max, --text-vol-3-scale,
    --text-vol-4-min, --text-vol-4-max, --text-vol-4-scale,
    --text-vol-5-min, --text-vol-5-max, --text-vol-5-scale,
    --text-vol-6-min, --text-vol-6-max, --text-vol-6-scale,
    --text-vol-7-min, --text-vol-7-max, --text-vol-7-scale,
    --text-vol-8-min, --text-vol-8-max, --text-vol-8-scale,
    --text-vol-9-min, --text-vol-9-max, --text-vol-9-scale,
    --text-vol-10-min, --text-vol-10-max, --text-vol-10-scale,
    --text-vol-11-min, --text-vol-11-max, --text-vol-11-scale
}


/* Volume 1 */
.textVol1 {
  font-size: value(--text-vol-1-scale);
  line-height: 1.45
}

@media screen and (min-width: 1800px) {
  .textVol1 {
    font-size: value(--text-vol-1-max);
  }
}

/* Volume 2 */
.textVol2 {
  font-size: value(--text-vol-2-scale);
  line-height: 1.65;
}

@media screen and (min-width: 1800px) {
  .textVol2 {
    font-size: value(--text-vol-2-max);
  }
}

/* Volume 3 */
.textVol3 {
  font-size: value(--text-vol-3-scale);
  line-height: 1.8;
}

@media screen and (min-width: 1800px) {
  .textVol3 {
    font-size: value(--text-vol-3-max);
  }
}

/* Volume 4 */
.textVol4 {
  font-size: value(--text-vol-4-scale);
  line-height: 1.45;
}

@media screen and (min-width: 1800px) {
  .textVol4 {
    font-size: value(--text-vol-4-max)
  }
}

/* Volume 5 */
.textVol5 {
  font-size: value(--text-vol-5-scale);
  line-height: 1.4
}

@media screen and (min-width: 1800px) {
  .textVol5 {
    font-size: 2.082em;
  }
}

/* Volume 6 */
.textVol6 {
  font-size: value(--text-vol-6-scale);
  line-height: 1.3
}

@media screen and (min-width: 1800px) {
  .textVol6 {
    font-size: value(--text-vol-6-max);
  }
}

/* Volume 7 */
.textVol7 {
  font-size: value(--text-vol-7-scale);
  line-height: 1.15;
  font-weight: 300;
}

@media screen and (min-width: 1800px) {
  .textVol7 {
    font-size: value(--text-vol-7-max)
  }
}

/* Volume 8 */
.textVol8 {
  font-size: value(--text-vol-8-scale);
  line-height: 1.1;
  font-weight: 300;
}

@media screen and (min-width: 1800px) {
  .textVol8 {
    font-size: value(--text-vol-8-max)
  }
}

/* Volume 9 */
.textVol9 {
  font-size: value(--text-vol-9-scale);
  font-weight: 300;
  line-height: 1.05;
}

@media screen and (min-width: 1800px) {
  .textVol9 {
    font-size: value(--text-vol-9-max)
  }
}

/* Volume 10 */
.textVol10 {
  font-size: value(--text-vol-10-scale);
  font-weight: 300;
  line-height: 1.05;
}

@media screen and (min-width: 1800px) {
  .textVol10 {
    font-size: value(--text-vol-10-max)
  }
}

/* Volume 11 */
.textVol11 {
  font-size: value(--text-vol-11-scale);
  font-weight: 300;
  line-height: 1.05;
}

@media screen and (min-width: 1800px) {
  .textVol11 {
    font-size: value(--text-vol-11-max)
  }
}
