:import {
  -st-from: "../../../components/Text/text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named: --font-plain, --base-font-size, --base-font-size-sm,
    --base-font-size-md, --base-font-size-lg, --ratio, --spacing-unit,
    --v1, --v2, --v3, --v4, --v5, --v6, --v7, --v8, --v9, --v10
}

@st-scope Default {
  Text {
    font-weight: 300;
    letter-spacing: .05em;
  }

  Text.vol0 {
    font-size: 0;
  }

  Text.vol1 {
    font-size: value(--v1);
  }

  Text.vol2 {
    font-size: value(--v2);
  }

  Text.vol3 {
    font-size: value(--v3);
    font-size: calc(0.33vw + 1.06rem);
    line-height: 1.45
  }

  Text.vol4 {
    font-size: value(--v4);
    line-height: 1.25;
    font-weight: 100;
  }

  Text.vol5 {
    font-size: value(--v5);
    font-weight: 100;
    line-height: 1.25;
  }

  Text.vol6 {
    font-size: value(--v6);
    font-weight: 100;
    line-height: 1.15;
  }

  Text.vol7 {
    font-size: value(--v7);
    letter-spacing: .06em;
    font-weight: 100;
    line-height: 1.15;
  }

  Text.vol8 {
    font-size: value(--v8);
    font-weight: 100;
    line-height: 1.1;
  }

  Text.vol9 {
    font-size: value(--v9);
    font-weight: 100;
    line-height: 1.05;
  }

  Text.vol10 {
    font-size: value(--v10);
    font-weight: 100;
    line-height: 1;
  }

  :global(.bodyCopy) Text:not(span) {
    margin-bottom: calc((value(--spacing-unit) * 2))
  }

  :global(.bodyCopy) Text+Text:not(:first-child):not(p) {
    margin-top: calc((value(--spacing-unit) * 3))
  }

  :global(.bodyCopy) Text.vol7 {
    margin-bottom: calc((value(--spacing-unit) * 2))
  }

  :global(.bodyCopy) a {
    text-decoration: none;
    position: relative;
    padding: 0.1rem 0;
    outline: none;
  }

  :global(.bodyCopy) a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
  }

  :global(.bodyCopy) a:hover:before,
  :global(.bodyCopy) a:focus:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


  /* 
  :global(.bodyCopy p)Text+ :global(p)Text {
    margin-top: 16px
  } 
*/

  Text.uppercase {
    text-transform: uppercase;
    letter-spacing: .15em;
  }

  code {
    font-family: 'Courier New', Courier, monospace;
    border-radius: 4px;
    color: value(--color-accent-1-default);
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0 4px;
    margin: 0;
  }
}
