/** textInput.st.css */

:import {
  -st-from: "../../../components/TextInput/textInput.st.css";
  -st-default: TextInput;
}

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named: --font-plain, --base-font-size, --base-font-size-sm,
    --base-font-size-md, --base-font-size-lg, --ratio, --spacing-unit,
    --v1, --v2, --v3, --v4, --v5,
}

@st-scope Default {
  TextInput {
    display: inline-flex;
    /* background: transparent; */
    outline: none;
    /* border-left: 1px solid transparent; */
    color: #f1f1f1;
    resize: none;
    /* transition: border 0.3s; */
    border-radius: 0;
    /* -webkit-font-smoothing: antialiased; */
    line-height: 1.5;

    background: #00000024;

    /* border-left-color: #33d25f45; */
    /* font-size: calc(0.333vw + 0.92rem); */
    position: relative;
  }

  TextInput:error::before {
    /* border-left-color: #b66b6e; */
    background-color: #b66b6e;
  }

  TextInput::before {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    transition: background-color 0.3s;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #33d25f45;
  }


  TextInput:focus-within::before {
    /* border-left-color: #26c552;
    border-color: #09b1f1; */
    /* border-left-color: #ff5e00; */
    background-color: #09b1f1;
  }

  TextInput::textAreaWrap {
    width: 100%;
  }

  TextInput::input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    resize: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    padding: 7px 12px;
    line-height: 1.5;
    outline: none;
  }

  TextInput::input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1b1b1;
    opacity: .7;
    /* Firefox */
    line-height: 1.4;
  }

  TextInput:disabled>* {
    opacity: .15
  }

  TextInput::adornment {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    align-self: center;
    padding-left: 12px;
    padding-right: 12px;
  }

  TextInput::adornment+input {
    margin-left: -16px;
  }

  TextInput::input+div {
    margin-left: -16px;

  }
}
