/** text.st.css */

:import {
  -st-from: "../../../components/Text/text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "../../../components/Grid/grid.st.css";
  -st-default: Grid;
}

/* :import {
  -st-from: "./grid.st.css";
  -st-default: Grid;
} */

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named:
    --color-accent-1-default,
    --color-accent-2-default,
    --color-accent-3-default,
    --color-accent-4-default,
    --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named:
    --font-plain,
    --spacing-unit;
}

:import {
  -st-from: './textVolume.st.css';
  -st-named:
    textVol1,
    textVol2,
    textVol3,
    textVol4,
    textVol5,
    textVol6,
    textVol7,
    textVol8,
    textVol9,
    textVol10,
    textVol11;
}


@st-scope Default {
  Text {
    font-weight: 400;
    /* switch off for light / dark bgs.... */
    -webkit-font-smoothing: antialiased;
  }

  /* Volume 1 */
  Text.vol1 {
    -st-mixin: textVol1
  }

  /* Volume 2 */
  Text.vol2 {
    -st-mixin: textVol2
  }

  /* Volume 3 */
  Text.vol3 {
    -st-mixin: textVol3
  }

  /* Volume 4 */
  Text.vol4 {
    -st-mixin: textVol4
  }

  /* Volume 5 */
  Text.vol5 {
    -st-mixin: textVol5
  }

  /* Volume 6 */
  Text.vol6 {
    -st-mixin: textVol6
  }

  /* Volume 7 */
  Text.vol7 {
    -st-mixin: textVol7
  }

  /* Volume 8 */
  Text.vol8 {
    -st-mixin: textVol8
  }

  /* Volume 9 */
  Text.vol9 {
    -st-mixin: textVol9
  }

  /* Volume 10 */
  Text.vol10 {
    -st-mixin: textVol10
  }

  /* Volume 11 */
  Text.vol11 {
    -st-mixin: textVol11
  }


  /* Uppercase */
  Text.uppercase {
    text-transform: uppercase;
    letter-spacing: .25em;
  }

  Text.vol1.uppercase {
    letter-spacing: .41em;
  }

  Text.vol2.uppercase {
    letter-spacing: .41em;
  }

  Text.vol3.uppercase {
    letter-spacing: .41em;
  }

  Text.vol4.uppercase {
    letter-spacing: .31em;
  }

  /* 
   Handy little work around this if you want to style based on a tag, useful 
   where a component, link Text can output a number of tags as it's root element. */
  :global(h2)Text.uppercase,
  :global(h3)Text.uppercase,
  :global(h4)Text.uppercase {
    color: value(--color-accent-2-default);
    color: var(--color-accent-2, value(--color-accent-2-default));
  }

  /* #ea91ff */


  /* State selectors - Note: Inherits functional styles from Shelley. */
  Text:truncate {
    /* 
      Probably best remove this and set widths as and when you use truncate. 
      The styles require a known width container and this is an example we use.

      Try not to use truncate but we know that sometimes it can be a compromise.
    */
    max-width: 32rem
      /* FYI: We will change the API to support multiline via https://caniuse.com/#feat=css-line-clamp*/
  }

  /* Styles - typical child children. */


  abbr[title] {
    text-decoration: none;
    border-bottom: 1px dotted rgba(243, 243, 202, 0.39);
    cursor: help;
    padding-bottom: 0.1rem;
  }

  code [title]:hover {
    text-shadow: 0 0 10px rgb(197, 197, 197)
  }

  Text a {
    text-decoration: none;
    position: relative;
    padding-bottom: 1px;
    color: value(--color-accent-1-default);
    color: var(--color-accent-1, value(--color-accent-1-default));
    border-bottom: 0.05em solid rgba(110, 164, 218, 0.5);
    transition: border-color .15s ease-out;
  }

  Text a:hover,
  Text a:focus {
    /* background-image: linear-gradient(0deg, #81c1ff 0%, transparent 2px); */
    border-color: #81c1ff
  }

  Text del,
  Text ins {
    text-decoration: none;
    padding: 0.1rem 0;
  }

  Text del {
    background-position: 0 -0.5em;
    background-image: linear-gradient(0deg, #ff6a6a 0%, transparent 2px);
  }

  Text ins {
    background-image: linear-gradient(0deg, #23c48d 0%, transparent 2px);
  }

  Text em {
    font-weight: 400;
  }

  Text code {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    font-size: .8em;
    font-weight: 600 color: value(--color-accent-4-default);
    color: var(--color-accent-4, value(--color-accent-4-default));
  }

  /* Styles - typical child children. */
  .large {
    background: green
  }

  .intro {
    /* margin-top: 12px;
    margin-bottom: 12px; */
    /* line-height: 1.45; */
  }
}
