/** textInput.st.css */

:import {
  -st-from: "../../../components/TextInput/textInput.st.css";
  -st-default: TextInput;
  -st-named: inputField
}

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named:
    --spacing-unit,
    --text-vol-3-scale,
    --text-vol-3-max,
    --text-vol-4-max,
    --text-vol-4-scale,
}

@st-scope Default {
  TextInput {
    display: inline-flex;
    outline: none;
    color: --color-ui-default;
    resize: none;
    border-radius: 0;
    /* -webkit-font-smoothing: antialiased; */
    line-height: 1.5;
    position: relative;
  }


  TextInput:error::before {
    /* border-left-color: #b66b6e; */
    background-color: #b66b6e;
  }

  TextInput::before {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    transition: background-color 0.3s;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #33d25f45;
  }


  TextInput:focus-within::before {
    /* border-left-color: #26c552;
    border-color: #09b1f1; */
    /* border-left-color: #ff5e00; */
    background-color: #09b1f1;
  }

  TextInput::textAreaWrap {
    display: block;
    width: 100%;
  }



  /* 
  https://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs
  https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css */

  TextInput::inputField {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    margin: 0;
    display: block;
    min-width: 0;
    background: none;
    resize: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    line-height: 1.5;
    outline: none;
    padding: calc(0.2rem + 0.2em) value(--spacing-unit)
  }

  TextInput::inputField::placeholder {
    color: #b1b1b1;
    opacity: .7;
    line-height: 1.4;
  }

  /*https://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs*/
  TextInput::inputField:-webkit-autofill,
  TextInput::inputField:-webkit-autofill:hover,
  TextInput::inputField:-webkit-autofill:focus,
  TextInput::inputField:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
  }

  TextInput:disabled>* {
    opacity: .15
  }

  TextInput::adornment {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    align-self: center;
    padding-left: 12px;
    padding-right: 12px;
  }

  /* Unable to use a stylable class with the adjacent selector? USe a namedImport as a class. */
  TextInput::adornment+.inputField {
    margin-left: -1em;
  }

  TextInput::inputField+div {
    margin-left: -16px;

  }
}
