/** text.st.css */

:import {
  -st-from: "../../../components/Text/text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "../../../components/Grid/grid.st.css";
  -st-default: Grid;
}

/* :import {
  -st-from: "./grid.st.css";
  -st-default: Grid;
} */

:import {
  -st-from: "../theme.st.css";
  -st-default: Default;
  -st-named:
    --color-accent-1-default,
    --color-ui-default;
}

:import {
  -st-from: "../variables.st.css";
  -st-named:
    --font-plain,
    --spacing-unit,
    --text-vol-1-min, --text-vol-1-max, --text-vol-1-scale,
    --text-vol-2-min, --text-vol-2-max, --text-vol-2-scale,
    --text-vol-3-min, --text-vol-3-max, --text-vol-3-scale,
    --text-vol-4-min, --text-vol-4-max, --text-vol-4-scale,
    --text-vol-5-min, --text-vol-5-max, --text-vol-5-scale,
    --text-vol-6-min, --text-vol-6-max, --text-vol-6-scale,
    --text-vol-7-min, --text-vol-7-max, --text-vol-7-scale,
    --text-vol-8-min, --text-vol-8-max, --text-vol-8-scale,
    --text-vol-9-min, --text-vol-9-max, --text-vol-9-scale,
    --text-vol-10-min, --text-vol-10-max, --text-vol-10-scale,
    --text-vol-11-min, --text-vol-11-max, --text-vol-11-scale
}




@st-scope Default {
  Text {
    font-weight: 400;
    /* switch off for light / dark bgs.... */
    -webkit-font-smoothing: antialiased;

  }

  /* Volume 1 */
  Text.vol1 {
    font-size: value(--text-vol-1-scale);
    line-height: 1.45
  }

  @media screen and (min-width: 1800px) {
    Text.vol1 {
      font-size: value(--text-vol-1-max);
    }
  }

  /* Volume 2 */
  Text.vol2 {
    font-size: value(--text-vol-2-scale);
    line-height: 1.2608
  }

  @media screen and (min-width: 1800px) {
    Text.vol2 {
      font-size: value(--text-vol-2-max);
    }
  }

  /* Volume 3 */
  Text.vol3 {
    font-size: value(--text-vol-3-scale);
    line-height: 1.45;
  }

  @media screen and (min-width: 1800px) {
    Text.vol3 {
      font-size: value(--text-vol-3-max);
    }
  }

  /* Volume 4 */
  Text.vol4 {
    font-size: value(--text-vol-4-scale);
    line-height: 1.45;
  }

  @media screen and (min-width: 1800px) {
    Text.vol4 {
      font-size: value(--text-vol-4-max)
    }
  }

  /* Volume 5 */
  Text.vol5 {
    font-size: value(--text-vol-5-scale);
    line-height: 1.25;
  }

  @media screen and (min-width: 1800px) {
    Text.vol5 {
      font-size: 2.082em;
    }
  }

  /* Volume 6 */
  Text.vol6 {
    font-size: value(--text-vol-6-scale);
    line-height: 1.35;
    /* line-height: 1.25; */
  }

  @media screen and (min-width: 1800px) {
    Text.vol6 {
      font-size: value(--text-vol-6-max);
    }
  }

  /* Volume 7 */
  Text.vol7 {
    font-size: value(--text-vol-7-scale);
    /* letter-spacing: .06em; */
    line-height: 1.15;
    /* line-height: 1.25; */
    font-weight: 300;
  }

  @media screen and (min-width: 1800px) {
    Text.vol7 {
      font-size: value(--text-vol-7-max)
    }
  }

  /* Volume 8 */
  Text.vol8 {
    font-size: value(--text-vol-8-scale);
    line-height: 1.1;
    font-weight: 300;
  }

  @media screen and (min-width: 1800px) {
    Text.vol8 {
      font-size: value(--text-vol-8-max)
    }
  }

  /* Volume 9 */
  Text.vol9 {
    font-size: value(--text-vol-9-scale);
    font-weight: 300;
    line-height: 1.05;
  }

  @media screen and (min-width: 1800px) {
    Text.vol9 {
      font-size: value(--text-vol-9-max)
    }
  }

  /* Volume 10 */
  Text.vol10 {
    font-size: value(--text-vol-10-scale);
    font-weight: 300;
    line-height: 1.05;
  }

  @media screen and (min-width: 1800px) {
    Text.vol10 {
      font-size: value(--text-vol-10-max)
    }
  }

  /* Volume 11 */
  Text.vol11 {
    font-size: value(--text-vol-11-scale);
    font-weight: 300;
    line-height: 1.05;
  }

  @media screen and (min-width: 1800px) {
    Text.vol11 {
      font-size: value(--text-vol-11-max)
    }
  }


  /* Uppercase */
  Text.uppercase {
    text-transform: uppercase;
    letter-spacing: .25em;
  }

  Text.vol1.uppercase {
    letter-spacing: .41em;
  }

  Text.vol2.uppercase {
    letter-spacing: .41em;
  }

  Text.vol3.uppercase {
    letter-spacing: .41em;
  }

  Text.vol4.uppercase {
    letter-spacing: .31em;
  }

  :global(h2)Text.uppercase {
    color: #52fba7;
  }

  :global(h3)Text.uppercase {
    color: #ea91ff
  }

  :global(h4)Text.uppercase {
    color: #52fba7
  }

  /* #ea91ff */

  /* State selectors - Note: Inherits functional styles from Shelley. */
  Text:truncate {
    /* 
      Probably best remove this and set widths as and when you use truncate. 
      The styles require a known width container and this is an example we use.

      Try not to use truncate but we know that sometimes it can be a compromise.
    */
    max-width: 32rem
      /* FYI: We will change the API to support multiline via https://caniuse.com/#feat=css-line-clamp*/
  }

  /* Styles - typical child children. */
  Text a {
    text-decoration: none;
    position: relative;
    padding: 0.1rem 0;
    /* outline: none; */
    color: #81c1ff;

    border-bottom: 0.0625rem solid rgba(110, 164, 218, 0.5);
    transition: border-color .15s ease-out;
  }

  Text a:hover,
  Text a:focus {
    /* background-image: linear-gradient(0deg, #81c1ff 0%, transparent 2px); */
    border-color: #81c1ff
  }

  Text del,
  Text ins {
    text-decoration: none;
    padding: 0.1rem 0;
  }

  Text del {
    background-position: 0 -0.5em;
    background-image: linear-gradient(0deg, #ff6a6a 0%, transparent 2px);
  }

  Text ins {
    background-image: linear-gradient(0deg, #23c48d 0%, transparent 2px);
  }

  Text em {
    font-weight: 400;
  }

  Text code {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    font-size: .8em;
    /* color: #52fba7; */
    color: #b9b9b9;
    /* color: #d6d6d6; */
    font-weight: 600
  }

  /* Styles - typical child children. */
  .large {
    background: green
  }

  .intro {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 1.45;
  }



  /* @todo: Move to some kind of layout / grid component... when we have one. *
  /* font-variant: all-petite-caps; */
  /* https://stackoverflow.com/questions/11232402/font-variantsmall-caps-works-ok-on-ie-and-firefox-looks-blurry-on-safari-oper */

  /* display: grid;
    grid-column-gap: 12px;
    grid-template-columns: [full-bleed-start] 12px [outset-start content-start] repeat(12, 1fr) [content-end outset-end] 12px [full-bleed-end];
     */
  /* Grid>Text {
    grid-column: content-start / content-end;
  }

  :global(.bodyCopy) {
    display: grid;
    grid-row-gap: 1.4rem;
    grid-column-gap: 12px;
    grid-template-columns: [full-bleed-start] 1vw [outset-start content-start] repeat(12, 1fr) [content-end outset-end] 0.25rem [full-bleed-end];
    grid-template-columns: [full-bleed-start] auto [outset-start content-start] repeat(12, minmax(0, 4.6vw)) [content-end outset-end] auto [full-bleed-end];
  }

  @media screen and (min-width: 950px) {
    :global(.bodyCopy) {
      grid-column-gap: 24px;
      grid-template-columns: [full-bleed-start] auto [outset-start] repeat(2, minmax(0, 5.1vw)) [content-start] repeat(8, minmax(0, 5.1vw)) [content-end] repeat(2, minmax(0, 5.1vw)) [outset-end] auto [full-bleed-end];
    }
  } */

  /* :global(.bodyCopy)>Text {
    grid-column: content-start / content-end;
  } */


  /* :global(.bodyCopy) Text:not(span) {
    margin-bottom: calc((value(--spacing-unit) * 3))
  }

  :global(.bodyCopy) Text+Text:not(:first-child):not(p) {
    margin-top: calc((value(--spacing-unit) * 3))
  } */

  /* :global(.bodyCopy)>Text.vol4,
  :global(.bodyCopy)>Text.vol5,
  :global(.bodyCopy)>Text.vol6 {
    margin-top: calc(1 * (1em + .5vw));
  } */
  /* 
  :global(.bodyCopy) Text.vol4,
  Grid>Text.vol4 {
    margin-top: 1.94rem;
  } */

  /* :global(.bodyCopy) Text.vol5,
  Grid>Text.vol5 {
    margin-top: 2.25rem;
    margin-top: .85rem;
    margin-top: .83rem;
    margin-bottom: -1px;
    margin-bottom: -0.1rem;
  } */

  /* 

  :global(.bodyCopy) Text.vol6,
  Grid>Text.vol6 {
    margin-bottom: -0.3rem;
    margin-top: 2.25rem;
    padding-top: 3px;
  }

  :global(.bodyCopy) Text.vol4:first-child,
  :global(.bodyCopy) Text.vol5:first-child,
  :global(.bodyCopy) Text.vol6:first-child {
    margin-top: 0
  }

  Grid>Text.vol4:first-child,
  Grid>Text.vol5:first-child,
  Grid>Text.vol6:first-child {
    margin-top: 0
  }

  :global(.bodyCopy) Text.vol7,
  Grid>Text.vol7 {
    margin-bottom: calc((value(--spacing-unit) * 2))
  } */
}
