/* tabs.st.css CSS API */
.root {
  -st-states:
    orientation(enum(horizontal, vertical)),
    vol(number);
  display: flex;
  flex-direction: column;
}

.indicator {
  -st-states: isFocusVisible;
  position: absolute;
  transition: transform 150ms, width 100ms, height 100ms;
}

.tab {
  -st-states:
    isFocusVisible,
    isDisabled,
    isPressed,
    isSelected;
}

.tabListContainer {
  position: relative;
}

.tabList {
  display: flex;
}

.tabPanel {
  flex-grow: 1;
}

.root:orientation(vertical) {
  flex-direction: row;
}

.root:orientation(vertical)::tabList {
  flex-direction: column;
}

.root:orientation(vertical)::indicator {
  right: 0;
  top: 0;
  width: 2px;
  will-change: transform, height;
}

.root:orientation(horizontal)::indicator {
  left: 0;
  height: 2px;
  will-change: transform, width;
}
