/* tabs.st.css CSS API */
.root {}

.tabListContainer {}

.tabSelection {
  -st-states: isFocusVisible;
  position: absolute;
  background-color: blue;
  height: 2px;
  left: 0;
  will-change: transform, width;
  transition: transform 150ms, width 100ms;
}

.tabList {
  display: flex;
  border-bottom: 1px solid white;
}
