@st-namespace "modal";

.root {
  -st-states:
    variant(string),
    transition(string);
}

.root {}

.backdrop {}

.content {}

.blurBackground {}

/* = Content Transitions */

/* Map transition lifecycle classes to global CSSTransitionGroup classes. */
.enter {
  -st-global: '.enter';
}

.enterActive {
  -st-global: '.enter-active';
}

.enterDone {
  -st-global: '.enter-done';
}

.exit {
  -st-global: '.exit';
}

.exitActive {
  -st-global: '.exit-active';
}

.exitDone {
  -st-global: '.exit-done';
}
