.toastRegion {
  position: fixed;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

:import {
  -st-from: "../../styles/default/project.st.css";
  -st-default: Default;
  -st-named:
    breakpoint-sm
}

.root {
  -st-states: priority(enum(info, success, warning, error));
}

.closeButton {}

.root button:focus-visible {}

.root button:active {}

.actionButton {}

.actionAndCloseWrapper {}

.closeButtonWrapper {}

.iconAndTitleWrapper {}

.root svg {}

@media value(breakpoint-sm) {
  @st-scope Default {
    .toastRegion {
      right: 16px;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
