/* menuList.st.css CSS API */

.root {
  display: block;
  white-space: nowrap;
  border: solid 1px #434347;
  background: rgb(38 38 38 / 99%);
  outline: none;
  padding: 0.25rem 0;
  font-size: 85%;
}
