/** radioGroup.st.css */
@namespace "RadioGroup";

:import {
  -st-from: '../Field/field.st.css';
  -st-default: Field
}

.root {
  -st-extends: Field;
  -st-states: orientation(enum(vertical, horizontal));
}

.group {
  display: flex;
}

.root:orientation(vertical) .group {
  flex-direction: column;
}

.root:orientation(horizontal) .group {
  flex-flow: wrap;
}
