/* popup.st.css CSS API */
.root {}

.list {}

.arrow {
  /* -st-states: placement(enum(top, bottom, left, right)); */
  -st-states: placement(string);
  position: absolute;

  height: 12px;
  width: 12px;
}

.arrow:placement(top) {
  bottom: -12px;
  margin-left: -6px;
}

.arrow:placement(right) {
  rotate: 90deg;
  left: -12px;
  margin-top: -6px;
}

.arrow:placement(bottom) {
  rotate: 180deg;
  top: -12px;
  margin-left: -6px;
}

.arrow:placement(left) {
  right: -12px;
  rotate: 270deg;
  margin-top: -6px;
}

/* .spectrum-popup--bottom_6115b8 .spectrum-popup-tip_6115b8 {
  bottom: 100%;
  transform: scaleY(-1);
} */
