@st-namespace "shelleyAppBar";
/**
 * = AppBar - appBar.st.css
 *
 * Base theme styles for a Shelley AppBar.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/AppBar/appBar.st.css
 * 
 */
@st-import AppBar from "../AppBar/appBar.st.css";

@st-scope body {
  AppBar {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  AppBar:align(end) {
    justify-content: flex-end;
  }
}
