@st-namespace "DefaultComboBox";
/**
 * = ComboBox - comboBox.st.css
 *
 * Base theme styles for a Shelley ComboBox.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/ComboBox/comboBox.st.css
 * 
 */
@st-import [--spacing-unit] from "./project.st.css";
@st-import ComboBox from "../ComboBox/comboBox.st.css";

@st-scope body {

  ComboBox::trigger {
    font-size: 1em;
    padding: 0.2em 1em;
  }

  /* Disable the hover on the trigger. */
  ComboBox::trigger::before {
    display: none;
  }

  ComboBox::fieldInput:focus {
    padding-right: 0
  }

  ComboBox::endAdornment {
    /* Reset the font-size for the Button icon */
    font-size: 1em;
    opacity: 1;
  }

  ComboBox::loader {
    margin-left: 2px;
    align-self: center;
  }

  ComboBox::placeholder {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

@st-scope [dir=rtl] {

  ComboBox::trigger {
    margin-left: -8px;
    margin-right: 2px;
  }

  ComboBox::fieldInput:focus {
    padding-right: var(--spacing-unit);
    padding-left: 0;
  }

  ComboBox::loader {
    margin-left: 0;
    margin-right: 2px;
  }

}
