@st-namespace "shelleyIcon";
/**
 * = InputAdornment - inputAdornment.st.css
 *
 * Base theme styles for a Shelley InputAdornment.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/InputAdornment/inputAdornment.st.css
 * 
 */
@st-import Shelley from "./project.st.css";
@st-import InputAdornment from "../InputAdornment/inputAdornment.st.css";

@st-scope Shelley {
  InputAdornment {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    align-self: center;
    padding-left: 0.69231rem;
    padding-right: 0.69231rem;
    font-size: 0.8em;
    opacity: 0.8;
  }

  InputAdornment:empty {
    width: 0;
  }
}
