@st-namespace "shelleyProgressBar";
@st-import Shelley, [
  --color-ui-rgb-inverse,
  --color-ui-rgb,
  --progress-fill-color
] from "./project.st.css";
@st-import ProgressBar from "../Progress/progressBar.st.css";

@st-scope Shelley {
  ProgressBar {
    --loader-bar-size-small: 2px;
    --loader-bar-size-medium: 8px;
    --loader-bar-size-large: 12px;

    --loader-bar-track-fill-color: var(--progress-fill-color);
    --loader-bar-track-color: rgba(var(--color-ui-rgb), 0.2);
    --loader-border-radius: calc(var(--loader-bar-size) / 2);

    /* Defaults to medium */
    --loader-bar-size: var(--loader-bar-size-medium);
  }

  ProgressBar:variant(overBackground) {
    --loader-bar-track-fill-color: var(--color-tone-lead);
    --loader-bar-track-color: rgba(var(--color-ui-rgb), 0.2);
  }

  ProgressBar:size(small) {
    --loader-bar-size: var(--loader-bar-size-small);
  }

  ProgressBar:size(large) {
    --loader-bar-size: var(--loader-bar-size-large);
  }

  ProgressBar::text {
    display: grid;
    margin-bottom: 8px;
  }

  ProgressBar::label {
    grid-row: 1;
    justify-self: start;
  }

  ProgressBar::valueLabel {
    grid-row: 1;
    justify-self: end;
  }

  ProgressBar::bar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    overflow: hidden;
    border-radius: var(--loader-border-radius);
  }

  ProgressBar::track {
    flex-grow: 1;
    background-color: var(--loader-bar-track-color);
    border-radius: var(--loader-border-radius);
  }

  ProgressBar::fill {
    height: var(--loader-bar-size);
    border-radius: var(--loader-border-radius);
  }

  ProgressBar::fill:isActive {
    background-color: var(--loader-bar-track-fill-color);
  }

  ProgressBar:isIndeterminate::fill {
    animation: indeterminateAnimation 1s linear infinite;
  }
}


@keyframes indeterminateAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}
