@st-namespace "tabs";

.root {
  -st-states:
    orientation(enum(horizontal, vertical)),
    vol(number);
}

.indicator {
  /* 'indicator' is the bar which moves left-right, up-down dependant on orientation. 
   * The animations for width (orientation=horizontal) and height (orientation=vertical) 
   * are calculated by the component and applied inline. We will need to set the thickness 
   * of the indicator for both orientations. */
  -st-states: isFocusVisible;
}

.tab {
  -st-states:
    isFocusVisible,
    isDisabled,
    isPressed,
    isSelected;
}

.tabListContainer {}

.tabList {}

.tabPanel {}
