@st-namespace "progressBar";

.root {
  -st-states: isIndeterminate,
    size(enum(small, medium, large)),
    overBackground,
    multistep(boolean),
    variant(enum(overBackground));
}

.text {}

.label {}

.valueLabel {}

.bar {}

.track {
  -st-states: active;
}

.fill {
  -st-states: isActive;
}
