@namespace "ProgressBar";

.root {

  -st-states: isIndeterminate,
    size(enum(small, medium, large)),
    overBackground,
    variant(enum(overBackground));


  --loader-circle-small-width: 16px;
  --loader-circle-small-height: 16px;
  --loader-circle-small-border-size: 2px;

  --loader-circle-medium-width: 32px;
  --loader-circle-medium-height: 32px;
  --loader-circle-medium-border-size: 3px;

  --loader-circle-large-width: 64px;
  --loader-circle-large-height: 64px;
  --loader-circle-large-border-size: 4px;

  --loader-circle-track-color: lightgrey;
  --loader-circle-track-fill-color: grey;

  /* Defaults to medium */
  --loader-circle-width: var(--loader-circle-medium-width);
  --loader-circle-height: var(--loader-circle-medium-height);
  --loader-circle-border-size: var(--loader-circle-medium-border-size);
}

.root {

  width: 100%;
  height: 8px;
  background-color: #e6e6e6;
  border-radius: 4px;
  overflow: hidden;

  /* provisional */
  width: 80vh;
  height: 50px;
}

.step {
  height: 100%;
  background-color: #007a4d;
  transition: width 0.2s ease-in-out;
}

.stepActive {
  height: 100%;
  background-color: #007a4d;
  transition: width 0.2s ease-in-out;
}

.track {}

.fill {}

.label {}

.stepContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background-color: transparent;
}

.stepIndicator {
  flex-grow: 1;
  height: 4px;
  margin: 0 2px;
  background-color: #6a6a6a;
  border-radius: 50px;
}

.stepIndicator.active {
  background-color: #007a4d;
}