*,
:after,
:before {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

[hidden] {
  display: none;
}

[hidden]+* {
  margin-top: 0 !important;
}

footer,
header,
main,
nav {
  display: block;
}
