/**
 * Default theme inclusing colors. This is just an example to get started, we tend to 
 * use this for our color build time variables and our run time CSS3 color variables.
 * We can easily map them to each other so that we can provide a fallback value that
 * is a build variable.
 */

@namespace "Default";

:import {
  -st-from: "./variables.st.css";
  -st-named: --ratio, --font-plain;
}

:import {
  -st-from: "./global.st.css";
}

/* Default theme colours */
:vars {

  /* Core light forground. */
  --light-01-raw: 255, 255, 255;
  --light-01: rgb(value(--light-01-raw));
  /* Core dark forground. */
  --dark-01-raw: 51, 51, 51;
  --dark-01: rgb(value(--dark-01-raw));

  /* Default site values which will be used for the fallbacks. */
  /* --color-accent-1-default: rgb(14, 97, 148);  */
  /* --color-accent-1-default: rgb(83, 180, 218); */
  --color-accent-1-default: #65bfff;

  /* rgb(83, 180, 218) */
  --color-accent-2-default: #52fba7;
  --color-accent-3-default: #ea91ff;
  --color-accent-4-default: #f7e1b9;

  --color-background-1-default: rgb(23, 26, 35);
  --color-background-2-default: rgba(0, 0, 0, 0.4);
  --color-background-3-default: rgba(255, 255, 255, 0.15);
  --color-background-4-default: rgba(255, 255, 255, 0.15);
  --color-background-modal-default: rgba(23, 26, 35, 0.98);
  --color-text-1-default: value(--light-01);
  --color-text-2-default: rgba(value(--light-01-raw), 0.9);
  --color-text-3-default: rgba(value(--light-01-raw), 0.8);
  --color-text-4-default: rgba(value(--light-01-raw), 0.6);
  --color-status-error-default: red;
  --color-status-warn-default: orange;
  --color-status-neutral-default: blue;
  --color-status-success-default: green;
  --color-ui-default: value(--light-01);
  /* rgb(212, 212, 212) */
  --color-ui-default-raw: value(--light-01-raw);
}

/* rgb(48, 91, 107) */
:root {
  /* Map default site values to equivalent CSS runtime variables, which are actually variables.*/
  --color-accent-1: value(--color-accent-1-default);
  --color-accent-2: value(--color-accent-2-default);
  --color-accent-3: value(--color-accent-3-default);
  --color-accent-4: value(--color-accent-4-default);
  --color-background-1: value(--color-background-1-default);
  --color-background-2: value(--color-background-2-default);
  --color-background-3: value(--color-background-3-default);
  --color-background-4: value(--color-background-4-default);
  --color-background-modal: value(--color-background-modal-default);
  --color-text-1: value(--color-text-1-default);
  --color-text-2: value(--color-text-2-default);
  --color-text-3: value(--color-text-3-default);
  --color-text-4: value(--color-text-4-default);
  --color-status-error: value(--color-status-error-default);
  --color-status-warn: value(--color-status-warn-default);
  --color-status-neutral: value(--color-status-neutral-default);
  --color-status-success: value(--color-status-success-default);
  --color-ui: value(--color-ui-default);
  --color-ui-raw: value(--color-ui-default-raw);


}

/* Theme colour schemes */
@media (prefers-color-scheme: light) {
  .root {
    /* Override our CSS runtime variables, if our user prefers it light as a feather. */
    --color-accent-1: rgb(22, 141, 217);
    --color-accent-2: rgb(35, 196, 141);
    --color-background-1: rgb(242, 243, 255);
    /*rgb(249, 249, 249);*/
    --color-background-2: rgb(255, 255, 255);
    --color-background-3: rgba(0, 0, 0, 0.15);
    --color-background-4: rgb(255, 255, 255);
    --color-background-modal: rgba(249, 249, 249, 0.98);
    --color-text-1: value(--dark-01);
    --color-text-2: rgba(value(--dark-01-raw), 0.9);
    --color-text-3: rgba(value(--dark-01-raw), 0.8);
    --color-text-4: rgba(value(--dark-01-raw), 0.6);
    --color-status-error: red;
    --color-status-warn: orange;
    --color-status-neutral: blue;
    --color-status-success: green;
    --color-ui: value(--dark-01);
    --color-ui-raw: value(--dark-01-raw);
  }
}

.root {
  font-family: value(--font-plain);
  font-size: 100%;
  font-weight: 200;
  /* line-height: value(--ratio); */
  min-height: 100vh;
}

body {
  color: value(--color-ui-default);
  color: var(--color-ui, value(--color-ui-default));


  background-color: value(--color-background-1-default);
  background-color: var(--color-background-1, value(--color-background-1-default));

  /* background: linear-gradient(-45deg, rgb(3, 116, 156) 0%, rgb(25, 41, 66) 100%) 0% 0% / 150% 150% */
  /* background: linear-gradient(-45deg, #09351f 0%, rgb(25, 41, 66) 100%) 0% 0% / 150% 150%; */
  /* background: linear-gradient(-45deg, rgb(16, 10, 86) 0%, rgb(43, 40, 43) 100%) 0% 0% / 150% 150%; */

  /* background: linear-gradient(-45deg, rgb(3, 116, 156) 0%, rgb(25, 41, 66) 100%) 0% 0% / 150% 150%;
  background: linear-gradient(-45deg, #09351f 0%, rgb(25, 41, 66) 100%) 0% 0% / 150% 150%; */
}

hr {
  width: 16vw;
  height: 1px;
  margin: 48px auto;
  background: var(--color-ui)
}
