/**
 * Default theme variables. This is just an example to get started, we tend to 
 * use this for our non color build time variables.
 */

:import {
  -st-from: "./mixins/multiply";
  -st-named: multiply, divide, respScale;
}

:vars {
  /* @Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 568px;
  --breakpoint-md: 950px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1180px;

  /* Fonts */
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-special: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

  --ratio: 1.4;


  --ratio2: 1.125;

  --newbase: 1rem;
  --newbaseupper: 1.375rem;

  /* Font sizes */
  --base-font-size: 16px;
  --base-font-size-sm: 14px;
  --base-font-size-md: 16px;
  --base-font-size-lg: 18px;
  --base-font-size-xl: 18px;

  /* Line heights */
  /* --line-height: 1.45; */

  /* Gutter */
  --gutter-width-sm: 16px;
  --gutter-width-md: 24px;
  --gutter-width-lg: 32px;

  /* Spacing */
  --spacing-unit: 8px;

  /* Grid */
  --grid-gap-xs: 12px;
  --grid-gap-md: 24px;
  /* This is a calc that will give you mobile column width. */
  --grid-base-column-width-sm: calc((100vw - 24px - (13 * 12px)) / 12);
  /* This is the column width that aligns with the design when viewport is 1400px (as the design is). */
  --grid-base-column-width-md: 4.011vw;
  /* Base grid-template-column values for the 14 column grid, 2 columns are auto and we have 12 that make up the main working area. */
  --grid-base-columns-sm: [full-bleed-start] 12px [outset-start content-start] repeat(12, 1fr) [content-end outset-end] 12px [full-bleed-end];
  --grid-base-columns-md: [full-bleed-start] auto [outset-start] repeat(2, minmax(0, 4.011vw)) [content-start] repeat(8, minmax(0, 4.011vw)) [content-end] repeat(2, minmax(0, 4.011vw)) [outset-end] auto [full-bleed-end];
  /* When we use the grid inside a grid we want to define the columns iniside above grid rule. So use this when using a grid inside a container */
  --grid-inner-base-columns: repeat(12, minmax(0, 4.011vw));

  /**
   * We can name the grid lines what we like:
   *
   * grid-column-start: full-bleed-start;
   * grid-column-end: full-bleed-end;
   *
   * grid-column-start: content-start;
   * grid-column-end: content-end;
   *
   * grid-column-start: outset-start;
   * grid-column-end: outset-end;
   *
   * Good as it is easy to maintain as the grid lines can be remapped at a theme level.
   *
   * The grid-template-column values on mobile and desktop differ slightly in that they map the grid
   * lines differently. On mobile outset and content use the same grid lines but on desktop
   * content sits 2 columns inside.
   *
   */
  /* 12px, 13px, 14px, 15px, 16px */
  --v1: calc(0.08vw + 1rem * (value(--ratio) / 1.8));
  --v2: calc(0.08vw + 1rem * (value(--ratio) / 1.6));
  --v3: calc(0.2vw + 0.92rem);
  --v4: calc(0.333vw + 0.92rem * value(--ratio));
  --v5: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio));
  --v6: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio));
  --v7: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v8: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v9: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v10: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v11: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));


  --font-base-min: 1em;
  --font-base-max: 1.25em;

  --minor-second: 1.067;
  --major-second: 1.125;
  --minor-third: 1.2;
  --major-third: 1.25;
  --perfect-forth: 1.333;

  /* 
  - Min: 1.041 / 1.15 .83@minor-second = 1.067
  - Max: 
  -st-mixin: fontSize(0.79, 0.9);
  */
  /* Volume 1 */
  --text-vol-1-min: divide(value(--font-base-min), value(--major-second), value(--major-second));
  --text-vol-1-max: divide(value(--font-base-max), value(--major-third), value(--minor-second));
  --text-vol-1-scale: respScale(value(--text-vol-1-min), value(--text-vol-1-max));
  /* 
  - Min: 1 / 1.125
  - Max: 1.25 / 1.125 
  -st-mixin: fontSize(0.889, 1.041);
  */
  /* Volume 2 */
  --text-vol-2-min: divide(value(--font-base-min), value(--major-second));
  --text-vol-2-max: divide(value(--font-base-max), value(--minor-third));
  --text-vol-2-scale: respScale(value(--text-vol-2-min), value(--text-vol-2-max));

  /* Volume 3 */
  --text-vol-3-min: value(--font-base-min);
  --text-vol-3-max: value(--font-base-max);
  --text-vol-3-scale: respScale(value(--font-base-min), value(--font-base-max));

  /* Volume 4 */
  --text-vol-4-min: multiply(value(--font-base-min), value(--major-second));
  --text-vol-4-max: multiply(value(--font-base-max), value(--major-third));
  --text-vol-4-scale: respScale(value(--text-vol-4-min), value(--text-vol-4-max));

  /* Volume 5 */
  --text-vol-5-min: multiply(value(--font-base-min), value(--major-second), value(--minor-third));
  --text-vol-5-max: multiply(value(--font-base-max), value(--major-third), value(--perfect-forth));
  --text-vol-5-scale: respScale(value(--text-vol-5-min), value(--text-vol-5-max));

  /* Volume 6 */
  --text-vol-6-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--minor-third));
  --text-vol-6-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth));
  --text-vol-6-scale: respScale(value(--text-vol-6-min), value(--text-vol-6-max));

  /* Volume 7 */
  --text-vol-7-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third));
  --text-vol-7-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth));
  --text-vol-7-scale: respScale(value(--text-vol-7-min), value(--text-vol-7-max));

  /* Volume 8 */
  --text-vol-8-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third));
  --text-vol-8-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-8-scale: respScale(value(--text-vol-8-min), value(--text-vol-8-max));

  /* Volume 9 */
  --text-vol-9-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third), value(--major-third));
  --text-vol-9-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-9-scale: respScale(value(--text-vol-9-min), value(--text-vol-9-max));

  /* Volume 10 */
  --text-vol-10-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third), value(--major-third));
  --text-vol-10-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-10-scale: respScale(value(--text-vol-10-min), value(--text-vol-10-max));

  /* Volume 11 */
  --text-vol-11-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third), value(--major-third), value(--major-third), value(--major-third));
  --text-vol-11-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-11-scale: respScale(value(--text-vol-11-min), value(--text-vol-11-max));
}
