/**
 * Default theme variables. This is just an example to get started, we tend to 
 * use this for our non color build time variables.
 */

:import {
  -st-from: "./mixins/multiply";
  -st-named: multiply, divide, respScale;
}

:vars {
  /* @Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 568px;
  --breakpoint-md: 950px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1600px;

  /* Fonts */
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-special: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;

  /* Font sizes */
  --base-font-size: 16px;
  --base-font-size-sm: 14px;
  --base-font-size-md: 16px;
  --base-font-size-lg: 18px;
  --base-font-size-xl: 18px;

  /* Line heights */
  /* --line-height: 1.45; */

  /* Gutter */
  --gutter-width-sm: 16px;
  --gutter-width-md: 24px;
  --gutter-width-lg: 32px;

  /* Spacing */
  --spacing-unit: 8px;

  /* Grid */
  --grid-gap-xs: 12px;
  --grid-gap-md: 24px;
  /* This is a calc that will give you mobile column width. */
  --grid-base-column-width-sm: calc((100vw - 24px - (13 * 12px)) / 12);
  /* This is the column width that aligns with the design when viewport is 1400px (as the design is). */
  --grid-base-column-width-md: 4.011vw;
  /* Base grid-template-column values for the 14 column grid, 2 columns are auto and we have 12 that make up the main working area. */
  --grid-template-columns-base-sm: [full-bleed-start] 12px [outset-start content-start] repeat(12, 1fr) [content-end outset-end] 12px [full-bleed-end];
  --grid-template-columns-base-md: [full-bleed-start] auto [outset-start] repeat(2, minmax(0, 4.011vw)) [content-start] repeat(8, minmax(0, 4.011vw)) [content-end] repeat(2, minmax(0, 4.011vw)) [outset-end] auto [full-bleed-end];
  /* When we use the grid inside a grid we want to define the columns iniside above grid rule. So use this when using a grid inside a container */
  --grid-template-columns-base-content-start-end: repeat(12, minmax(0, 4.011vw));

  /**
   * We can name the grid lines what we like:
   *
   * grid-column-start: full-bleed-start;
   * grid-column-end: full-bleed-end;
   *
   * grid-column-start: content-start;
   * grid-column-end: content-end;
   *
   * grid-column-start: outset-start;
   * grid-column-end: outset-end;
   *
   * Good as it is easy to maintain as the grid lines can be remapped at a theme level.
   *
   * The grid-template-column values on mobile and desktop differ slightly in that they map the grid
   * lines differently. On mobile outset and content use the same grid lines but on desktop
   * content sits 2 columns inside.
   *
   */
  /* 12px, 13px, 14px, 15px, 16px */
  --v1: calc(0.08vw + 1rem * (value(--ratio) / 1.8));
  --v2: calc(0.08vw + 1rem * (value(--ratio) / 1.6));
  --v3: calc(0.2vw + 0.92rem);
  --v4: calc(0.333vw + 0.92rem * value(--ratio));
  --v5: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio));
  --v6: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio));
  --v7: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v8: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v9: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v10: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));
  --v11: calc(0.333vw + 0.92rem * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio) * value(--ratio));

  /** 
   * Fluid text variables
   * Over engineered much? :-)
   * Modular scale tutorial: https://www.smashingmagazine.com/2016/05/fluid-typography/
   */

  /* Base font min is 1em (16px) and max (20px) is 1.25em for this theme */
  --font-base-min: 1em;
  --font-base-max: 1.25em;

  /* Scales - https://type-scale.com/ - Shelley likes to mix it up so we pulled in a bunch. */
  --minor-second: 1.067;
  --major-second: 1.125;
  --minor-third: 1.2;
  --major-third: 1.25;
  --perfect-forth: 1.333;

  /**
   * Volumes
   *
   * Our text volumes styles use need three values to be defined:
   *
   * - min: The minimum font size, this is the font size we want at our smallest 
   *   expected screen size, 320px, 16px for us. We use this number as an input to our crazy 
   *   modular fluid text CSS formula thingy that we found. It's cool. We 
   *   can also use this number to set a CSS lock (https://css-tricks.com/css-locks/)
   *   if we are concerned that the font might get to small... Watch maybe?
   * 
   * - max: The maximum font size, this is the font size we want at whatever screen size you
   *   like, I think we chose 1800px. So when the browser is 1800px wide then I want the
   *   text to be... 20px in our case. We also this number as an input to our crazy 
   *   stolen formula.
   *
   * - scale: This is the font size we use in between the range 320px - 1800px. This
   *   is the dynamic font-size that is always changing when the browser is winging 
   *   around the 320px-1800px zone. If we din't have the CSS lock then it would just 
   *   get bigger and bigger. This is the output of the crazyness. 
   * 
   *   The scale magically (read the article or just go with it) gives you back a value
   *   that looks like this: calc(1em + 0.25 * ((100vw - 20em) / (92.5)))
   *
   *   So the browser looks at that and goes, "Right! Got it! 16px at 320px wide, 20px 
   *   at 1800px wide and everything in between I will scale make floaty and fluid, 
   *   ahhhhhhh all is well with the world.... Zen..."
   *
   *   Just to confuse you more Shelley has this all set in em values, so that made no 
   *   sense but we like to add to the mystery. Here is how that works out:
   *   20em = 320px
   *   92.5em = 1800px
   *   1em = 16px
   *   1em = 16px
   *   
   *
   *   Shelley loves it. It turns out you *can* teach an old digital entity 
   *   new tricks.
   *
   *   Thanks and pops for the hard work and innovators:
   *   - https://www.smashingmagazine.com/2016/05/fluid-typography/
   *   - https://type-scale.com/ 
   *   - https://css-tricks.com/css-locks/

  /* Volume 1 */
  --text-vol-1-min: divide(value(--font-base-min), value(--major-second), value(--major-second));
  --text-vol-1-max: divide(value(--font-base-max), value(--major-third), value(--minor-second));
  --text-vol-1-scale: respScale(value(--text-vol-1-min), value(--text-vol-1-max));

  /* Volume 2 */
  --text-vol-2-min: divide(value(--font-base-min), value(--major-second));
  --text-vol-2-max: divide(value(--font-base-max), value(--minor-third));
  --text-vol-2-scale: respScale(value(--text-vol-2-min), value(--text-vol-2-max));

  /* Volume 3 - The base */
  --text-vol-3-min: value(--font-base-min);
  --text-vol-3-max: value(--font-base-max);
  --text-vol-3-scale: respScale(value(--font-base-min), value(--font-base-max));

  /* Volume 4 */
  --text-vol-4-min: multiply(value(--font-base-min), value(--major-second));
  --text-vol-4-max: multiply(value(--font-base-max), value(--major-third));
  --text-vol-4-scale: respScale(value(--text-vol-4-min), value(--text-vol-4-max));

  /* Volume 5 */
  --text-vol-5-min: multiply(value(--font-base-min), value(--major-second), value(--minor-third));
  --text-vol-5-max: multiply(value(--font-base-max), value(--major-third), value(--perfect-forth));
  --text-vol-5-scale: respScale(value(--text-vol-5-min), value(--text-vol-5-max));

  /* Volume 6 */
  --text-vol-6-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--minor-third));
  --text-vol-6-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth));
  --text-vol-6-scale: respScale(value(--text-vol-6-min), value(--text-vol-6-max));

  /* Volume 7 */
  --text-vol-7-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third));
  --text-vol-7-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth));
  --text-vol-7-scale: respScale(value(--text-vol-7-min), value(--text-vol-7-max));

  /* Volume 8 */
  --text-vol-8-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third));
  --text-vol-8-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-8-scale: respScale(value(--text-vol-8-min), value(--text-vol-8-max));

  /* Volume 9 */
  --text-vol-9-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third), value(--major-third));
  --text-vol-9-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-9-scale: respScale(value(--text-vol-9-min), value(--text-vol-9-max));

  /* Volume 10 */
  --text-vol-10-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third), value(--major-third));
  --text-vol-10-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-10-scale: respScale(value(--text-vol-10-min), value(--text-vol-10-max));

  /* Volume 11 */
  --text-vol-11-min: multiply(value(--font-base-min), value(--major-second), value(--major-second), value(--major-second), value(--major-third), value(--major-third), value(--major-third), value(--major-third), value(--major-third));
  --text-vol-11-max: multiply(value(--font-base-max), value(--major-third), value(--major-third), value(--major-third), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth), value(--perfect-forth));
  --text-vol-11-scale: respScale(value(--text-vol-11-min), value(--text-vol-11-max));
}
