@namespace "ListBox";
@st-import ListBoxOption from "../ListBox/listBoxOption.st.css";

.root {}

.option {
  -st-extends: ListBoxOption;
}

.loadingMore {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
