@st-namespace "Notification";
@st-import Text from "../Text/text.st.css";

.root {
  -st-states: role(enum(alert, info, success, warning, error));
  position: relative;
}

.header {}

.closeButton {}

.textWrapper {}

.title {
  -st-extends: Text;
}

.subtitle {}

.children {}

.footer {}
