/**
 * Example override file used to change the button based on the context
 * in which it is used.
 */

:import {
  -st-from: "../themes/default/theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../components/Button/button.st.css";
  -st-default: Button;
}

@st-scope Default {
  Button.override {
    background: rebeccapurple;
    margin-bottom: 16px;
  }

  .card:first-child {
    grid-column: 2 / span 7;
    grid-row: 1 / span 2;
  }

  .card {

    background: #ffffff21;
    background: #232631;

    /* background: linear-gradient(15deg, #678, #6f8793);
    background: linear-gradient(15deg, #14af83, #15b89a);
    background: linear-gradient(15deg, #745fb5, #9a6dbb); */
    padding: 22px 1.45rem;

  }

  .card>* {
    margin: .75rem 0;
  }

  .card>h2 {
    margin-bottom: 1.45rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    /* font-weight: 400; */
  }

  /* .card > p {
margin-bottom: 11px;
} */
  .menuList {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
    padding: 0;
    list-style: none;
  }

  .menuList>li>a {
    display: block;
    padding: 13px 1.45rem;
    background: #181a23;
    margin-bottom: 1px;
  }

  /* hints
background: linear-gradient(15deg,#678,#6f8793);
background: linear-gradient(15deg,#14af83,#15b89a);
background: linear-gradient(15deg,#745fb5,#9a6dbb);
*/
  /*
Light bg dark test
color: #4e4e4e;
    font-weight: 400;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
*/

  .card+.card {
    grid-column: 9 / span 5;
    /* background: #50de98;
    background: #acefff; */
  }

  .card+.card+.card {
    background: #51d6de;
    background: #50de98;
    background: #99ffcd;
    background: #92e6bd;
    background: #d1ffe9
  }

  .card+.card+.card {
    color: #4e4e4e;
    -webkit-font-smoothing: antialiased;
  }

  .card+.card+.card>h2 {
    color: #504f4f;
    font-weight: 400;
    -webkit-font-smoothing: initial;
  }

  .card+.card+.card p,
  .card+.card+.card li {
    font-weight: 400;
    /* -webkit-font-smoothing: antialiased; */
    /* color: #4e4e4e; */
    /* font-weight: 400;
    letter-spacing: normal; */
    /* -webkit-font-smoothing: antialiased; */
  }

  /* 
.card+.card+.card {
  grid-column: 10 / span 4
} */
}
