/**
 * Example override file used to change the button based on the context
 * in which it is used.
 */

/* = Shelley project scope and vars. */
:import {
  -st-from: "../styles/shelley/project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-accent-1-default,
    /* = CSS3 Switcher vars. */
    --grad-1,
    --status-background,
    --support-background;
}


:import {
  -st-from: "../components/Button/button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "../styles/default/utils.st.css";
  -st-named: formatted;
}


@st-scope Shelley {
  Button.override {
    background: rebeccapurple;
    margin-bottom: 16px;
  }

  .card:first-child {
    grid-column: 1;
    grid-row: 1 / span 4;
  }

  .card+.card,
  .card+.card+.card {
    grid-column: 2;
  }


  /* 7fr 5fr */
  .card {
    -st-mixin: formatted;
    background: #ffffff21;
    background: #232631;
    /* @todo fallback */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(35, 38, 49, 0.14) 100px, rgba(35, 38, 49, 0.8) 500px, rgba(35, 38, 49, 1) 100%);
    background: var(--grad-1);
    padding: 1.5vw 3vw;

  }

  img {}


  /* https://css-tricks.com/why-are-accessible-websites-so-hard-to-build/

According to CNBC, the number of lawsuits over inaccessible websites jumped 58 percent last year over 2017, to more than 2,200.
 */
  /* img:not([alt]),
  label:not([for]),
  h2+h1,
  h2+h4,
  h2+h5,
  h2+h6,
  h3+h1,
  h3+h2,
  h3+h5,
  h3+h6,
  h4+h1,
  h4+h2,
  h4+h5,
  h4+h6,
  h5+h1,
  h5+h2,
  h5+h3 {
    box-shadow: 0px 0px 2px red
  }

  img:not([alt]):after {
    content: "No alt attribute!";
    font-size: 12px;
    position: absolute
  }

  h2+h4:after {
    content: "Badly nested headings";
    font-size: 12px;
    position: absolute
  } */

  /* 
#f4d0d0
rgba(199, 245, 218, 0.78) */

  .card>* {
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }

  .card+.card>* {
    max-width: 18rem;
  }

  .menuList {
    margin-top: 2.9rem;
    margin-bottom: 2.9rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 1rem;
  }

  .menuList>li>a {
    display: block;
    padding: 13px 1.45rem;
    margin-bottom: 1px;
    border-width: 0.05em;
  }

  /* hints
background: linear-gradient(15deg,#678,#6f8793);
background: linear-gradient(15deg,#14af83,#15b89a);
background: linear-gradient(15deg,#745fb5,#9a6dbb);
*/
  /*
Light bg dark test
color: #4e4e4e;
    font-weight: 400;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
*/

  .card+.card+.card {
    background: var(--status-background);
  }

  .card+.card+.card+.card {
    background: var(--support-background);
  }

  .card+.card+.card {
    /* color: #4e4e4e; */
    /* -webkit-font-smoothing: antialiased; */
  }

  .card+.card+.card>h2 {
    color: inherit;
    /* font-weight: 400; */
    /* -webkit-font-smoothing: initial; */
  }

  .card+.card+.card p,
  .card+.card+.card li {
    font-weight: 400;
    /* -webkit-font-smoothing: antialiased; */
    /* color: #4e4e4e; */
    /* font-weight: 400;
    letter-spacing: normal; */
    /* -webkit-font-smoothing: antialiased; */
  }

  /* 
.card+.card+.card {
  grid-column: 10 / span 4
} */
}
