/**
 * Example override file used to change the button based on the context
 * in which it is used.
 */

:import {
  -st-from: "../themes/default/theme.st.css";
  -st-default: Default;
  -st-named: --color-accent-1-default, --color-ui-default;
}

:import {
  -st-from: "../components/Button/button.st.css";
  -st-default: Button;
}

@st-scope Default {
  Button.override {
    background: rebeccapurple;
    margin-bottom: 16px;
  }
}

.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  grid-column: full-bleed-start / full-bleed-end;
  padding-left: 9vw;
  padding-right: 9vw;
  background: rgba(0, 0, 0, 0.3607843137254902)
}
