/* modal.st.css */
@namespace "Modal";

.root {
  -st-states:
    variant(string),
    transition(string);
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  /*  */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
}

.root:variant(fixed) {
  position: fixed;
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {}

/* .transition {} */

.blurBackground [data-focus-on-hidden] {
  opacity: .5;
  filter: blur(2px);
}

/* = Content Transitions */

/* Map transition liftcycle classes to global CSSTransistionGroup classes. */
.enter {
  -st-global: '.enter'
}

.enterActive {
  -st-global: '.enter-active'
}

.enterDone {
  -st-global: '.enter-done'
}

.exit {
  -st-global: '.exit'
}

.exitActive {
  -st-global: '.exit-active'
}

.exitDone {
  -st-global: '.exit-done';
  display: none;
}

/* Background transition. */
.root.enter .backdrop {
  opacity: 0;
}

.root.enterActive .backdrop {
  opacity: 1;
  transition: opacity 190ms;
}

.root.enterDone .backdrop {
  opacity: 1;
}

.root.exit .backdrop {
  opacity: 1;
}

.root.exitActive .backdrop {
  opacity: 0;
  transition: opacity 300ms;
}

/* = up */
.root:transition(up).enter .content {
  transform: translateY(calc(100vh / 2 + 100%));
  opacity: 0;
}

.root:transition(up).enterActive .content {
  transform: translateY(0);
  opacity: 1;
  transition: transform 190ms, opacity 190ms;
}

.root:transition(up).enterDone .content {
  transform: translateY(0);
  opacity: 1;
}

.root:transition(up).exit .content {
  transform: translateY(0);
  opacity: 1;
}

.root:transition(up).exitActive .content {
  transform: translateY(calc(100vh / 2 + 100%));
  opacity: 0;
  transition: transform 190ms, opacity 190ms;
}

/* = Zoom */

.root:transition(zoom).enter .content {
  transform: scale(0);
  opacity: 0;
}

.root:transition(zoom).enterActive .content {
  transform: scale(1);
  opacity: 1;
  transition: transform 190ms, opacity 190ms;
}

.root:transition(zoom).enterDone .content {
  transform: scale(1);
  opacity: 1;
}

.root:transition(zoom).exit .content {
  transform: scale(1);
  opacity: 1;
}

.root:transition(zoom).exitActive .content {
  transform: scale(0);
  opacity: 0;
  transition: transform 190ms, opacity 190ms;
}
