/** styleInfo.st.css */

.root {}

.html,
.meta {
  grid-column: goal-start / half;
  grid-row: 1
}

.css {
  grid-column: half / goal-end;
}

.meta {
  align-self: flex-end;
  position: relative;
  top: -1.4rem;
}
