@st-namespace "field";
@st-import HelpText from "../HelpText/helpText.st.css";
@st-import InputLabel from "../Label/label.st.css";

.root {
  -st-states:
    isRequired,
    isDisabled,
    isReadOnly,
    hasValue,
    error,
    variant(string),
    vol(number),
    disableLabelTransition,
    labelPosition(enum(top, side, over, hidden));
}

.root {}

.inputLabel {
  -st-extends: InputLabel;
}

.fieldContainer {}

.startAdornment {}

.endAdornment {}

.textAreaWrap {}

.fieldInput {}

.helpText {
  -st-extends: HelpText;
}

.fieldset {}

.legend {}
