/**
 * = INPUT SELECT - inputSelect.st.css
 *
 * The base styles taken care of by InputBase, here we are just adding the 
 * that we want for our <select> element.
 *
 * ========================================================================= */


:import {
  -st-from: "./project.st.css";
  -st-default: Default;
}

/* = Root Component */
:import {
  -st-from: "../components/InputSelect/inputSelect.st.css";
  -st-default: InputSelect;
}

:import {
  -st-from: "../components/Label/label.st.css";
  -st-default: InputLabel;
}

/* = Mixins */
:import {
  -st-from: './mixins/formElements.st.css';
  -st-named:
    selectFieldContainer,
    selectFieldInput;
}

@st-scope Default {

  /* = Example targeting the root. */
  InputSelect {}

  /* = Example targeting the label. */
  InputSelect InputLabel {}

  /* = Apply selectFieldContainer to the base fieldContainer. */
  InputSelect::fieldContainer {
    -st-mixin: selectFieldContainer;
  }

  /* = Display the right hand indicator on <select>'s to encase the arrow icon. */
  InputSelect::fieldContainer::after {
    display: block;
  }

  /*= Applies the down arrow, aka --select-icon and associated styles. */
  InputSelect::fieldInput {
    -st-mixin: selectFieldInput;
  }
}
