/* = shelleyBanner.st.css*/
@namespace "ShelleyBanner";

:import {
  -st-from: "../../components/Text/text.st.css";
  -st-default: Text;
}


:import {
  -st-from: "../../style/project.st.css";
  -st-default: Default;
  -st-named:
    --color-accent-1-default,
    --color-accent-2-default,
    --color-ui-default
    /* = CSS3 Switcher vars. */
    --color-accent-2;
}

@st-scope Default {
  .logoGrid {
    /* background: rgba(0, 0, 0, 0.3607843137254902); */

  }

  .logo {
    /* padding-top: 50px;
  padding-bottom: 50px; */

    /* grid-column: touch-start / touch-end; */
    /* padding-left: 9vw;
  padding-right: 9vw; */
    /* background: rgba(0, 0, 0, 0.3607843137254902) */
  }

  .root {
    margin: 40px 0;
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .internalGrid {
    grid-column-start: goal-start;
    grid-column-end: goal-end;
    display: grid;
    justify-items: center;

    grid-row-gap: 24px;
    grid-template-columns: 8fr 4fr;

    grid-row-gap: 84px;
    grid-template-columns: 7fr 5fr;
  }

  .logoPosition {
    grid-row: 1;
    grid-column-start: 2;
    font-size: 1.25em;
    font-size: 1.35em;
  }

  .root Text.title.uppercase {
    grid-row: 1;
    grid-column-start: 1;
    /* margin-top: 16px; */
    /* justify-self: start; */
    justify-self: center;
    align-self: center;
    letter-spacing: 0.4em;


    /* font-size: 69px; */
  }

  .root Text.tagline {
    grid-row: 2;
    grid-column-start: 1;
    /* justify-self: start; */
    justify-self: center;
    align-self: center;
    /* color: #ea91ff */
  }

  .root Text.tld {
    grid-row: 2;
    grid-column-start: 2;
    align-self: end;
    font-size: 12px;
    letter-spacing: 16px;
    text-transform: uppercase;
    transform: rotate(1deg);
    color: #59ff59;
    color: #51de98;
    color: var(--color-accent-2);
    font-size: 14px;
    letter-spacing: 18px;

    font-size: 0.9372071227741331em;
    letter-spacing: 22px;
  }
}
