/**
 * = GRID ITEM MIXIN - mixins/gridItem.st.css
 *
 * Churns out grid items for us including some fall backs.
 * 
 * ========================================================================= */

:vars {
  gridCol: mid;
  fallbackMaxWidth: 40rem;
}

.gridItem {
  /* = Set the grid column to the first arg. */
  grid-column: value(gridCol);
  /* = Fallbacks for IE. */
  margin-left: auto;
  margin-right: auto;
  max-width: value(fallbackMaxWidth);
}

/* = Grid based reset mixin. - Set with vars as a work around for the below?*/
.gridItemReset {
  /* = Reset fallback styles for grid based layout. */
  text-align: initial;
  margin-left: initial;
  margin-right: initial;
  max-width: initial;
}

/*BUG: @todo ask Wix - Stylable does not support @supports in mixin hence the above. */
@supports (display: grid) {
  .gridItem {
    -st-mixin: gridItemReset;
  }
}
