/** blockquote.st.css */

.root {}

/* 
Again, this is much nicer:
.root {
  -st-states:
    variant(enum(1, 2, 3, 4, 5)),
    accent(enum(1, 2, 3, 4, 5));
} */

.content {}

.footer {}

.cite {}

/* Variants */

.variant1 {}

.variant2 {}

.variant3 {}

.variant4 {}

.variant5 {}

.variant6 {}
