.root {}


.root {}

.content {}

.footer {}

.cite {}

.root {}

.root {
  margin: 24px auto 40px;
}

.content {
  font-style: italic;
  display: grid;
  grid-row-gap: 16px;
}

.cite {
  font-style: normal;
  /* color: rgb(35, 196, 141) */
  color: #ffb4d0
}


.content>* {
  line-height: 1.3;
}

.variant1 {
  background: rgba(0, 0, 0, 0.4);
  padding: 32px 42px;
  border-radius: 4px;
  position: relative;
  width: 100%;
}

.variant1 .content {
  position: relative
}

.variant1 .content::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -20px;
  height: calc(100% - 10px);
  width: 2px;
  background: #e52e71;
  /* border-radius: 4px; */
}


.variant1 .footer {
  margin: 20px 0 0;
}


.variant2 .content {
  background: rgba(0, 0, 0, 0.4);
  padding: 16px 36px;
  margin: 0 auto 40px;
  max-width: 400px;
  border-radius: 4px;
  position: relative;
}

.variant2 .content::before {
  border-right: 20px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.4);
  bottom: -20px;
  content: "";
  position: absolute;
  left: 20px;
}

.variant2 .content :first-child::before {
  content: open-quote;
  color: #e52e71;
  font-family: cursive;
  display: inline-block;
  /* margin-right: 5px; */
  font-size: 42px;
  /* line-height: 0; */
  /* margin-bottom: -23px; */
  position: absolute;
  top: 4px;
  left: 12px;
}

/*  */

/* .content::after {
  border-left: 20px solid transparent;
  border-top: 20px solid rgba(0, 0, 0, 0.4);
  bottom: -20px;
  content: "";
  position: absolute;
  right: 20px;
} */

/* Blockquote 
https://auralinna.blog/post/2017/how-to-make-a-css-speech-bubble-with-borders-and-drop-shadow
    border-left: 20px solid transparent;
    border-top: 20px solid #efefef;
    bottom: -20px;
    content: "";
    position: absolute;
    right: 20px; */
