/* disclosure.st.css */
@namespace "Disclosure";

.root {
  -st-states: isExpanded;
}

/*  */

.title {
  /* -st-extends: Text; */
}

.trigger {
  background: none;
  border: none;
  padding: 0;
}

.trigger:hover {
  cursor: pointer;
}

.triggerIcon {}

.hiddenContent {}

.content {}

/*  */

.accordion {}

.wrapper {}

.accordionItem {}
