@st-namespace "ShelleyActionButton";
@st-import Shelley, [ --color-ui-raw ] from "./project.st.css";
@st-import ActionButton, [
  --bg-color,
  --border-color,
  --text-color] from "../../ActionButton/actionButton.st.css";
@st-import [ --tone ] from "./buttonBase.st.css";

@st-scope Shelley {

  ActionButton {
    /* default tone set to a neutral tone. */
    --tone: rgba(var(--color-ui-raw), 0.3);
  }

  ActionButton {
    /* Assign tone which is set in ./button.st.css */
    --border-color: var(--tone);
  }

  ActionButton:isQuiet {
    --border-color: transparent;
  }
}
