@namespace "ShelleyBlockquote";
@st-import Shelley, [--color-accent-1] from "./project.st.css";
@st-import Blockquote from "../../Blockquote/blockquote.st.css";

@st-scope Shelley {

  /* = Useful if you want some quote chars via the content property 
   https://css-tricks.com/css-content/ */

  /**
   * = Variant 1 - Informal - 'chat'
   *
   * A useful style to get across a chat/conversation of some kind.
   */

  Blockquote:variant(informal)::content {
    background-color: rgba(64, 121, 230, 0.87);
    padding: 16px 36px;
    margin: 0 0 40px;
    max-width: 600px;
    border-radius: 4px;
    position: relative;
  }

  Blockquote:variant(informal)::content::before {
    border-right: 20px solid transparent;
    border-top-color: rgba(64, 121, 230, 0.87);
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
  }

  /**
   * = Variant 2 - 'academic'
   *
   * A typical main body style for proper quotes.
   */

  Blockquote:variant(academic) {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-radius: 4px;
    position: relative;
    width: 100%;
    font-size: 92.5%;
  }

  Blockquote:variant(academic)::content {
    position: relative;
  }

  Blockquote:variant(academic)::content::before {
    content: "";
    display: inline-block;
    position: absolute;
    opacity: 0.3;
    left: -1.5rem;
    border: 1px solid var(--color-accent-1);
    border-width: 1px 0 1px 1px;
    width: 18px;
    top: 0;
    bottom: 0
  }
}
