@st-namespace "ShelleyButton";
@st-import Shelley, [
  --light-01,
  --dark-01,
  --color-ui,
  --color-ui-inverse,
  --color-ui-raw,
  --color-ui-raw-inverse,
  --color-tone-primary,
  --color-tone-secondary,
  --color-tone-info,
  --color-tone-success,
  --color-tone-warning,
  --color-tone-danger,
  --color-tone-light,
  --color-tone-dark,
  --color-tone-contrast,
] from "./project.st.css";
@st-import Button, [--bg-color, --border-color, --text-color] from "../../Button/button.st.css";
@st-import ButtonGroup, [--seperator-color] from "../../ButtonGroup/buttonGroup.st.css";

@st-scope Shelley {

  /* = = The base <button> element. */
  Button {
    /* We'll assign this via our variants but set it with our tones. */
    --tone: initial;
    text-transform: uppercase;
    cursor: pointer;
  }

  /* = Variants - Using the tone to assign the colors to reduce code. */

  /* = Variant 1: 'Primary' */
  Button:variant(primary) {
    --bg-color: var(--tone);
    --text-color: var(--color-ui-inverse);
  }

  /* = Seperator color for when in a group. */
  ButtonGroup Button:variant(primary) {
    --seperator-color: rgba(var(--color-ui-raw-inverse), 0.4);
  }

  /* = Variant 2: 'Secondary' */
  Button:variant(secondary) {
    --border-color: var(--tone);
    -webkit-font-smoothing: antialiased;
  }

  /* = Variant 3: 'Quiet' */
  Button:variant(quiet) {
    --text-color: var(--tone);
  }

  Button:variant(quiet):hover,
  Button:variant(quiet):focus {
    background-color: rgba(var(--color-ui-raw), 0.02);
  }

  /* = Seperator color for when in a group. */
  ButtonGroup Button:variant(quiet) {
    --seperator-color: var(--tone);
  }

  /* = Variant 4: 'Floating Action Button (FAB)' - Thank you Material! */
  Button:variant(fab) {
    --bg-color: var(--tone);
    --text-color: var(--color-ui-inverse);
  }

  /* = Seperator color for when in a group. */
  ButtonGroup Button:variant(fab) {
    --seperator-color: rgba(var(--color-ui-raw-inverse), 0.4);
  }

  /* = Tones/Colours */
  Button:tone(primary) {
    --tone: var(--color-tone-primary);
  }

  Button:tone(primary):variant(primary) {
    color: var(--light-01)
  }

  Button:tone(secondary) {
    --tone: var(--color-tone-secondary);
  }

  Button:tone(info) {
    --tone: var(--color-tone-info);
  }

  Button:tone(success) {
    --tone: var(--color-tone-success);
  }

  Button:tone(warning) {
    --tone: var(--color-tone-warning);
  }

  Button:tone(danger) {
    --tone: var(--color-tone-danger);
  }

  Button:tone(light) {
    --tone: var(--color-tone-light);
  }

  Button:tone(light):variant(primary) {
    color: var(--dark-01)
  }

  Button:tone(dark) {
    --tone: var(--color-tone-dark);
  }

  Button:tone(dark):variant(primary) {
    color: var(--light-01)
  }

  Button:tone(contrast) {
    --tone: var(--color-tone-contrast);
  }
}
