/**
 * = ErrorText - errorText.st.css
 *
 * Could have been a class only but we have a component and here is it's style.
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    spacing-unit,
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-status-error-default,
    /* = CSS3 Switcher vars. */
    --color-status-error;
}


/* = Root Component */
:import {
  -st-from: "../../components/ErrorText/errorText.st.css";
  -st-default: Error;
}

@st-scope Shelley {

  /* = Root */
  Error {
    color: value(--color-status-error-default);
    color: var(--color-status-error, value(--color-status-error-default));
    -webkit-font-smoothing: antialiased;
  }

  /* = Error indicator bar. */
  Error::before {
    background-color: value(--color-status-error-default);
    background-color: var(--color-status-error, value(--color-status-error-default));
  }
}
