/**
 * = ErrorText - errorText.st.css
 *
 * Could have been a class only but we have a component and here is it's style.
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    spacing-unit,
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-error;
}


/* = Root Component */
:import {
  -st-from: "../../components/ErrorText/errorText.st.css";
  -st-default: Error;
}

@st-scope Shelley {

  /* = Root */
  Error {}

  /* = Error indicator. */
  Error::before {}
}
