/**
 * = Field - field.st.css
 *
 * This file applies the base styles to our form components such as 
 * inputs, textareas and selects, combo boxes, checkbox / radio groups etc.
 *
 * Most of the base styles live in the mixins so they can be shared but the 
 * variants are styled here as they are more specific to our markup.
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
}


/* = Root Component. */
:import {
  -st-from: "../../components/Field/field.st.css";
  -st-default: Field;
}


@st-scope Shelley {}
