/**
 * = HelpText - helpText.st.css
 *
 * Could have been a class only but we have a component and here is it's style.
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-error, --color-text-help;
}


/* = Root Component */
:import {
  -st-from: "../../components/HelpText/helpText.st.css";
  -st-default: HelpText;
}

@st-scope Shelley {

  /* = Root */
  HelpText {
    color: var(--color-text-help)
  }

  /* = HelpText indicator. */
  HelpText::before {}
}
