@st-namespace "ShelleyActionButton";
@st-import Shelley, [
  --light-01,
  --dark-01,
  --color-ui-raw,
  --color-tone-contrast,
  --color-ui-raw-inverse,
  --color-ui-inverse,
] from "./project.st.css";
@st-import IconButton, [
  --bg-color,
  --text-color] from "../../IconButton/iconButton.st.css";
@st-import [ --tone ] from "./buttonBase.st.css";

@st-scope Shelley {

  IconButton,
  IconButton:fab {
    /* Assign tone which is set in ./button.st.css */
    --bg-color: var(--tone);
  }

  IconButton:fab {
    --text-color: var(--color-ui-inverse);
  }

  IconButton:tone(light):fab {
    --text-color: var(--dark-01);
  }

  IconButton:tone(dark):fab {
    --text-color: var(--light-01);
  }

  IconButton:tone(contrast):fab {
    --text-color: var(--color-tone-contrast);
  }

  IconButton:fab::before {
    background-color: rgba(var(--color-ui-raw-inverse), 0.3);
  }
}
