/**
 * = INPUT SELECTION - inputSelection.st.css
 *
 * Selection control (radio, checkboxes, toggle) with label, positioning 
 * and variants
 *
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    spacing-unit,
}

/* = Shelley project scope. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-background-3-default,
    --color-form-mark-default,
    /* = CSS3 Switcher vars. */
    --color-background-3,
    --color-form-mark,
    --color-ui,
    --color-focus;
}


/* = Root Component. */
:import {
  -st-from: "../../components/InputSelection/inputSelection.st.css";
  -st-default: InputSelection;
}

/* = Child component styles API's */
:import {
  -st-from: "../../components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: SelectionControl;
}

:import {
  -st-from: "../../components/Label/label.st.css";
  -st-default: InputLabel;
}

:import {
  -st-from: "../../components/HintText/hintText.st.css";
  -st-default: HintText;
}

:import {
  -st-from: "../../components/Icon/icon.st.css";
  -st-default: Icon;
}

/* = Shelley Mixins */
:import {
  -st-from: '../../components/mixins/visuallyHidden.st.css';
  -st-named: visuallyHidden
}

/* = Mixins */
:import {
  -st-from: '../default/mixins/tooltip.st.css';
  -st-named:
    tooltip,
    tooltipVisible
}


@st-scope Shelley {

  /* ==== VARIANTS ====*/

  /* = Variant 2 - Form row style. */
  InputSelection:variant(2) {
    background-color: value(--color-background-3-default);
    background-color: var(--color-background-3, value(--color-background-3-default));
  }

  InputSelection:variant(2) SelectionControl {
    border-left: 1px solid value(--color-form-mark-default);
    border-left: 1px solid var(--color-form-mark, value(--color-form-mark-default));
  }


  /* = Dark / Light theme switcher styles 3 */
  .darkLightToggle {
    -st-extends: InputSelection;
  }

  .darkLightToggle SelectionControl {
    -st-mixin: visuallyHidden;
  }

  /* = The 'mark' */
  .darkLightToggle InputLabel::labelText::after {
    content: "";
    width: 18px;
    height: 18px;
    top: 8px;
    left: 2px;
    background-color: var(--color-ui);
    border-radius: 30px;
    position: absolute;
    border: 1px solid transparent;
    transition: left 190ms, box-shadow 190ms;
  }

  .darkLightToggle Icon {
    font-size: 32px;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: transform 190ms;
  }

  .darkLightToggle InputLabel::textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    color: inherit;
  }

  .darkLightToggle.on Icon {
    transform: rotate(180deg);
  }

  .darkLightToggle.on InputLabel::labelText::after {
    left: 13px;
  }

  .darkLightToggle:hover InputLabel::labelText::after,
  .darkLightToggle:focus-within InputLabel::labelText::after {
    box-shadow: 0 0 1px 1px var(--color-focus);
  }

  .darkLightToggle HintText {
    -st-mixin: tooltip;
    right: calc(0px - value(spacing-unit) * 2);
    bottom: -38px;
  }

  /* = Fabulous! https://css-tricks.com/touch-devices-not-judged-size/ */
  @media (pointer: coarse) {
    .darkLightToggle HintText {
      -st-mixin: visuallyHidden
    }
  }

  .darkLightToggle:hover HintText,
  .darkLightToggle:focus-within HintText {
    -st-mixin: tooltipVisible;
  }
}
