/**
 * = INPUT SELECTION CONTROL - inputSelectionControl.st.css
 * 
 * ========================================================================= */


/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
}

/* = Root Component. */
:import {
  -st-from: "../../components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: InputSelectionControl;
}

/* = This is how we can scope the styles. */
@st-scope Shelley {

  /* InputSelectionControl{} */

  /* InputSelectionControl::inputField {} */

  /* = Radio Checkbox common styles. */
  /* InputSelectionControl:type(checkbox)::inputField,
  InputSelectionControl:type(radio)::inputField {} */

  /* = Toggle */
  /* InputSelectionControl:type(toggle)::inputField {} */
}
