/**
 * = ListBox - listBox.st.css
 * 
 * ========================================================================= */

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named: --background-color-main;
}

/* = Components */

:import {
  -st-from: "../../components/ListBox/listBox.st.css";
  -st-default: ListBox;
}

@st-scope Shelley {

  ListBox {
    background: var(--background-color-main);
  }
}
