@st-namespace "ShelleyListBoxOption";

:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named: --background-color-item-hover;
}

:import {
  -st-from: "../../ListBoxOption/listBoxOption.st.css";
  -st-default: ListBoxOption;
}

@st-scope Shelley {

  ListBoxOption {}

  ListBoxOption:isFocused,
  ListBoxOption:isHovered {
    background-color: var(--background-color-item-hover);
  }
}
