/**
 * = Menu - menu.st.css
 * 
 * ========================================================================= */

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
}

/* = Components */

:import {
  -st-from: "../../components/Menu/menu.st.css";
  -st-default: Menu;
}

@st-scope Shelley {

  Menu {}
}
