/**
 * = ErrorText - menuItem.st.css
 *
 * Could have been a class only but we have a component and here is it's style.
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-background-item-hover;
}


/* = Root Component */
:import {
  -st-from: "../../components/MenuItem/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope Shelley {

  /* = Root */
  MenuItem {}

  MenuItem:isFocused {
    /* Set a background vaiable for this... */
    background-color: var(--color-background-item-hover);
  }
}
