/**
 * = Menu - menu.st.css
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-focus,
    --color-background-1;
}

/* = Components */
:import {
  -st-from: "../../components/Menu/menuList.st.css";
  -st-default: MenuList;
}

:import {
  -st-from: "../../components/Menu/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope Shelley {
  MenuList {
    background: var(--color-background-1);
  }

  MenuItem[data-selected] {
    background: hsl(211, 81%, 36%);
  }

}
