/**
 * = Menu - menu.st.css
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named:
    /* --color-focus, */
    --color-background-1;
}

/* = Components */

:import {
  -st-from: "../../components/MenuPopup/menuPopup.st.css";
  -st-default: MenuPopup;
}

:import {
  -st-from: "../../components/MenuItem/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope Shelley {

  MenuPopup {
    background: var(--color-background-1);
  }

  MenuItem:isFocused {
    background: hsl(211, 81%, 36%);
  }
}
