@st-namespace "ShelleyMenuItem";

:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
  -st-named: --background-color-item-hover;
}

:import {
  -st-from: "../../Menu/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope Shelley {

  MenuItem {}

  MenuItem:isFocused {
    background-color: var(--background-color-item-hover);
  }
}
