/**
 * = Notification - notification.st.css
 *
 * Shelley theme styles for Notification.
 *
 * CSS API: https://github.com/action-is-hope/shelley/blob/main/src/Notification/notification.st.css
 * 
 */
@st-import Shelley, [
  --light-01,
  --dark-01,
  --color-ui,
  --color-ui-inverse,
  --color-ui-raw,
  --color-ui-raw-inverse,
  --color-tone-lead,
  --color-tone-support,
  --color-tone-info,
  --color-tone-success,
  --color-tone-warning,
  --color-tone-alert,
  --color-tone-light,
  --color-tone-dark,
  --color-tone-contrast,
] from "./project.st.css";
@st-import Notification from "../../Notification/notification.st.css";

@st-scope Shelley {
  Notification {
    color: var(--color-ui-inverse);
  }

  Notification:tone(lead) {
    background-color: var(--color-tone-lead);
  }

  Notification:tone(support) {
    background-color: var(--color-tone-support);
  }

  Notification:tone(info) {
    background-color: var(--color-tone-info);
  }

  Notification:tone(success) {
    background-color: var(--color-tone-success);
  }

  Notification:tone(warning) {
    background-color: var(--color-tone-warning);
  }

  Notification:tone(alert) {
    background-color: var(--color-tone-alert);
  }
}
