@st-namespace "ShelleyProgressCircle";
@st-import Shelley, [
    --light-01-raw,
    --color-ui-raw,
    --color-tone-lead,
  ] from "./project.st.css";
@st-import ProgressCircle, [
    --loader-circle-track-color,
    --loader-circle-track-fill-color
  ] from "../../Progress/progressCircle.st.css";

@st-scope Shelley {
  ProgressCircle {
    --loader-circle-track-fill-color: var(--color-tone-lead);
    --loader-circle-track-color: rgba(var(--color-ui-raw), 0.2)
  }

  ProgressCircle:variant(overBackground) {
    --loader-circle-track-fill-color: var(--color-tone-lead);
    --loader-circle-track-color: rgba(var(--color-ui-raw), 0.2)
  }
}
