/**
 * = Shelley
 * 
 * The goal of the project file is to contain the CSS commons for the project, 
 * including variables, component variants and any shared classes.
 *
 * This is the Shelley project file which contanis overrides of the Base 
 * project file and is specific to British Council applications and websites
 *
 * We have included the British Council brand colours as stylable rgb values 
 * so they can be imported and used in a higher level project file likely specific
 * to a particular application or website.
 */
@st-namespace "Shelley";

/* We import ALL of the variables so that they can imported from one place
 * and we override the values that we need to for this theme. */
@st-import [
  --light-01-rgb,
  --light-01,
  --dark-01-rgb,
  --dark-01,
  --dark-02-rgb,
  --dark-02,
  --bg-main,
  --bg-secondary,
  --color-brand,
  --color-ui,
  --color-ui-inverse,
  --color-ui-rgb,
  --color-ui-rgb-inverse,
  --color-focus,
  --color-error,
  --box-shadow,
  --tone-lead,
  --tone-support,
  --tone-info,
  --tone-success,
  --tone-warning,
  --tone-danger,
  --tone-light,
  --tone-dark,
  --tone-contrast,
  --tone-lead-subtle,
  --tone-support-subtle,
  --tone-info-subtle,
  --tone-success-subtle,
  --tone-warning-subtle,
  --tone-alert-subtle,
  --tone-dark-subtle,
  --tone-light-subtle,
  --tone-contrast-subtle,
  --radius,
  --radius-sm,
  --radius-lg,
  --radius-xl,
  --radius-xxl,
  --field-border-color,
  --field-border-color-hasValue,
  --field-border-width,
  --field-bg,
  --field-bg-fill,
  --field-focus-color,
  --field-help-text-color,
  --field-padding,
  --field-placeholder-color,
  --field-radius,
  --field-selection-mark-color,
  --switch-unchecked-color,
  --switch-border-width,
  --label-font-weight,
  --label-color,
  --button-radius,
  --button-border-width,
  --progress-fill-color,
  --font-family-base,
  --font-family-heading,
  --font-family-title,
  --text-heading-color,
  --link-color,
  --menu-bg,
  --option-item-bg-hover,
  --modal-backdrop-bg,
  --dialog-bg,
  --dialog-color,
  --dialog-radius,
  --popup-bg,
  --popup-color,
  --popup-border-width,
  --popup-border-color,
  --popup-drop-shadow,
  --popup-radius,
  --notification-radius,
  --notification-header-color,
  --html-resp-scale,
  --html-resp-max,
  --spacing-unit
] from "../default/project.st.css";

/*=== Stylable Variables - 'build time' ===*/
:vars {
  /* = Brand Colour Palette =*/
  /* brand */
  indigo-rgb: 35, 8, 90;
  /* mid-tones */
  yellow-rgb: 255, 227, 0;
  orange-rgb: 255, 130, 0;
  red-rgb: 234, 0, 52;
  pink-rgb: 255, 0, 200;
  purple-rgb: 178, 94, 255;
  blue-rgb: 0, 220, 255;
  teal-rgb: 0, 237, 195;
  green-rgb: 93, 235, 75;
  petrol-rgb: 3, 92, 103;
  cool-grey-rgb: 137, 138, 141;
  brown-rgb: 126, 60, 35;
  /* darks */
  dark-yellow-rgb: 228, 184, 0;
  dark-orange-rgb: 255, 70, 53;
  dark-red-rgb: 171, 0, 51;
  dark-pink-rgb: 146, 0, 97;
  dark-purple-rgb: 119, 22, 189;
  dark-blue-rgb: 0, 92, 185;
  dark-teal-rgb: 0, 157, 140;
  dark-green-rgb: 0, 149, 59;
  dark-petrol-rgb: 0, 59, 74;
  dark-cool-grey-rgb: 84, 86, 90;
  dark-brown-rgb: 71, 32, 41;
  /* lights */
  light-yellow-rgb: 255, 228, 158;
  light-orange-rgb: 255, 194, 136;
  light-red-rgb: 255, 186, 184;
  light-pink-rgb: 255, 160, 215;
  light-purple-rgb: 211, 184, 255;
  light-blue-rgb: 151, 218, 255;
  light-teal-rgb: 153, 237, 209;
  light-green-rgb: 192, 223, 136;
  light-petrol-rgb: 124, 167, 173;
  light-cool-grey-rgb: 200, 200, 200;
  light-brown-rgb: 220, 191, 165;
}

.BCThemeScope {
  -st-global: ':root[data-theme*="bc-theme"]';
}

/*=== Root Level CSS Variables - 'run time' ===*/
.BCThemeScope {

  --bg-secondary: rgba(244, 244, 244, 1);
  --color-brand: rgb(value(indigo-rgb));

  /* = Indicators */
  --color-focus: rgb(value(orange-rgb));
  --color-error: rgb(value(dark-red-rgb));

  /* = Tone colours - assign branded colours */
  --tone-lead: rgb(value(dark-blue-rgb));
  --tone-support: rgb(value(dark-purple-rgb));
  --tone-info: rgb(value(dark-teal-rgb));
  --tone-success: rgb(value(dark-green-rgb));
  --tone-warning: rgb(value(dark-orange-rgb));
  --tone-danger: rgb(value(red-rgb));

  /* Tones - subtle */
  --tone-lead-subtle: #F2EAFF;
  --tone-support-subtle: #F2EAFF;
  --tone-info-subtle: #CBECFF;
  --tone-success-subtle: #CCEAD8;
  --tone-warning-subtle: #FFF1CE;
  --tone-alert-subtle: #FFDCDB;

  /* = Forms */
  --switch-unchecked-color: #999999;
  --field-focus-color: rgb(value(dark-blue-rgb));

  /* = Fonts */
  --font-family-base: Arial, sans-serif;
  --font-family-heading: "BCSans", var(--font-family-base);
  --font-family-title: "BCSansHeading", var(--font-family-base);
}
