/**
 * Shelley Project - project.st.css
 * 
 * Our main project which is essentially a theme but it itself can have themes
 * so 'project' is more appropriate.
 *
 * This project is to be used in conjunction with Shelley's 'default' 
 * styles|theme|project whatever you want to call it.
 *
 * Shelley's default provides the base and this sits on top of that and here
 * we can import and override the CSS variables declared as part of the default. 
 * We also set all of our project specifics such as colours and fonts. 
 *
 * Limitatons: We use CSS vars so IE11 is mostly out the window. We are also 
 * unable to use override the values of the breakpoints and that's about it.
 *
 * You are able to clone our default and just use that as a fork and go from 
 * there, that way you can override everything at the base and use that as your
 * go to for your projects. Up to you.
 */

@st-namespace "Shelley";

/* = Default project vars to be overridden. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --color-focus,
    --color-error,
    --color-form-base-border,
    --color-form-selection-border,
    --color-form-selection-notch,
    --color-switch-notch,
    --color-background-textField-filled,
    --spacing-unit,
    --grid-gap,
    --grid-v1-cols-xs,
    --grid-v1-cols-sm,
    --grid-v1-cols-md;
}



/*=== BUILD-TIME 'VARIABLE' DEFINITIONS ===*/

:vars {
  /** Fonts - Could be CSS Vars if changing them in a switcher for example. */
  font-plain:
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-special:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-mono:
    Menlo, Courier, Courier New, Andale Mono, monospace;

}

/*=== Root Level CSS Variables - 'run time' ===*/

.root {

  /*=== COLOURS - The Queens English darling... ===*/

  /* = Core light - always light or dark regardless of theme. */
  --light-01-raw: 255, 255, 255;
  --light-01: rgb(255, 255, 255);

  /* = Core dark . */
  --dark-01-raw: 51, 51, 51;
  --dark-01: rgb(51, 51, 51);
  /* = 'raw' are just the rgb values we we can use them with rgba 
   * where we can provide the alpha yet still have the raw value change
   * for our style-switcher and within lots of alpha variant vars. 
   * 
   * e.g color: rgba(var(--color-ui-raw), 0.9);
   */

  /* = Foreground colours - main and inverted plus rgb versions as 'raw'. */
  --color-ui: var(--light-01);
  --color-ui-inverse: var(--dark-01);
  --color-ui-raw: var(--light-01-raw);
  --color-ui-raw-inverse: var(--dark-01-raw);

  /* = Background colours */
  --background-color-main: rgb(23, 26, 35);
  --background-color-item-hover: rgba(var(--light-01-raw), 0.1);
  --background-color-contrast-1: #000;

  /* = Text colours */
  --color-text-1: var(--light-01);
  --color-text-2: rgba(var(--light-01-raw), 0.6);
  --color-text-3: rgba(var(--light-01-raw), 0.8);
  --color-text-4: #f7e1b9;

  --color-text-help: rgba(var(--color-ui-raw), 0.6);

  /* = Form colours */
  --color-form-switch-notch: var(--color-tone-support);
  --color-form-selection-notch: var(--color-tone-support);
  --color-background-textField-filled: var(--background-color-contrast-1);

  /* = Table colours */
  --color-background-row: var(--background-color-contrast-1);
  --color-text-row: var(--color-text-3);
  --color-background-row-isPressed: #1c1c1c;
  --color-text-row-isPressed: var(--color-text-3);
  --color-background-row-isSelected: #2b2e3b;
  --color-text-row-isSelected: var(--color-text-3);
  --color-background-row-isHovered: #2c2c2c;
  --color-text-row-isHovered: var(--color-text-3);
  --color-background-row-isHoveredSelected: #252835;
  --color-text-row-isHoveredSelected: var(--color-text-3);
  --color-border-tbody: rgba(var(--color-ui-raw), .15);

  /* = Toast colours */
  --background-color-neutral: rgb(106, 106, 106);
  --background-color-info: rgb(125 2 220);
  --background-color-success: rgb(0, 122, 77);
  --background-color-warning: rgb(255, 102, 0);
  --background-color-danger: rgb(211, 21, 16);

  /* = Tone colours */
  --color-tone-lead: #18ffd8;
  --color-tone-support: #75eaff;
  --color-tone-info: #cac3ff;
  --color-tone-success: #1cffab;
  --color-tone-warning: #ffba8c;
  --color-tone-danger: #ff8f8c;
  --color-tone-light: rgb(240 240 240 / 0.9);
  --color-tone-dark: rgb(79 79 79 / 0.9);
  --color-tone-contrast: rgba(var(--color-ui-raw), .8);
}


/*=== Root Level CSS ===*/

/** 
 * This ideally will just be a spinkling of higher level styles that use 
 * variables. For the reset globals we set them in ./allGlobals.st.css 
 * which is pulled in within index.ts */
.root {
  font-family: value(font-plain);
  color: var(--color-ui);
  background-color: var(--background-color-main);
}
