/**
 * = STYLE INFO - styleInfo.st.css
 * 
 * ========================================================================= */

:import {
  -st-from: "../default/project.st.css";
  -st-named: --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
}

/* = Root Component */
:import {
  -st-from: "../../components-site/StyleInfo/styleInfo.st.css";
  -st-default: StyleInfo;
}

@st-scope Shelley {

  StyleInfo {
    margin-top: calc(var(--spacing-unit) * 4);
    margin-bottom: calc(var(--spacing-unit) * 4)
  }

  StyleInfo::html,
  StyleInfo::css {
    overflow-x: auto
  }

  StyleInfo::css {}

  StyleInfo::meta {
    align-self: flex-end;
    position: relative;
    top: -1.4rem;
  }
}
