/* tableView.st.css */
/* = Shelley project scope and vars */
@st-import Shelley, [
    --color-ui,
    --color-ui-inverse,
    --color-ui-raw,

    --color-text-3,
    --color-focus,
    --color-ui-raw-inverse,
    --background-color-main,
    --background-color-contrast-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4
  ] from "./project.st.css";
/* Component API */
@st-import TableView, [row] from "../../components/TableView/tableView.st.css";
@st-import [
  --color-background-row,
  --color-text-row,
  --color-background-row-isPressed,
  --color-text-row-isPressed,
  --color-background-row-isSelected,
  --color-text-row-isSelected,
  --color-border-tbody
] from "../default/tableView.st.css";

@st-scope Shelley {
  TableView {
    --color-background-row: var(--background-color-contrast-1);
    --color-text-row: var(--color-text-3);
    --color-background-row-isPressed: #f3f3f3;
    --color-text-row-isPressed: black;
    --color-background-row-isSelected: #e9f0fc;
    --color-text-row-isSelected: var(--color-text-3);
    --color-border-tbody: rgba(var(--color-ui-raw), .15);
  }

  TableView::headerRow {
    background-color: var(--background-color-main);
    box-shadow: 0px 1px 1px var(--color-border-tbody);
  }

  TableView::thead {
    border-color: var(--background-color-main)
  }

  TableView::row:isSelected {
    /* border: 1px solid var(--color-focus);
    border-collapse: collapse;
    box-shadow: inset 0 0 0 1px var(--color-focus); */
    /* box-shadow: inset 2px 0 0 0 var(--color-focus); */
    /* position: relative;
    top: -1px */
  }

  TableView::row:isSelected:isFocusVisible {}

  TableView::row:isSelected:isFocusVisible {
    /* box-shadow: inset 0 0 0 1px var(--color-focus); */
  }

  TableView::row:isSelected + .row:isSelected {
    /* background-color: green !important; */
    /* box-shadow: none; */
    /* border: 1px solid var(--color-focus); */
  }

}
