/* tableView.st.css */
/* = Shelley project scope and vars */
@st-import Shelley, [
    --color-ui,
    --color-ui-inverse,
    --color-ui-raw,

    --color-text-3,
    --color-focus,
    --color-ui-raw-inverse,
    --background-color-main,
    --background-color-contrast-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4
  ] from "./project.st.css";
/* Component API */
@st-import TableView, [row] from "../../components/TableView/tableView.st.css";
@st-import [
  --color-background-row,
  --color-text-row,
  --color-background-row-isPressed,
  --color-text-row-isPressed,
  --color-background-row-isSelected,
  --color-text-row-isSelected,
  --color-background-row-isHoveredSelected,
  --color-text-row-isHoveredSelected,
  --color-border-tbody
] from "../default/tableView.st.css";

@st-scope Shelley {
  TableView {
    --color-background-row: var(--background-color-contrast-1);
    --color-text-row: var(--color-text-3);
    --color-background-row-isPressed: #f3f3f3;
    --color-text-row-isPressed: black;
    --color-background-row-isSelected: #e9f0fc;
    --color-text-row-isSelected: var(--color-text-3);
    --color-border-tbody: rgba(var(--color-ui-raw), .15);
    --color-background-row-isHoveredSelected: #dfedff;
    --color-text-row-isHoveredSelected: var(--color-text-3);
  }

  TableView::column {
    background-color: var(--background-color-main);
  }

}
