@namespace "ShelleyTableView";
@st-import Shelley, [
    --background-color-main,
    --color-background-row as --project-color-background-row,
    --color-text-row as --project-color-text-row,
    --color-background-row-isPressed as --project-color-background-row-isPressed,
    --color-text-row-isPressed as --project-color-text-row-isPressed,
    --color-background-row-isSelected as --project-color-background-row-isSelected,
    --color-text-row-isSelected as --project-color-text-row-isSelected,
    --color-background-row-isHovered as --project-color-background-row-isHovered,
    --color-text-row-isHovered as --project-color-text-row-isHovered,
    --color-background-row-isHoveredSelected as --project-color-background-row-isHoveredSelected,
    --color-text-row-isHoveredSelected as --project-color-text-row-isHoveredSelected,
    --color-border-tbody as --project-color-border-tbody
  ] from "./project.st.css";
@st-import TableView, [row] from "../../TableView/tableView.st.css";
@st-import [
  --color-background-row,
  --color-text-row,
  --color-background-row-isPressed,
  --color-text-row-isPressed,
  --color-background-row-isSelected,
  --color-text-row-isSelected,
  --color-background-row-isHovered,
  --color-text-row-isHovered,
  --color-background-row-isHoveredSelected,
  --color-text-row-isHoveredSelected,
  --color-border-tbody
] from "../default/tableView.st.css";

@st-scope Shelley {
  TableView {
    --color-background-row: var(--project-color-background-row);
    --color-text-row: var(--project-color-text-row);
    --color-background-row-isPressed: var(--project-color-background-row-isPressed);
    --color-text-row-isPressed: var(--project-color-text-row-isPressed);
    --color-background-row-isSelected: var(--project-color-background-row-isSelected);
    --color-text-row-isSelected: var(--project-color-text-row-isSelected);
    --color-background-row-isHovered: var(--project-color-background-row-isHovered);
    --color-text-row-isHovered: var(--project-color-text-row-isHovered);
    --color-background-row-isHoveredSelected: var(--project-color-background-row-isHoveredSelected);
    --color-text-row-isHoveredSelected: var(--project-color-text-row-isHoveredSelected);
    --color-border-tbody: var(--project-color-border-tbody);
  }

  TableView::column {
    background-color: var(--background-color-main);
  }

}
