/**
 * = INPUT TEXT - textField.st.css
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "../default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope. */
:import {
  -st-from: "./project.st.css";
  -st-default: Shelley;
}

/* = Root Component */
:import {
  -st-from: "../../components/TextField/textField.st.css";
  -st-default: TextField;
}


@st-scope Shelley {

  /* = Base styles taken care of by Field. */
  TextField {}
}
