@st-namespace "ShelleyToast";
@st-import Shelley, [
  --background-color-neutral,
  --background-color-info,
  --background-color-success,
  --background-color-warning,
  --background-color-error] from "./project.st.css";

@st-import Toast from "../../Toast/toast.st.css";

@st-scope Shelley {

  Toast:priority(neutral) {
    background: var(--background-color-neutral)
  }

  Toast:priority(info) {
    background: var(--background-color-info)
  }

  Toast:priority(success) {
    background: var(--background-color-success)
  }

  Toast:priority(warning) {
    background: var(--background-color-warning)
  }

  Toast:priority(error) {
    background: var(--background-color-error)
  }
}
