@st-import Shelley from "./project.st.css";

@st-import Toast from "../../components/Toast/toast.st.css";

:import {
  -st-from: "../default/project.st.css";
  -st-named:
    breakpoint-sm;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@st-scope Shelley {

  Toast::toast[data-animation=entering] {
    animation: slide-in 1s forwards;
  }

  Toast::toast[data-animation=queued] {
    animation: fade-in 1s forwards;
  }

  Toast::toast[data-animation=exiting] {
    animation: slide-out 1s forwards;
  }

  Toast::toast {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background: slateblue;
    color: white;
    padding: 12px 16px;
    border-radius: 8px;
    position: relative;
  }

  Toast::actionButton {
    border: 1px solid white;
  }

  Toast::closeButton {
    background: none;
    border: none;
    appearance: none;
    color: white;
    padding: 0;
    margin-left: 16px;
    margin-right: 4px;
  }

  Toast::toast button:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px slateblue, 0 0 0 4px white;
  }

  Toast::toast button:active {
    background: rgba(255, 255, 255, 0.2);
  }

  Toast::actionButton {
    color: inherit;
  }

  Toast::actionAndCloseWrapper {
    display: flex;
  }

  Toast::closeButtonWrapper {
    border-left: 1px solid white;
    margin-left: 8px;
    display: flex;
  }

  Toast::iconAndTitleWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  Toast::toast svg {
    color: white;
    font-size: 22px;
  }

}
