/**
 * = Utilities / Common - utils.st.css
 *
 * Some helpful bits that can be used by themselves, depending on 
 * the specificity of properites already set that is... and you are able 
 * to use these as mixins within your component styles.
 * 
 * ========================================================================= */



/* = Simple box for housing a component example. */
.exampleBox {
  padding: 64px;
  padding-top: 54px;
  border: 1px dashed rgba(255, 255, 255, 0.13);
  margin-top: 48px;
  margin-bottom: 48px;
}
