/** inputText.st.css */
@namespace "InputText";

/* .select {
  -st-states: disabled, error, labelPos(enum(above, below, start, end));
} */

:import {
  -st-from: '../InputBase/inputBase.st.css';
  -st-default: InputBase
}

.root {
  -st-extends: InputBase;
}

/* .inputFeild {} */

/* Types - Top level type classes should you need to target them. */

.email {}

.number {}

.password {}

.search {}

.tel {}

.text {}

.textarea {}

.time {}

.url {}


/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.textareaWrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid !important;
}

.textareaWrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-value) " ";
  /* This is how textarea text behaves */
  white-space: pre-wrap;
  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.textareaInput {
  color: inherit;
  background-color: transparent;
  outline: none;
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.textareaInput,
.textareaWrap::after {
  /* Identical styling required! */
  padding: 0;
  border: none;
  font: inherit;
  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
