@st-namespace "tag";

@st-import IconButton from "../Button/iconButton.st.css";
@st-import Text from "../Text/text.st.css";

.root {
  -st-states:
    hasRemoveButton,
    isFocusVisible,
    isFocused,
    isDisabled,
    isHovered,
    isPressed,
    isSelected;
  -st-extends: Text;
}

.content {}

.removeButton {
  -st-extends: IconButton;
}
