/** inputRow.st.css */

.root {
  -st-states: disabled, error;
}


.root {}

.inputLabel {}

.fieldContainer {}

.textAreaWrap {}

.fieldInput {}

.errorMessage {}

/* Variants */

.variant1 {}

.variant2 {}

.variant3 {}

.variant4 {}

.variant5 {}

.variant6 {}


/* Volume */

.vol1 {}

.vol2 {}

.vol3 {}

.vol4 {}

.vol5 {}

.vol6 {}


/* Types */

.email {}

.number {}

.password {}

.search {}

.tel {}

.text {}

.textarea {}

.time {}

.url {}
