@namespace "ToastRegion";

.root {
  -st-states: isFocusVisible;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  z-index: 9999;
  left: 0;
  right: 0;
  bottom: 0;
}
