@st-namespace "toast";
@st-import Button from "../Button/button.st.css";
@st-import IconButton from "../Button/iconButton.st.css";

.root {
  -st-states: priority(enum(neutral, info, success, warning, error));
}

.closeButton {
  -st-extends: IconButton;
}

.actionButton {
  -st-extends: Button;
}

.actionAndCloseWrapper {}

.closeButtonWrapper {}

.iconAndTitleWrapper {}
