/**
 * = Alternate colour scheme - Light
 *
 * These are our alternate color schemes, only variable aware browers will see 
 * these so no need to set that as stylable build variables unless you want to.
 * Try to stay organised.
 */

@namespace "light";

:import {
  -st-from: "../project.st.css";
  -st-named:
    --color-focus,
    --color-error,
    --color-text-help,
    --color-form-base-border,
    --color-form-selection-border,
    --color-form-selection-notch,
    --color-switch-notch,
    --select-icon,

    --color-background-row,
    --color-text-row,
    --color-background-row-isPressed,
    --color-text-row-isPressed,
    --color-background-row-isSelected,
    --color-text-row-isSelected,
    --color-background-row-isHovered,
    --color-text-row-isHovered,
    --color-background-row-isHoveredSelected,
    --color-text-row-isHoveredSelected,
    --color-border-tbody;

}

:import {
  -st-from: "../project.st.css";
  -st-named:
    /* = Run time vars (CSS) - importing maintains the namespace. */
    --dark-01,
    --dark-01-raw,
    --light-01,
    --light-01-raw,
    /* = Forground colours - main and inverted plus rgb versions as 'raw'. */
    --color-ui,
    --color-ui-raw,
    --color-ui-inverse,
    --color-ui-raw-inverse,
    /* = Accent colours */
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4,
    /* = Background colours */
    --background-color-main,
    --background-color-contrast-1,
    /* = Text colours */
    --color-text-1,
    --color-text-2,
    --color-text-3,
    --color-text-4;
}

/* 
  = This 'theme' overrides some of the css variables defined in the project.st.css file,
  replacing the entire design of the application.
 */
.root {
  /* = Override our CSS runtime variables, if our user prefers it light as a feather. */

  /* = Forground colours - main and inverted plus rgb versions as 'raw'. */
  --color-ui: var(--dark-01);
  --color-ui-raw: var(--dark-01-raw);
  --color-ui-inverse: var(--light-01);
  --color-ui-raw-inverse: var(--light-01-raw);

  /* = Accent colours */
  --color-accent-1: rgb(15, 108, 189);
  --color-accent-2: rgb(3, 123, 70);
  --color-accent-3: rgb(171, 45, 201);
  --color-accent-4: rgb(134, 102, 30);

  /* = Background colours */
  --background-color-main: rgba(239, 239, 239, 1);
  --background-color-contrast-1: #fff;


  /* = Text colours */
  --color-text-1: var(--dark-01);
  --color-text-2: rgba(var(--dark-01-raw), 0.9);
  --color-text-3: rgba(var(--dark-01-raw), 0.8);
  --color-text-4: rgb(134, 102, 30);

  --color-text-help: rgba(var(--color-ui-raw), 0.9);

  /* = Status colours - TBC */

  /* = Indicator colours */

  /* = Form colours */
  --color-form-base-border: rgba(121, 170, 216, 0.5);
  --color-form-selection-border: rgba(121, 170, 216, 1);
  --color-form-selection-notch: #20af68;
  --color-switch-notch: #a5a5a5;

  /* = Gradiants */
  --grad-1: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 200px, rgba(255, 255, 255, 0.5) 500px, rgba(255, 255, 255, 0.8) 100%);


  /* = Table colours */
  --color-background-row: var(--background-color-contrast-1);
  --color-text-row: var(--color-text-3);
  --color-background-row-isPressed: #f3f3f3;
  --color-text-row-isPressed: var(--color-text-3);
  --color-background-row-isSelected: #e9f0fc;
  --color-text-row-isSelected: var(--color-text-3);
  --color-background-row-isHovered: GhostWhite;
  --color-text-row-isHovered: var(--color-text-3);
  --color-background-row-isHoveredSelected: #dfedff;
  --color-text-row-isHoveredSelected: var(--color-text-3);
  --color-border-tbody: rgba(var(--color-ui-raw), .15);

  /* = Misc */
}
