.root {
  -st-states:
    iconPos(enum(top, end, bottom, start)),
    isQuiet,
    fullWidth,
    tone(number),
    vol(number),
    isPressed,
    isFocusVisible,
    isDisabled;
}

/* The 'inner' button. */
.inner {}

/* The divider which is rendered with an icon only. */
.divider {}


.root {
  display: inline-flex;
  justify-content: space-between;
  /* = Explicitly set font-family else it will default to system style. */
  font-family: inherit;
  /* = Vertical content alignment - kicks in when heights are 'known'. */
  align-items: center;
  /**
   * = Opininated: Some disagree with setting cursor: pointer (the hand) on 
   * interactive elements arguing system controls don't do this. Meh, for 
   * us it offers an additional cue to interaction which we feel asserts 
   * confidence. Many sites do this so perhaps it's expected by many users. 
   */
  cursor: pointer;
  /* = Horizontal alignment. */
  justify-content: center;
  /* = Safari spacing issue with button groups MacOs and IOS. */
  margin: 0;
}

/* top */
.root:iconPos(top) {
  flex-direction: column;
}

/* end / right */
.root:iconPos(end) {
  flex-direction: row-reverse;
}

/* bottom */
.root:iconPos(bottom) {
  flex-direction: column-reverse;
}

/* start / left */
.root:iconPos(start) {
  flex-direction: row;
}
