/* table.st.css CSS API */
.root {}

/* Styles applied to the root element. */
.root {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.root caption {
  /* ...theme.typography.body2; */
  padding: 0;
  /* color: theme.palette.text.secondary; */
  text-align: left;
  caption-side: bottom;
}

/* Styles applied to the root element if `stickyHeader={true}`. */
/* stickyHeader {
  border-collapse: separate;
} */
