/* hintText.st.css */

.root {}


.root {
  font-size: .75rem;
  display: flex;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  .root {
    font-size: .65rem;
  }
}
