:import {
  -st-from: "../style/project.st.css";
  -st-default: Default;
  -st-named:
    spacing-unit,
    --color-ui-default,
    --color-background-1-default,
    /* = CSS3 Switcher vars. */
    --color-background-1,
    --color-ui;
}

.navbar {
  background: var(--color-background-1, value(--color-background-1-default));
}

.title {
  text-decoration: none;
  display: inline-flex;
  /* margin-left: 27px; */
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}


.controls {
  display: inline-flex;
  justify-content: flex-end;
}

.inner {
  padding: 0.8rem calc(value(spacing-unit) * 3);
  /* background: rgba(76, 76, 76, 0.4392156862745098); */
  position: relative;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
}

.footer {
  margin-top: 25vh;
  background: rgba(76, 76, 76, 0.4392156862745098);
}































.logo {
  display: inline-flex;
  /* transform: scale(.6); */
  transform-origin: 100% 120%;
  /* margin-top: -100%;
  margin-left: -96px; */
}

.logo::before,
.logo::after {
  content: "";
  display: flex;
  height: 94px;
  width: 94px;
  border: 3px solid var(--color-ui, value(--color-ui-default));
  border-radius: 500px
}

.logo::before {
  box-shadow: 2px 0px 3px #1acaff;
}

.logoInner {
  height: 94px;
  margin-left: -50px;
  margin-right: -50px;
  margin-left: -47px;
  margin-right: -47px;
  position: relative;
  display: flex;
  width: 47px;
  background: var(--color-background-1, value(--color-background-1-default))
}

.logo::after {
  box-shadow: -2px 0px 3px #1acaff;
}
