/**
 * = Clearfix
 *
 * Just because we use CSS3 doesn't mean we throw all of our old tools away. ;-)
 * It probably does... anyway,  we like a bit of history: 
 * https://css-tricks.com/snippets/css/clear-fix/
 */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
