/**
 * = PSEUDO FOCUS - mixins/focus.st.css
 * 
 * ========================================================================= */

@st-import [
  --spacing-unit,
  --color-focus
] from "../project.st.css";

/* = pseudoFocus mixin. */
.pseudoFocus {
  display: block;
  content: "";
  position: absolute;
  inset: -2px;
  opacity: 0;
  transition: opacity 120ms;
  box-shadow: 0 0 1px 2px var(--color-focus);
}

.pseudoFocusVisible {
  opacity: 1
}
