@st-namespace "menuListMixin";

@st-import [
  --spacing-unit,
  --color-focus,
  --color-ui-inverse,
  --option-item-bg-hover,
  --field-focus-color
] from "../project.st.css";
@st-import [focus, focusVisible] from "./focus.st.css";

.menuList {
  outline: none;
  padding: 0.25rem 0;
  font-size: 87%;
  margin-top: 4px;
  margin-bottom: 4px;
  white-space: nowrap;
  min-width: 160px;
}

.menuItem {
  display: grid;
  grid-template-columns: calc(var(--spacing-unit) / 2) auto 1fr 24px auto auto calc(var(--spacing-unit) / 2);
  grid-template-areas:
    ". . . . . . ."
      ".icon text checkmark end keyboard."
      ".icon description checkmark end keyboard."
      ". . . . . . .";
  grid-template-rows: calc(var(--spacing-unit) / 2) 1fr auto calc(var(--spacing-unit) / 2);
  user-select: none;
  color: inherit;
  font: inherit;
  outline: none;
  /* border-left: 2px solid transparent; */
  cursor: pointer;
  position: relative;
}

.menuItem::after {
  -st-mixin: focus;
  inset: 0;
}

.menuItemHover {
  background-color: var(--option-item-bg-hover);
}

.menuItemFocusVisible::after {
  -st-mixin: focusVisible;
}

.menuItemDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.menuItemText {
  grid-area: text;
}

.menuItemSelectedIcon {
  grid-area: checkmark;
  place-self: center end;
  font-size: 11px;
  color: var(--color-focus);
}
