@st-namespace "Label";

.root {
  -st-states:
    hasInput,
    inputPosition(enum(top, end, bottom, start));
  /* = Flex enables our positional styles, grid could work too. */
  display: flex;
  justify-self: baseline;
}

.text {}

.root:hasInput {
  display: inline-flex;
  /* = Reverse the direction as we provide the label first as per logical source order. */
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

/*==== Input Positions ====*/

/* = top */
.root:inputPosition(top):hasInput {
  flex-direction: column-reverse;
}

.root:inputPosition(top)::text {
  justify-content: center;
}

/* = end / right */
.root:inputPosition(end):hasInput {
  flex-direction: row;
}

.root:inputPosition(end)::text {
  justify-content: flex-end;
}

/* = bottom */
.root:inputPosition(bottom):hasInput {
  flex-direction: column;
}

.root:inputPosition(bottom)::text {
  justify-content: center;
}
