/* = Shelley project scope and vars. */
:import {
  -st-from: "../project.st.css";
  -st-default: Shelley;
  -st-named:
    --color-focus-default,
    /* = CSS3 Switcher vars. */
    --color-focus;
}

/**
 * = Pseudo focus shared styles.
 */
.pseudoFocus {
  /*= Give us that 'glow' effect for the focused state.*/
  box-shadow: 0 0 1px 2px value(--color-focus-default);
  box-shadow: 0 0 1px 2px var(--color-focus, value(--color-focus-default));
}
