/** inputSelection.st.css */
@namespace "InputSelect";

:import {
  -st-from: '../InputBase/inputBase.st.css';
  -st-default: InputBase
}

:import {
  -st-from: '../Button/button.st.css';
  -st-default: Button
}

.root {
  -st-extends: InputBase;
}

.trigger {
  -st-extends: Button;
}

.placeholder {
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
