/** inputSelection.st.css */
/* .select {
  -st-states: disabled, error, labelPos(enum(above, below, start, end));
} */

:import {
  -st-from: '../InputBase/inputBase.st.css';
  -st-default: InputBase
}

.root {
  -st-extends: InputBase;
}

.inputFeild {}
