.pitch {
  background-color: #10c573;
}

.pitchArea {
  /* calc(4.6vw * 3) */
  grid-row: 1;
  height: 55vh;
  border: 1px dashed #fff;
  background-color: rgba(0, 0, 0, .3);
  border-width: 0 1px;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.pitchArea code {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

.pitchArea code:last-child {
  margin-left: auto;
}

.pitchArea:first-child code {
  margin-top: 4rem
}

.pitchArea:nth-child(2) code {
  margin-top: 0
}


.pitchArea:nth-child(3) code {
  margin-top: -4rem
}

.pitchArea:last-child code {
  margin-top: -8rem
}
